---
title: Home - Internal 
description: Provide a description for this page.
permalink: /home-external/
---

{% extends "layouts/base.njk" %}
{% block content %}
	{% include '2-layout-blocks/featured-events.njk' %}
	{% include '2-layout-blocks/featured-agency.njk' %}
	{% include '2-layout-blocks/featured-sponsors.njk' %}
	{% if content %}
		{% include '1-mambo-blocks/content.njk' %}
	{% endif %}
{% endblock %}
