<section class="[ mambo-section ][ flex-flow flex-flow-column flex-flow-start ][ padding-all-32 medium:padding-all-64 large:padding-all-120 ][ {{ sectionOneBackgroundColor | safe }} {{sectionOneTextColor | safe }} ]" id="section-1">
	<div class="[ container-default ]">
		<h2>{{ sectionOneHeader | md | safe }}</h2>
		<hr class="divider">
		<div class="wysiwyg flow-3">{{ sectionOneBody | md | safe }}</div>
	</div>
</section>
