<section class="[ mambo-section ][ padding-all-32 medium:padding-all-64 large:padding-all-120 ][ {{ sectionTwoBackgroundColor | safe }} {{sectionTwoTextColor | safe }} ]" id="section-2">
	<div class="[ container-default ]">
		<h2>{{ sectionTwoHeader | md | safe }}</h2>
		<hr class="divider">
		<div class="wysiwyg flow-3">{{ sectionTwoBody | md | safe }}</div>
	</div>
	<div class="[ container-default ]">
		FAQs List
	</div>
</section>
