/// BASE SIZE
/// All calculations are based on this. It’s recommended that
/// you keep it at 1rem because that is the root font size. You
/// can set it to whatever you like and whatever unit you like.
///
$gorko-base-size: 1.5rem;

/// SIZE SCALE
/// This is a Major Third scale that powers all the utilities that
/// it is relevant for (font-size, margin, padding). All items are
/// calcuated off the base size, so change that and cascade across
/// your whole project.
///
$gorko-size-scale: (
	"none": 0,
	"8": 0.5rem,
	"16": 1rem,
	"20": 1.25rem,
	"24": 1.5rem,
	"32": 2rem,
	"40": 2.5rem,
	"48": 3rem,
	"56": 3.5rem,
	"64": 4rem,
	"72": 4.5rem,
	"80": 5rem,
	"88": 5.5rem,
	"96": 6rem,
	"104": 6.5rem,
	"112": 7rem,
	"120": 7.5rem,
	"128": 8rem,
	"136": 8.5rem,
	"144": 9rem,
	"152": 9.5rem,
	"160": 10rem,
);

/// COLORS
/// Colors are shared between backgrounds and text by default.
/// You can also use them to power borders, fills or shadows, for example.
///
$gorko-colors: (
	"black": #000000,
	"white": #ffffff,
	"gray": #EBEBEB,
	"blue": #0000EE,
	"cream": #f6c84c,
	"teal": #00857a,
	"valencia": #cc4929,
	"zodiac": #143060,
);

/// CORE CONFIG
/// This powers everything from utility class generation to breakpoints
/// to enabling/disabling pre-built components/utilities.
///
$gorko-config: (
	"css-vars": (
		"color": $gorko-colors,
		"font-family": (
			"sans": "'League Spartan', sans-serif",
			"serif": "'Cormorant Garamond', serif",
		),
		"layer": (
			"0": -100,
			"1": 100,
			"2": 200,
			"3": 300,
			"4": 400,
			"5": 500,
			"6": 600,
			"7": 700,
			"8": 800,
			"9": 900,
			"10": 1000,
		),
		"size": $gorko-size-scale,
		"timing": (
			"default": 100ms,
		),
		"weight": (
			"100": 100,
			"200": 200,
			"300": 300,
			"400": 400,
			"500": 500,
			"600": 600,
			"700": 700,
			"800": 800,
			"900": 900,
		),
	),
	"background-color": (
		"items": "color",
		"css-vars": true,
		"output": "standard",
		"property": "background-color",
	),
	"border-color": (
		"items": "color",
		"css-vars": true,
		"output": "standard",
		"property": "border-color",
	),
	"color": (
		"items": "color",
		"css-vars": true,
		"output": "standard",
		"property": "color",
	),
	"font-align": (
		"items": (
			"start": "start",
			"center": "center",
			"end": "end",
		),
		"output": "standard",
		"property": "text-align",
	),
	"font-family": (
		"items": "font-family",
		"css-vars": true,
		"output": "standard",
		"property": "font-family",
	),
	"font-size": (
		"items": "size",
		"css-vars": true,
		"output": "responsive",
		"property": "font-size",
	),
	"font-weight": (
		"items": "weight",
		"css-vars": true,
		"output": "standard",
		"property": "font-weight",
	),
	"layer": (
		"items": "layer",
		"css-vars": true,
		"output": "standard",
		"property": "z-index",
	),
	"margin-all": (
		"items": "size",
		"css-vars": true,
		"output": "responsive",
		"property": "margin",
	),
	"margin-top": (
		"items": "size",
		"css-vars": true,
		"output": "responsive",
		"property": "margin-top",
	),
	"margin-right": (
		"items": "size",
		"css-vars": true,
		"output": "responsive",
		"property": "margin-right",
	),
	"margin-bottom": (
		"items": "size",
		"css-vars": true,
		"output": "responsive",
		"property": "margin-bottom",
	),
	"margin-left": (
		"items": "size",
		"css-vars": true,
		"output": "responsive",
		"property": "margin-left",
	),
	"padding-all": (
		"items": "size",
		"css-vars": true,
		"output": "responsive",
		"property": "padding",
	),
	"padding-top": (
		"items": "size",
		"css-vars": true,
		"output": "responsive",
		"property": "padding-top",
	),
	"padding-right": (
		"items": "size",
		"css-vars": true,
		"output": "responsive",
		"property": "padding-right",
	),
	"padding-bottom": (
		"items": "size",
		"css-vars": true,
		"output": "responsive",
		"property": "padding-bottom",
	),
	"padding-left": (
		"items": "size",
		"css-vars": true,
		"output": "responsive",
		"property": "padding-left",
	),
	"breakpoints": (
		"small": "screen and (min-width: 768px)",
		"medium": "screen and (min-width: 1024px)",
		"large": "screen and (min-width: 1366px)",
	),
);
