// * {
// 	outline: dashed 1px red;
// 	outline-offset: -1px;
// }

html {
  overflow-x: hidden;
}

body {
  background-color: var(--color-white);
  color: inherit;
  font-family: var(--font-family-sans);
  font-size: var(--size-18);
  line-height: 1.6;
  margin: auto;
  overflow-x: hidden;
}

@media screen and (min-width:64rem) {
  body {
    font-size: var(--size-20);
  }
}

a {
  color: inherit;
  cursor: pointer;
  font-family: var(--font-family-sans);
  font-weight: var(--weight-400);
  text-underline-offset: 4px;
  text-decoration-thickness: 4px;
  transition: opacity var(--timing-default) ease-in;
}

a:active {
  outline: 4px solid var(--color-black, inherit);
}

a:hover {
  cursor: pointer;
}

a:focus,
input:focus {

  /* Change the following variables in box shadow to experiment with different potential colors for DCDW's focus style, make sure one is dark and the other is light so they work on all different kinds of backgrounds 

	Credit to Ad Hoc's Scott Weber and DK for the writeup and code https://adhoc.team/2022/02/08/creating-focus-style-for-themable-design-system/ 

	Thank you to Josh Kim (https://www.joshkimux.com/index.html) for providing this example for the 2022 DC Design Week site. */
  box-shadow: 0 0 0 4px var(--color-white), 0 0 0px 4px var(--color-white);
  // Add support for Windows High Contrast Mode (WHCM)
  // The transparent color only shows when WHCM is triggered
  outline: 4px solid var(--color-valencia);
  outline-offset: 4px;
  overflow: hidden;
  position: relative;
  text-decoration-thickness: 0;
  z-index: var(--layer-1);
}

br {
  display: none;
}

figure {
  position: relative;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  display: block;
  text-rendering: optimizeLegibility;
}

fieldset,
legend,
ul {
  border: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  vertical-align: middle;
}

.disabled {
  cursor: not-allowed !important;
}

.enabled {
  cursor: pointer !important;
}

.mambo-documentation {
  background-color: var(--brand-aiga-dc);
  border-radius: 0.5rem;
  color: var(--color-white);
  margin: 1rem;
  padding: 1rem;
}
