// * {
//   outline: dashed 1px red;
//   outline-offset: -1px;
// }

html {
  overflow-x: hidden;
}

body {
  font-family: var(--dcdw-2022-brand-dm-sans);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
}

@media screen and (min-width:64rem) {
  body {
    font-size: var(--size-18);
  }
}

a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  transition: opacity var(--timing-default) ease-in;
}

a:focus,
input:focus {

  /* 💐 Change the following variables in box shadow to experiment with different potential colors for DCDW's focus style, make sure one is dark and the other is light so they work on all different kinds of backgrounds 

	Credit to Ad Hoc's Scott Weber and DK for the writeup and code https://adhoc.team/2022/02/08/creating-focus-style-for-themable-design-system/ 

	Thank you to Josh Kim (https://www.joshkimux.com/index.html) for providing this example for the 2022 DC Design Week site. */
  box-shadow: 0 0 0 4px currentColor, 0 0 0px 4px currentColor;
  // Add support for Windows High Contrast Mode (WHCM)
  // The transparent color only shows when WHCM is triggered
  outline: 4px solid transparent;
  outline-offset: 4px;
  position: relative;
  text-decoration: none;
  text-decoration-thickness: 0;
}

br {
  display: none;
}

figure {
  position: relative;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  display: block;
  line-height: initial;
  text-rendering: optimizeLegibility;
}

fieldset,
legend,
ul {
  border: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  vertical-align: middle;
}
