body {
	font-family: var(--font-serif);
	font-size: var(--font-size-20);
	line-height: 1.5;
	max-width: 120ch;
	margin: auto;
}

/* The emerging W3C standard that is currently Firefox-only */
* {
	scrollbar-width: 16px;
	scrollbar-color: var(--black) var(--cream);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
	max-width: 16px;
}

*::-webkit-scrollbar-track {
	background: var(--cream);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--black);
}

::selection {
	background-color: var(--black);
	color: var(--black);
}

a {
	color: var(--black);
	cursor: pointer;
	font-weight: 900;
	transition: opacity var(--timing-default) ease-in;
}

a:active {
	outline: 4px solid var(--black);
}

*:focus,
a:focus {
	outline: 4px solid var(--black);
}

br {
	display: none;
}

figure {
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
	display: block;
	text-rendering: optimizeLegibility;
}

fieldset,
legend,
ul {
	border: none;
	margin: 0;
	padding: 0;
}

svg {
	display: block;
	vertical-align: middle;
	width: 100%;
}

.disabled {
	cursor: not-allowed !important;
}

.enabled {
	cursor: pointer !important;
}

#skip-to-content {
	scroll-margin-top: 80px;
}

.skip-to-content:not(:focus):not(:hover) {
	transform: translateY(-200px);
	opacity: 0;
}

.skip-to-content {
	align-items: center;
	background-color: var(--black);
	color: var(--yellow);
	display: flex;
	font-weight: 900;
	height: 74px;
	justify-content: space-around;
	margin: auto;
	opacity: 1;
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	z-index: var(--index-10);
	transform: translateY(0px);
}

.skip-to-content:focus {
	outline: 4px solid black;
}
