@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {

    /* AIGA DC: Brand Colors */
    --brand-aiga-dc: #297b76;
    /* DCDW: Past Brand Colors */
    --dcdw-2016: #0000ff;
    --dcdw-2017: #3e07d0;
    --dcdw-2018: #297b76;
    --dcdw-2019: #fb7eb8;
    --dcdw-2020: #4ae725;
    --dcdw-2021: #ec1001;
}
