<!-- Wave -->
<div class="[ wave left ]" style="fill: var(--dcdw-2022-cream-secondary); background-color: var(--dcdw-2022-yellow-primary); !important; margin-bottom: -1px; stroke-width: 0 !important;">
  {% include '1-global-blocks/wave.njk' %}
</div>

<section class="[ mambo-section ]" data-color="maroon-secondary-on-cream-secondary" id="{{ sectionOne.sectionOneHeader | slug }}">
  <div class="[ container container-default ][ flow ]">
    <ul class="[ mambo-cards ][ grid-flow grid-three-columns ]" style="--gap: var(--size-64);">
      {% for member in members %}
        <li class="[ mambo-card committee ][ flow ]" style="--gap: var(--size-64);">
          <div class="[ image ]">
            <figure>
              <img alt="{{ member.imageAlt }}" class="blob blob-{{ member.blob }}" loading=lazy src="{{ member.image }}">
            </figure>
          </div>

          <div class="[ details ][ flow ]" style="--gap: var(--size-16);">
            <div class="[ meta ]">
              <h3 class="name">{{ member.name | safe }}</h3>
              {% if member.pronunciation %}
                <p class="pronunciation">{{ member.pronunciation | safe }}</p>
              {% endif %}
            </div>
            {% if member.pronouns %}
              <p class="pronouns">{{ member.pronouns | safe }}</p>
            {% endif %}
            {% if member.position %}
              <p class="position">{{ member.position | safe }}</p>
            {% endif %}
            {% if member.bio %}
              <p class="bio">{{ member.bio | safe }}</p>
            {% endif %}
            <div>
              {% if member.linkLabel1 %}
                <a aria-label="{{ member.linkARIALabel1 }}" href="{{ member.linkURL1 }}">{{ member.linkLabel1 }}</a>
              {% endif %}
              {% if member.linklabel2 %}
                <a aria-label="{{ member.linkARIALabel2 }}" href="{{ member.linkURL2 }}">{{ member.linkLabel2 }}</a>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
