{% if page.url == "/about/" %}
  <section class="[ mambo-section ][ flow ]" data-color="maroon-primary-on-white" id="{{ sectionOne.header | slug }}">
    <div class="[ container container-default ][ flow ]">
      <div class="[ grid-flow grid-four-columns ]">
        <div class="[ column-span-two ]">
          {% for content in featured.committee %}
            <h2>{{ content.header }}</h2>
            {% include "1-global-blocks/divider.njk" %}
            <p>{{ content.body | safe }}</p>
          {% endfor %}
        </div>
      </div>
      <ul class="[ mambo-cards ][ grid-flow grid-three-columns ]">
        {% for team in committee.teams %}
          <li class="[ mambo-card committee ]">
            <div class="[ media ]">
              <figure class="[ image ]">
                <img alt="{{ team.imageALT }}" loading=lazy src="{{ team.image }}">
              </figure>
            </div>
            <div class="[ details ][ flow ]">
              <a href="{{ team.url }}">
                <h3 class="[ title ]">{{ team.title }}</h3>
              </a>
              <div class="[ wysiwyg ]">
                {{ team.body }}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% for content in featured.committee %}
        <a aria-label="{{ content.linkAria }}" href="{{ content.linkURL }}">
          {{ content.linkLabel }}
        </a>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% if page.url == "/committee/" %}
  <section class="[ mambo-section ][ flow ]" data-color="maroon-primary-on-white" id="{{ sectionOne.header | slug }}">
    <div class="[ container container-default ][ flow ]">
      <ul class="[ mambo-cards ][ grid-flow grid-three-columns ]">
        {% for team in committee.teams %}
          <li class="[ mambo-card committee ]">
            <div class="[ media ]">
              <figure class="[ image ]">
                <img alt="{{ team.imageALT }}" loading=lazy src="{{ team.image }}">
              </figure>
            </div>
            <div class="[ details ][ flow ]">
              <a href="{{ team.url }}">
                <h3 class="[ title ]">{{ team.title }}</h3>
              </a>
              <div class="[ wysiwyg ]">
                {{ team.body }}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
