{% if page.url == "/about/" %}
  <section class="[ mambo-section ][ flow ]" data-color="maroon-primary-on-white" id="{{ sectionOne.header | slug }}">
    <div class="[ container container-default ][ flow ]">
      <div class="[ grid-flow grid-four-columns ]">
        <div class="[ column-span-two ]">
          {% for content in featured.committee %}
            <h2>{{ content.header }}</h2>
            {% include "1-mambo-blocks/divider.njk" %}
            <p>{{ content.body | safe }}</p>
          {% endfor %}
        </div>
      </div>
      <ul class="[ mambo-cards ][ grid-flow grid-three-columns ]">
        {% for card in committee.teams %}
          <li class="[ mambo-card committee ]">
            <div class="[ details ]">
              <a href="{{ card.url }}">
                <h3>{{ card.title | safe }}</h3>
              </a>
              <p>{{ card.members | md | safe }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% for content in featured.committee %}
        <a aria-label="{{ content.linkAria }}" href="{{ content.linkURL }}">
          {{ content.linkLabel }}
        </a>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% if page.url == "/committee/" %}
  <section class="[ mambo-section ][ flow ]" data-color="maroon-primary-on-white" id="{{ sectionOne.header | slug }}">
    <div class="[ container container-default ][ flow ]">
      <ul class="[ mambo-cards ][ grid-flow grid-three-columns ]">
        {% for card in committee.teams %}
          <li class="[ mambo-card committee ]">
            <figure class="[ image ]">
              <img alt="{{ card.imageAlt }}" loading=lazy src="{{ card.image }}">
            </figure>
            <div class="[ details ][ flow ]">
              <a href="{{ card.url }}">
                <h3>{{ card.title | safe }}</h3>
              </a>
              <p>{{ card.body | md | safe }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
