{% if page.url == "/events/" %}
  <section class="[ mambo-section ][ flow ]" data-color="cream-on-maroon-secondary" id="events-large">
    <div class="[ container container-default ][ flow ]">
      <h2 class="[ sr-hidden ]">Featured Events</h2>
      {% include "1-global-blocks/divider.njk" %}
      <div class="[ grid grid--align-start  ][ grid-flow grid-flow-start grid-four-columns ]">
        <div class="[ sticky faqs-sidebar ][ column-span-one ][ padding-all-16 ]">
          {% include "2-layout-blocks/page/events/filter.njk" %}
        </div>
        <ul class="[ faqs-list ][ column-span-three ][ grid-flow grid-two-columns ]">
          {% include "2-layout-blocks/page/events/list.njk" %}
        </ul>
      </div>
    </div>
  </section>
{% endif %}
