<section class="[ mambo-section ][ flow ]" data-color="maroon-primary-on-yellow-primary" id="sponsors">
  <div class="[ container container-default ][ flow-large ]">
    <div class="[ grid-flow grid-four-columns ]">
      <div class="[ column-span-two ][ flow ]">
        {% for content in featured.sponsors %}
          <h2>{{ content.header }}</h2>
          <p>{{ content.body | md | safe }}</p>
        {% endfor %}
      </div>
    </div>
    <section class="[ tier flow ]">
      <h3>
        Chapter Sponsors
      </h3>
      <ul class="[ tier-one ] [ grid-flow grid-two-columns ]">
        {% for content in sponsors.sponsor %}
          {% if content.tier == "Tier One" %}
            <li class="[ mambo-card sponsor flow ][ {{ content.tier | slug }} ]">
              <div class="[ media ]">
                <figure class="[ image ]">
                  <a aria-label="{{ content.name }} Website" class="[ anchor ]" data-type="card" href="{{ content.websiteURL1 }}">
                    <img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
                  </a>
                </figure>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
    <section class="[ tier flow ]">
      <h3>
        Sustaining Sponsors
      </h3>
      <ul class="[ tier-two ] [ grid-flow grid-three-columns ]">
        {% for content in sponsors.sponsor %}
          {% if content.tier == "Tier Two" %}
            <li class="[ mambo-card sponsor flow ][ {{ content.tier | slug }} ]">
              <div class="[ media ]">
                <figure class="[ image ]">
                  <a aria-label="{{ content.name }} Website" class="[ anchor ]" data-type="card" href="{{ content.websiteURL1 }}">
                    <img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
                  </a>
                </figure>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
    <section class="[ tier flow ]">
      <h3>
        Supporting Sponsors
      </h3>
      <ul class="[ tier-three ] [ grid-flow grid-three-columns ]">
        {% for content in sponsors.sponsor %}
          {% if content.tier == "Tier Three" %}
            <li class="[ mambo-card sponsor flow ][ {{ content.tier | slug }} ]">
              <div class="[ media ]">
                <figure class="[ image ]">
                  <a aria-label="{{ content.name }} Website" class="[ anchor ]" data-type="card" href="{{ content.websiteURL1 }}">
                    <img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
                  </a>
                </figure>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
    <section class="[ tier flow ]">
      <h3>
        Contributing Sponsors
      </h3>
      <ul class="[ tier-four ] [ grid-flow grid-three-columns ]">
        {% for content in sponsors.sponsor %}
          {% if content.tier == "Tier Four" %}
            <li class="[ mambo-card sponsor flow ][ {{ content.tier | slug }} ]">
              <div class="[ media ]">
                <figure class="[ image ]">
                  <a aria-label="{{ content.name }} Website" class="[ anchor ]" data-type="card" href="{{ content.websiteURL1 }}">
                    <img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
                  </a>
                </figure>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </div>
</section>
