<section aria-label="Sponsors" class="[ mambo-section ][ flow ]" data-color="maroon-primary-on-cream-secondary" id="sponsors">
  <div class="[ container container-default ][ flow ]">
    <div class="[ grid-flow grid-four-columns ]">
      <div class="[ column-span-two ][ flow ]">
        {% for content in featured.sponsors %}
          <h2>{{ content.header }}</h2>
          <p>{{ content.body | md | safe }}</p>
        {% endfor %}
      </div>
    </div>
    <ul class="[ featured-sponsors ] [ grid-flow grid-four-columns ]">
      {% for content in sponsors.sponsor %}
        {% if content.featured == true %}
          <li class="[ mambo-card flow ][ {{ content.tier | slug }} ]">
            <a aria-label="{{ content.websiteAriaLabel1 }}" class="[ anchor ]" data-type="card" href="{{ content.websiteURL1 }}">
              <h3>{{ content.name }}</h3>
            </a>
            <div class="[ media ]">
              <figure class="[ image ]">
                <img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
              </figure>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
