<section class="small-sponsors" id="small-sponsors">
	{% for content in sponsors.global %}
	<h3>
		{{ content.header }}
	</h3>
	<p>
		{{ content.body | safe }}
	</p>
	<a class="button {{ content.buttonColor }}" href="{{ content.buttonURL }}">
		{{ content.buttonLabel }}
	</a>
	{% endfor %}
</section>
<section
	class="[ sponsors ] [ gap-padding-top-1100 gap-padding-bottom-1100 gap-padding-right-400 gap-padding-left-400 md:gap-padding-top-1600 md:gap-padding-bottom-1600 md:gap-padding-right-1600 md:gap-padding-left-1600 ] [ background-dcdw-2021-celeste color-dcdw-2021-black ] [ texture texture--paper ] [ flow-4 ]"
	id="sponsors">
	<ul class="[ grid grid--four-column ]">
		{% for sponsor in sponsors.sponsor %}
		<li class="[ card card-sponsors ] [ flow-1 ]">
			<div class="[ card-aside ]">
				<figure class="[ card-image ] [ clipped-{{ sponsor.number }} ]">
					<img src="{{ sponsor.image }}" alt="{{ sponsor.imageAlt }}" />
				</figure>
			</div>
			<div class="[ card-header ]">
				{% if sponsor.name %}
				<h3>{{ sponsor.name }}</h3>
				{% endif %}
				{% if sponsor.tier %}
				<p>{{ sponsor.tier }}</p>
				{% endif %}
			</div>
			<div class="[ card-footer ]">
				<div class="[ card-links ]">
					{% if sponsor.website-url-1 %}
					<a aria-label="{{ sponsor.website-aria-label-1 }}" class="[ card-link ]"
						href="{{ sponsor.website-url-1 }}" rel="noopener noreferrer"
						target="_blank">{{ sponsor.website-label-1 }}</a>
					{% endif %}
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>
