{% extends "layouts/base.njk" %}
{% block content %}
    {% include '2-layout-blocks/home-hero.njk' %}
    {% include '2-layout-blocks/accessibility-section-1.njk' %}
    {% include '2-layout-blocks/accessibility-section-2.njk' %}
    {% include '2-layout-blocks/accessibility-section-3.njk' %}
    {% include '2-layout-blocks/accessibility-section-4.njk' %}
    {% if content %}
        {% include '1-mambo-blocks/content.njk' %}
    {% endif %}
{% endblock %}
