{% extends "layouts/base.njk" %}
{% block content %}
  {% include '2-layout-blocks/hero.njk' %}
  {% include '2-layout-blocks/list-committee.njk' %}
  {% include '2-layout-blocks/featured-join-dcdw.njk' %}
{% endblock %}
