{% extends "layouts/base.njk" %}
{% block content %}
    {% include '2-layout-blocks/hero.njk' %}
    <section class="[ mambo-section ][ {{ sectionOne.sectionOneColorCombo | safe }} ]" data-color="{{ sectionOne.sectionOneColorCombo | safe }}" id="{{ sectionOne.sectionOneHeader | slug }}">
        <div class="[ container-content ][ flow ]">
            <ul>
                {% for post in collections.committee | reverse %}
                    <li>
                        <a class="[ anchor ]" data-type="card" href="{{ post.url }}">
                            <h3>
                                {{ post.data.title }}
                            </h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
