{% extends "layouts/base.njk" %}

{% block content %}
{% include 'block/event-single/tickets.njk' %}
{% include 'block/event-single/details.njk' %}
{% include 'block/event-single/speaker.njk' %}
{% include 'block/event-single/preparation.njk' %}
{% include 'block/event-single/accessibility.njk' %}
{% include 'block/event-single/code-of-conduct.njk' %}
{% include 'block/faqs-small.njk' %}
{% endblock %}
