{% extends "layouts/base.njk" %}
{% block content %}
  {% include '2-layout-blocks/hero.njk' %}
  {% include '2-layout-blocks/list-events.njk' %}
  {% include '2-layout-blocks/list-faqs.njk' %}
  {% if content %}
    {% include '1-mambo-blocks/content.njk' %}
  {% endif %}
{% endblock %}
