{% extends "layouts/base.njk" %}
{% block content %}
  {% include '2-layout-blocks/hero.njk' %}
  {% include '2-layout-blocks/list-events.njk' %}
  {% include '2-layout-blocks/featured-brand.njk' %}
  {% include '2-layout-blocks/featured-sponsors.njk' %}
{% endblock %}
