{% extends "layouts/base.njk" %}
{% block content %}
  {% include '1-global-blocks/hero-home.njk' %}
  {% include '2-layout-blocks/featured/events.njk' %}
  {% include '2-layout-blocks/featured/brand.njk' %}
  {% include '2-layout-blocks/listing/sponsors.njk' %}
{% endblock %}
