{% extends "layouts/base.njk" %}
{% block content %}
	{% if content %}
		<section class="wysiwyg">
			{{ content | safe }}
		</section>
	{% endif %}
	{% include 'block/featured/events.njk' %}
	{% include 'block/featured/agency.njk' %}
	{% include 'block/featured/sponsors.njk' %}
{% endblock %}
