{% extends "layouts/base.njk" %}

{% block content %}
{% if content %}
<section class="wysiwyg">
	{{ content | safe }}
</section>
{% endif %}
{% include 'block/events/featured.njk' %}
{% include 'block/agency/featured.njk' %}
{% include 'block/sponsors/block.njk' %}
{% endblock %}
