{% extends "layouts/base.njk" %}

{% block content %}
  <!-- About Page -->
  {% if page.url == "/about/" %}
    {% include '1-global-blocks/hero-page.njk' %}
    {% include '2-layout-blocks/featured/theme.njk' %}
    {% include '2-layout-blocks/featured/brand.njk' %}
    {% include '2-layout-blocks/listing/sponsors.njk' %}
    {% include '2-layout-blocks/featured/faqs.njk' %}
    {% include '2-layout-blocks/listing/committee.njk' %}
    {% include '2-layout-blocks/featured/accessibility.njk' %}
  {% endif %}
  <!-- Accessibility Page -->
  {% if page.url == "/accessibility/" %}
    {% include '1-global-blocks/hero-page.njk' %}
    {% include '1-global-blocks/section.njk' %}
  {% endif %}
  <!-- Committee Page -->
  {% if page.url == "/committee/" %}
    {% include '1-global-blocks/hero-page.njk' %}
    {% include '2-layout-blocks/listing/committee.njk' %}
    {% include '2-layout-blocks/featured/join-dcdw.njk' %}
  {% endif %}
  <!-- Events Page -->
  {% if page.url == "/events/" %}
    {% include '1-global-blocks/hero-page.njk' %}
    {% include '2-layout-blocks/listing/events.njk' %}
    {% include '2-layout-blocks/featured/brand.njk' %}
    {% include '2-layout-blocks/featured/sponsors.njk' %}
  {% endif %}
  <!-- FAQs Page -->
  {% if page.url == "/faqs/" %}
    {% include '1-global-blocks/hero-page.njk' %}
    {% include '2-layout-blocks/listing/faqs.njk' %}
    {% include '2-layout-blocks/listing/sponsors.njk' %}
    {% include '2-layout-blocks/featured/accessibility.njk' %}
  {% endif %}
{% endblock %}
