{% extends "layouts/base.njk" %}
{% block content %}
  {% include '2-layout-blocks/hero.njk' %}
  {% include '2-layout-blocks/single-event/details.njk' %}
  {% include '2-layout-blocks/single-event/speaker.njk' %}
  {% include '2-layout-blocks/single-event/preparation.njk' %}
  {% include '2-layout-blocks/single-event/accessibility.njk' %}
  {% include '2-layout-blocks/single-event/code-of-conduct.njk' %}
  {% include '2-layout-blocks/featured-faqs.njk' %}
{% endblock %}
