{% extends "layouts/base.njk" %}
{% block content %}
  {% include '1-global-blocks/hero-event.njk' %}
  {% include '2-layout-blocks/page/single-event/details.njk' %}
  {% include '2-layout-blocks/page/single-event/speaker.njk' %}
  {% include '2-layout-blocks/page/single-event/preparation.njk' %}
  {% include '2-layout-blocks/page/single-event/accessibility.njk' %}
  {% include '2-layout-blocks/featured/code-of-conduct.njk' %}
  {% include '2-layout-blocks/featured/faqs.njk' %}
{% endblock %}
