{% extends "layouts/base.njk" %}
{% block content %}
  {% include '1-global-blocks/hero-page.njk' %}
  {% include '2-layout-blocks/listing/committee-members.njk' %}
  {% include '2-layout-blocks/featured/join-dcdw.njk' %}
{% endblock %}
