{% extends "layouts/base.njk" %}
{% block content %}
    {% include '2-layout-blocks/hero.njk' %}
    {% include '2-layout-blocks/list-staff.njk' %}
    {% include '2-layout-blocks/list-sponsors.njk' %}
    {% if content %}
        {% include '1-mambo-blocks/content.njk' %}
    {% endif %}
{% endblock %}
