<section class="[ speaker ][ flow ][ padding-all-200 ]">
	<h2>
		Speakers
	</h2>

	<ul class="[ speakers ] [ grid grid--two-column ]">
		{% for content in speaker %}
		<li class="[ card card-speaker ] [ grid-flow ]">
			<figure class="[ image ]">
				<img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
			</figure>
			<div class="[ info ]">
				<h3 class="flex-flow flex-flow-row flex-flow-center">
					{{ content.name }} 
					<small>
						{{ content.pronunciation }}
					</small>
				</h3>
				<p>
					{{ content.pronouns }}
				</p>
			</div>
			<div class="[ details ]">
				<p>
					{{ content.title }}
				</p>
			</div>
			<div class="[ websites ] [ wysiwyg ] [ flex-flow flex-flow-row ]">
				{{ content.websites | md | safe }}
			</div>
			{% endfor %}
		</li>
	</ul>
</section>
