<section
	class="toolbar-tickets flex-flow flex-flow-center flex-flow-row flex-flow-space-between padding-all-32 background-color-white"
	id="tickets">
	{% if '/event/' in page.url %}
	<div class="[ details ] [ flex-flow flex-flow-row flex-flow-center ]">
		<p>
			{{ startDate | readableEventDate }}
		</p> /
		<p>
			{{ startDate | dateTime }}
		</p> /
		<p>
			{{ endDate | dateTime }}
		</p>
		{% for button in location %}
		<a class="[ ticket ] mambo-button" data-type="non-member" href="{{ button.locationDirections }}"
			rel="noreferrer nofollow" target="_blank">
			View Directions
		</a>
		{% endfor %}
	</div>
	<div class="[ tickets ] [ flex-flow flex-flow-row flex-flow-center ]">
		{% for button in tickets %}
		{% if button.buttonType == 'Member'%}
		<a class="[ ticket ] mambo-button [ {{ button.buttonBGColor }} {{ button.buttonTextColor }} ]" data-type="member" href="{{ button.buttonURL }}" rel="noreferrer nofollow"
			target="_blank">
			{{ button.buttonLabel }}
		</a>
		{% else %}
		<a class="[ ticket ] mambo-button [ {{ button.buttonBGColor }} {{ button.buttonTextColor }} ]" data-type="non-member" href="{{ button.buttonURL }}"
			rel="noreferrer nofollow" target="_blank">
			{{ button.buttonLabel }}
		</a>
		{% endif %}
		{% endfor %}
	</div>
	{% endif %}
</section>
