.mambo-accordion .question .question-icon {
  flex-grow: 1;
  text-align: right;
}

// Mambo Expander
.mambo-accordion-group>*:not(:first-child) {
  margin-top: var(--size-8);
}

.mambo-expander .mambo-accordion__header {
  display: block;
  font-size: var(--size-18);
  width: 100%;
}

.mambo-expander .question {
  // Gap Settings
  gap: var(--size-16);
  // Display Settings
  align-items: center;
  display: flex;
  justify-content: space-between;
  // 
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-20);
  justify-content: unset;
  line-height: 1.5;
  padding: var(--size-24);
  text-align: left;
  width: 100%;
}

.mambo-expander .is-expanded .answer {
  display: block;
}

.mambo-expander .answer {
  border: solid 1px currentColor;
  padding: var(--size-20);
}

.image {
  position: relative;
  display: block;
  margin: auto;
}
