.mambo-anchor {
  border: solid 2px transparent;
  display: block;
  width: 100%;
  font-weight: 700;
  text-align: center;
}

.mambo-anchor.action {
  border-radius: 1000px;
  padding: var(--size-8) var(--size-24);
}

.mambo-anchor.ghost {
  border: solid 2px currentColor;
  background-color: transparent;
}

.mambo-anchor.underline {
  text-decoration: underline;
}

// 640px
@media screen and (min-width:48rem) {
  .mambo-anchor {
    display: inline-block;
    width: unset;
    text-align: left;
  }
}
