/* Component: mambo-button */

.mambo-button {
	font-family: var(--font-family-sans);
	font-weight: var(--weight-600);
	padding: var(--size-8) 0;
	text-align: center;
	text-decoration: none;
}

.border-bottom {
	border-top: transparent;
	border-right: transparent;
	border-bottom: solid 4px currentColor;
	border-left: transparent;
}
