/* Component: mambo-button */

.mambo-button {
	border: solid 4px transparent;
	display: inline-block;
	font-family: var(--font-sans);
	font-weight: 600;
	padding: var(--space-8) var(--space-16);
	text-align: center;
	text-decoration: none;
}

.mambo-button-link {
	padding: var(--space-8);
}

.mambo-button--border-black {
	border: solid 4px var(--black);
	color: var(--black);
}

.mambo-button--border-white {
	border: solid 4px var(--white);
	color: var(--white);
}

.mambo-button--solid-black {
	border: solid 4px var(--black);
	color: var(--white);
}

.mambo-button--solid-cream {
	border: solid 4px var(--cream);
	color: var(--black);
}

.mambo-button--solid-white {
	border: solid 4px var(--white);
	color: var(--black);
}

.mambo-button--solid-zodiac {
	border: solid 4px var(--zodiac);
	color: var(--white);
}

@media screen and (min-width: 768px) {
	.mambo-button {
		display: inline-block;
	}
}
