.mambo-cards {
  width: 100%;
}

.mambo-card .image {
  position: relative;
}

.mambo-card img {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.mambo-card .details {
  min-height: 280px;
  padding: var(--size-24);
}

/* This is a hacky work around specifically for Speaker and Staff cards */
.card .wysiwyg p {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--gap, 1rem);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay--zodiac {}

#how-else-can-i-get-involved-with-dc-design-week-2022 img {
  mix-blend-mode: unset;
}



.featured-sponsors .sponsor-tier-one,
.featured-sponsors .sponsor-tier-two {
  grid-column: span 2;
}

/* Cards */
.wireframe .mambo-card.committee,
.wireframe .mambo-card.event {
  border: solid 1px var(--color-black);
}

.wireframe .mambo-card.committee .image,
.wireframe .mambo-card.event .image {
  border-bottom: solid 1px var(--color-black);
}

.wireframe .mambo-card.committee .details,
.wireframe .mambo-card.event .details {
  min-height: unset;
}

.wireframe .mambo-card.horizontal {
  align-items: start;
  display: grid;
  grid-gap: 60px;
  grid-template-areas:
    "image"
    "body";
  grid-template-columns: 1fr;
}

.wireframe .mambo-card.horizontal figure {
  border: solid 1px var(--color-black);
  grid-area: image;
  max-width: 316px;
}

.wireframe .mambo-card.horizontal figure img {
  aspect-ratio: 1/1;
  height: 316px;
  max-width: 316px;
  object-fit: cover;
}

.wireframe .mambo-card.horizontal .details {
  grid-area: body;
}

.wireframe .mambo-card.horizontal .meta {
  display: flex;
  font-weight: 900;
  grid-gap: var(--size-8);
}



@media screen and (min-width: 1024px) {
  .wireframe .mambo-card.horizontal {
    align-items: center;
    grid-template-areas:
      "image body"
      ". body";
    grid-template-columns: 316px 1fr;
  }
}
