.mambo-card {
	border: solid 1px currentColor;
}

.mambo-card figure {
	overflow: hidden;
}

.mambo-card figure img {
	display: block;
	height: 200px;
	width: 100%;
	object-fit: contain;
	object-position: center;
}

.mambo-card .details {
	border-top: solid 1px currentColor;
	padding: var(--size-24);
}

/* 2022 Styles */
.card a {
	display: block;
	text-decoration: none;
}

.card small {
	color: rgba(0, 0, 0, 0.5);
}

.card img {
	width: 100%;
}

/* This is a hacky work around specifically for Speaker and Staff cards */
.card .wysiwyg p {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: var(--gap, 1rem);
}
