.mambo-card .image {
  position: relative;
}

.mambo-card .image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.mambo-card .details {}

.mambo-card .details a {
  font-weight: 800;
}

/* This is a hacky work around specifically for Speaker and Staff cards */
.card .wysiwyg p {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--gap, 1rem);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.featured-sponsors .sponsor-tier-one,
.featured-sponsors .sponsor-tier-two {
  grid-column: span 2;
}

/* Cards */
.mambo-card.committee {
  border: solid 1px var(--dcdw-2022-cream-primary);
}

.mambo-card.committee .image {
  border-bottom: solid 1px var(--dcdw-2022-cream-primary);
}

.mambo-card.committee .details,
.mambo-card.event .details {
  min-height: unset;
}

/* Events */

.mambo-card.event .media .image {
  background-color: var(--dcdw-2022-yellow-primary);
}

.mambo-card.event .media .image img {
  box-shadow: none;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.mambo-card.event .media {
  background-color: var(--dcdw-2022-yellow-primary);
  border: none;
  box-shadow: none;
  transition: 0.2s;
}

.mambo-card.event .media:hover {
  box-shadow: 20px 20px 0px 0px var(--dcdw-2022-pink-primary);
  -webkit-box-shadow: 20px 20px 0px 0px var(--dcdw-2022-pink-primary);
  -moz-box-shadow: 20px 20px 0px 0px var(--dcdw-2022-pink-primary);
}

.mambo-card.event .title {
  font-family: var(--dcdw-2022-brand-recursive);
}

.mambo-card.event .meta {
  display: flex;
  grid-gap: var(--size-40);
}

.mambo-card.event .day-date {
  font-family: var(--dcdw-2022-brand-recursive);
  font-weight: 700;
  position: relative;
  padding: var(--size-8);
  text-transform: uppercase;
}

.mambo-card.event .day,
.mambo-card.event .date {
  position: relative;
  z-index: 100;
}

.mambo-card.event .day-date svg {
  fill: var(--dcdw-2022-yellow-primary) !important;
  position: absolute;
  top: -4px;
  right: 0;
  bottom: 0;
  left: -10px;
  width: 88px;
}

.mambo-card.event .time-location {
  padding: var(--size-8);
}
