.black-on-white {
	background-color: var(--color-white);
	color: var(--color-black);
}

.white-on-black {
	background-color: var(--color-black);
	color: var(--color-white);
}

.white-on-zodiac {
	background-color: var(--color-zodiac);
	color: var(--color-white);
}

.zodiac-on-cream {
		background-color: var(--color-cream);
	color: var(--color-zodiac);
}
.zodiac-on-white {
	background-color: var(--color-white);
	color: var(--color-zodiac);
}

.black-on-gray {
	background-color: var(--color-gray);
	color: var(--color-black);
}

.gray-on-black {
	background-color: var(--color-black);
	color: var(--color-gray);
}

.black-on-cream {
	background-color: var(--color-cream);
	color: var(--color-black);
}

.cream-on-black {
	background-color: var(--color-black);
	color: var(--color-cream);
}
