.mambo-footer {
	align-items: center;
	display: grid;
	gap: var(--space-16);
	grid-template-columns: 1fr;
	padding: var(--space-16);
}

.mambo-footer .svg-inline--fa {
	display: block;
	font-size: var(--font-size-32);
}

.mambo-footer ul {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.mambo-footer a {
	color: var(--black);
	display: block;
	font-weight: 900;
}

@media screen and (min-width: 1366px) {
	.mambo-footer {
		grid-template-columns: repeat(3, 1fr);
		text-align: center;
	}
}
