/* This is a hacky work around specifically for Navigation Collection */
.mambo-header ul {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: var(--gap, 1rem);
	list-style: none;
}

.mambo-header a {
	text-decoration: none;
}
