.mambo-hero {
  align-items: center;
  background-color: blue;
  color: var(--color-white);
  display: grid;
}

.mambo-hero .wysiwyg p {
  font-size: var(--size-24);
}

.wireframe .mambo-hero {
  background-color: var(--color-black);
  color: var(--color-white);
}

.wireframe .mambo-hero .wysiwyg p {}
