.mambo-hero {
  display: grid;
  place-content: center;
  min-height: 100vh;
  position: relative;
  padding: var(--size-88);
  z-index: 100;
}

.layout-single-event .mambo-hero {
  display: block;
}

.mambo-hero {
  clip-path: url('../source/_partials/static/images/mask.svg#wave');
}

#wave {
  height: 100vh;
  width: auto;
}

#wave path {
  transform: scaleY(2);
  //  transform: rotate(180deg);
}

.layout-page.event-accessibility .mambo-hero,
.layout-single-committee .mambo-hero,
.layout-page.event-events .mambo-hero,
.layout-page.event-about .mambo-hero,
.layout-page.event-committee .mambo-hero,
.layout-page.event-frequently-asked-questionss .mambo-hero,
.layout-single-event .mambo-hero,
.layout-page.event-frequently-asked-questions .mambo-hero {
  min-height: 5vh;
}

.mambo-hero .container {
  position: relative;
  z-index: 1000;
  transition: all ease-in-out 200ms;
}

.mambo-hero h1 {
  font-size: 2.75rem;
  font-weight: 900;
  max-width: 10ch;
}

.hero-content {
  position: relative;
  z-index: 2000;
}

.home-hero-blob {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -480px;
  z-index: 1000;
  transform: translate(0%, -65%);
}

.home-hero-date-blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1500;
  transform: translate(10%, -80%);
  margin-top: 0 !important;
}

.home-hero-date {
  display: flex;
  flex-direction: column;
  font-family: var(--dcdw-2022-brand-recursive);
  font-weight: 900;
  font-size: var(--size-20);
  position: absolute;
  text-align: center;
  transform: translate(45%, 50%);
}

.home-hero-date datetime {
  margin-bottom: -8px;
}

.home-hero-date-blob svg {
  width: 144px;
}

.home-page-blob {
  position: absolute;
  top: -88px;
  right: 0;
  bottom: 0;
  left: -300px;
  z-index: 100;
}

.home-page-blob svg {
  width: 100%;
}

// 768px
@media screen and (min-width:48rem) {
  .home-hero-blob {
    top: -120px;
    left: -400px;
  }

  .home-hero-date {
    font-size: var(--size-32);
    transform: translate(35%, 40%)
  }

  .home-hero-date-blob svg {
    width: 200px;
  }

  .home-hero-blob svg {
    height: 100%;
    width: 110%;
  }
}

// 1024px
@media screen and (min-width:64rem) {
  .home-hero-blob {
    top: 400px;
    left: -400px;
  }

  .home-hero-blob svg {
    width: 120%;
  }

  .home-hero-date-blob {
    top: 0;
    right: unset;
    left: -32px;
    z-index: 1500;
    transform: translate(10%, -80%);
    margin-top: 0 !important;
  }

  .home-page-blob {
    top: -40px;
    left: -600px;
  }
}

// 1366px
@media screen and (min-width:85.375rem) {
  .home-hero-blob {
    top: 400px;
    left: 96px;
  }

  .home-hero-blob svg {
    width: 100%;
  }

  .home-page-blob {
    top: -40px;
    left: -1280px;
  }

  .home-page-blob svg {
    height: 100%;
    width: 110%;
  }

  .layout-page.event-accessibility .mambo-hero,
  .layout-single-committee .mambo-hero,
  .layout-page.event-events .mambo-hero,
  .layout-page.event-about .mambo-hero,
  .layout-page.event-committee .mambo-hero,
  .layout-page.event-frequently-asked-questionss .mambo-hero,
  .layout-single-event .mambo-hero,
  .layout-page.event-frequently-asked-questions .mambo-hero {
    margin-bottom: -144px;
  }

  .layout-single-event .mambo-hero {
    margin-bottom: 0;
  }
}


.roots {
  position: absolute;
  top: -500px;
  right: 0;
  bottom: 0;
  left: -400px;
  overflow: hidden;
}

.roots>* {
  height: 300%;
}

.mambo-hero .details,
.mambo-hero .buttons {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--size-20);
}

.mambo-hero .details {
  grid-gap: var(--size-8);
}

@media screen and (min-width:48rem) {
  .mambo-hero {
    padding: var(--size-56);
  }

  .mambo-hero h1 {
    font-size: var(--size-88);
    line-height: 92px;
  }
}

@media screen and (min-width:64rem) {
  .mambo-hero {
    padding: var(--size-120);
  }

  .mambo-hero h1 {
    font-size: var(--size-96);
    max-width: 16ch;
  }

  .mambo-hero .wysiwyg p {
    font-size: var(--size-32);
  }

  .home-hero-blob {
    top: -64px;
  }

  .home-hero-blob svg {
    height: 90vh;
  }
}

@media screen and (min-width:85.375rem) {
  .home-hero-blob {
    top: -32px;
    left: -130px;
  }

  .roots {
    top: -700px;
    left: -200px;
  }
}
