.ornament {
	position: absolute;
}

.ornament svg {
	width: 100%;
}

.ornament-arrow-double {
	display: none;
}

.ornament-badge-community-curated,
.ornament-hero-decor-left,
.ornament-hero-decor-right {
	display: block;
}

.ornament-badge-community-curated {
	// Animation
	// animation: rotation 15s infinite linear;
	// animation-play-state: var(--playState);
	// transition: transform calc(var(--toggle) * .15s) ease-in-out;
	// width: 6rem;
	// top: -80px;
	// right: 0;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}

}

.ornament-hero-decor-left {
	width: 12.5rem;
	top: -325px;
	left: -140px;
}

.ornament-hero-decor-right {
	width: 12.5rem;
	bottom: -440px;
	right: -140px;
}

@media screen and (min-width:30rem) {
	.ornament-badge-community-curated {
		width: 8.25rem;
		top: -100px;
		right: -30px;
	}

	.ornament-hero-decor-right {
		width: 16rem;
		bottom: -513px;
		right: -140px;
	}

}

@media screen and (min-width:40rem) {
	.ornament-hero-decor-left {
		top: -350px;
	}

	.ornament-hero-decor-right {
		width: 19rem;
		bottom: -520px;
		right: -150px;
	}

}

@media screen and (min-width:48rem) {
	.ornament-hero-decor-right {
		width: 22rem;
		bottom: -520px;
		right: -150px;
	}

}

@media screen and (min-width:64rem) {
	.ornament-arrow-double {
		display: block;
		left: -150px;
	}

	.ornament-hero-decor-left {
		width: 20rem;
		top: -350px;
		left: -250px;
	}

}

@media screen and (min-width:85.375rem) {
	.ornament-badge-community-curated {
		top: -150px;
		left: 32px;
		z-index: 100;
	}

	.ornament-hero-decor-left {
		width: 25rem;
		left: -300px;
	}

	.ornament-hero-decor-right {
		width: 30rem;
		bottom: -375px;
		right: -350px;
	}

}

@media screen and (min-width:160rem) {
	.ornament-arrow-double {
		width: 30rem;
		left: -150px;
	}

	.ornament-badge-community-curated {
		width: 25rem;
		top: -100px;
		left: 25px;
		z-index: 100;
	}

	.ornament-hero-decor-left {
		width: 50rem;
		top: -300px;
		left: -400px;
	}

	.ornament-hero-decor-right {
		width: 50rem;
		bottom: -315px;
	}

}
