.ornament {
	position: absolute;
}

.ornament svg {
	width: 100%;
}

.ornament-arrow-double {
	display: none;
}

.ornament-bade-community-curated,
.ornament-hero-decor-left,
.ornament-hero-decor-right {
	display: block;
}

.ornament-bade-community-curated {
	width: 6rem;
	top: -80px;
	right: 0;
}

.ornament-hero-decor-left {
	width: 200px;
	top: -325px;
	left: -140px;
}

.ornament-hero-decor-right {
	width: 200px;
	bottom: -440px;
	right: -140px;
}

@media screen and (min-width:40rem) {
	.ornament-arrow-double,
	.ornament-bade-community-curated,
	.ornament-hero-decor-left,
	.ornament-hero-decor-right {
		display: block;
	}

	.ornament-hero-decor-left {
		top: -200px;
		left: -350px;
	}

	.ornament-hero-decor-right {
		bottom: -350px;
		right: -500px;
	}

}

@media screen and (min-width:48rem) {
	.ornament-hero-decor-left {
		top: -250px;
		left: -400px;
	}

	.ornament-hero-decor-right {
		bottom: -400px;
		right: -500px;
	}

}

@media screen and (min-width:64rem) {
}

@media screen and (min-width:85.375rem) {
	.ornament-hero-decor-right {
	}

}

@media screen and (min-width:64rem) {
}
