.pagination-committee,
.pagination-events {
  border-bottom: solid 1px currentColor;
  padding: var(--size-24);
  overflow-y: hidden;
  overflow-x: auto;
}

.pagination-committee {
  position: relative;
  z-index: var(--layer-4);
}

.pagination-events {
  border-bottom: unset;
}


.pagination-events {
  display: block;
}

.pagination-events .list {
  display: flex;
  flex-direction: column;
  grid-gap: var(--size-24);
  align-items: start;
}
