.mambo-section {
  padding: var(--size-32) var(--size-24);
}

@media screen and (min-width: 40rem) {
  .mambo-section {
    padding: var(--size-40) var(--size-24);
  }
}

@media screen and (min-width: 85.375rem) {
  .mambo-section {
    padding: var(--size-56);
  }
}

.wave.left {
  transform: scaleX(-1);
}
