.mambo-section {
  padding: var(--size-20);
}

@media screen and (min-width: 40rem) {
  .mambo-section {
    padding: var(--size-56);
  }
}

@media screen and (min-width: 85.375rem) {
  .mambo-section {
    padding: var(--size-88) var(--size-120);
  }
}

.wave.left {
  transform: scaleX(-1);
}
