.mambo-header {
  border-bottom: solid 1px currentColor;
  padding: var(--size-16);
  z-index: var(--layer-3);
}

.mambo-header svg {
  fill: currentColor;
}

.mambo-header>div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: var(--size-24);
}

.mambo-header nav ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--size-16);
}

.mambo-header a {
  display: block;
  font-size: var(--size-18);
  text-decoration: none;
}

.mambo-header a.active {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
}
