.mambo-header {
  border-bottom: solid 1px currentColor;
  padding: var(--size-16);
}

.mambo-header svg {
  fill: currentColor;
}

.mambo-header>div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mambo-header a {
  text-decoration: none;
  display: block;
}
