.skip-link {
  position: absolute;
  transform: translateY(-1000px);
  z-index: var(--layer-4);
}

.skip-link:focus {
  position: absolute !important;
  padding: var(--size-8);
  transform: translateY(0px);
  min-width: 119px;
  text-align: center;
  box-shadow: 0 0 0 4px white, 0 0 0px 4px white;
  top: 0;
  z-index: var(--layer-4);
}

.link-back-to-top {
  border-top: solid 1px currentColor;
  padding: var(--size-24);
}

@media screen and (min-width: 64rem) {

  .link-back-to-top {
    padding: var(--size-24);
  }
}
