.link-skip-to-content,
.link-skip-to-content.events,
.link-back-to-top {
  display: block;
  padding: var(--size-16);
  scroll-margin-top: 120px;
}

.link-skip-to-content {
  border-bottom: solid 1px currentColor;
  position: absolute;
  transform: translateY(-120px);
}

.link-skip-to-content:focus,
.link-skip-to-content.events:focus {
  transform: translateY(0px);
  position: relative;
  text-decoration: underline;
  font-weight: 700;
  z-index: 10000;
}

.link-skip-to-content.events {
  display: block;
  position: relative;
  transform: unset;
}

.link-back-to-top {
  border-top: solid 1px currentColor;
  flex-grow: 1;
}

@media screen and (min-width: 64rem) {

  .link-skip-to-content,
  .link-skip-to-content.events,
  .link-back-to-top {
    padding: var(--size-24);
  }
}
