.meta {}

.filter-info {
  display: flex;
  align-items: center;
  font-weight: 900;
  padding: 1rem 0;
}

.filter-info h2 {
  font-family: var(--dcdw-2022-brand-recursive) !important;
}

.list.mobile {
  display: block;
}

.list.mobile button {
  margin-top: 0 !important;
}

.list.mobile .houdini .list {
  display: flex;
  position: absolute;
  background-color: var(--dcdw-2022-pink-tertiary);
  padding: var(--size-64);
  border-radius: 73% 27% 64% 36% / 27% 66% 34% 73%;
  right: -96px;
  text-align: left;
  align-items: start;
  flex-direction: column;
  border: solid 1px var(--dcdw-2022-maroon-primary);
  max-height: 60vh;
  max-width: 320px;
  overflow-y: auto;
  top: 16px;
  grid-gap: 1rem;
}

.committee-pagination.mobile ul {
  border-radius: 24% 76% 30% 70% / 33% 32% 68% 67%;
}

.list.desktop {
  display: none;
}

.event-pagination.mobile {
  display: block !important;
}

.committee-pagination.mobile {
  display: block !important;
}

.committee-pagination.desktop ul {
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
}

.committee-pagination.desktop ul>div {
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
}

.event-pagination {
  display: flex;
  justify-content: space-between;
  grid-gap: 1rem;
}

.event-pagination ul div {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.event-pagination>div {
  display: flex;
  grid-gap: 1rem;
}

.event-pagination .mambo-anchor {
  display: inline-block;
  width: auto;
}

// 768px
@media screen and (min-width:40rem) {

  .list.desktop {
    display: flex;
  }

  .list.mobile {
    display: none;
  }
}

@media screen and (min-width: 64rem) {
  .committee-pagination.desktop {
    display: block;
  }

  .committee-pagination.mobile {
    display: none;
  }
}

@media screen and (min-width: 30rem) {

  .event-pagination,
  .event-pagination>div {
    width: unset;
    flex-wrap: nowrap;
  }
}
