// About page
.layout-page.event-about {}

// Committee Page
.layout-page.event-committee {}

// Single Committee Page
.layout-single-committee {}

// faq Page
.layout-page.event-faq {}

// Home Page
.layout-home-internal {}

// Events Page
.layout-page.event-events .wave-2022-brand-partner {
  fill: var(--dcdw-2022-maroon-secondary) !important;
}

// Single Event Page
.layout-single-event {}

.wave {
  margin-bottom: -4px;
  overflow: hidden;
}

.wave.left {
  transform: scaleX(-1);
}

.wave.has-border svg path {
  stroke: var(--dcdw-2022-yellow-primary);
  stroke-width: 1;
  paint-order: stroke;
}
