.wave {
  position: relative;
  margin-bottom: -8px;
  z-index: var(--layer-2);
  position: relative;
}

.wave.left {
  transform: scaleX(-1);
}

.wave.has-border svg path {
  stroke: var(--dcdw-2022-yellow-primary);
  stroke-width: 4;
  paint-order: stroke;
}

// Page and Layout Overrides
.layout-single-event .wave svg path {
  stroke: var(--dcdw-2022-yellow-primary);
  stroke-width: 4;
  paint-order: stroke;
}
