<section class="[ mambo-section ]" id="{{ sectionOne.header | slug }}">
  <div class="[ container container-default ][ flow ]">
    <ul class="[ mambo-cards ][ grid-flow grid-three-columns ]">
      {% for card in sectionOne.cards %}
        <li class="[ mambo-card ]">
          <figure class="[ image ]">
            <img alt="{{ card.imageAlt }}" loading=lazy src="{{ card.image }}">
          </figure>
          <div class="[ details ][ flex-flow flex-flow-column ][ padding-all-24 ]">
            <a href="{{ card.url }}">
              <h3>{{ card.title | safe }}</h3>
            </a>
            <p>{{ card.body | md | safe }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
