<section class="[ mambo-section ][ {{ sectionFiveColorCombo | safe }} ]" data-color="{{ sectionFiveColorCombo | safe }}" id="{{ sectionFiveHeader | slug }}">
  <div class="[ container container-default ][ flow ]">
    <div>
      <h2>
        {{ sectionFiveHeader | md | safe }}
      </h2>
      {% include '1-mambo-blocks/divider.njk' %}
      <div class="[ wysiwyg ]">
        {{ sectionFiveBody | md | safe }}
      </div>
    </div>
    <ul class="[ mambo-cards ][ grid-flow grid-two-columns ]">
      {% for card in sectionFiveCards %}
        <li class="[ mambo-card ]">
          <figure class="[ image ][ background-color-cream ]">
            <img alt="{{ card.sectionFiveCardImageAlt }}" loading=lazy src="{{ card.sectionFiveCardImage }}">
          </figure>
          <div class="[ details content ][ background-color-zodiac color-white ][ flex-flow flex-flow-column ][ padding-all-24 ]">
            <h3>{{ card.sectionFiveCardTitle | safe }}</h3>
            <p>{{ card.sectionFiveCardBody | safe }}</p>
            <a class="[ mambo-anchor ]" href="{{ card.sectionFiveCardLinkURL }}" rel="noopener noreferrer" target="_blank">{{ card.sectionFiveCardLinkLabel | safe }}</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
