.button {
	border: solid 4px transparent;
	display: block;
	font-weight: 700;
	padding: var(--space-8) var(--space-16);
	text-align: center;
	text-decoration: none;
}

.button-solid--black {
	background-color: var(--black);
	color: var(--cream);
}

.button-solid--valencia {
	background-color: var(--valencia);
	color: var(--black);
}

.button-border--valencia {
	border-color: var(--valencia);
	color: var(--valencia);
}

.button-link--valencia {
	color: var(--valencia);
}

.button-solid--black:hover {
	background-color: transparent;
	border: solid 4px var(--black);
	color: var(--black);
	cursor: pointer;
}

.button-solid--valencia:hover,
.button-border--valencia:hover,
.button-link--valencia:hover {
	background-color: transparent;
	border: solid 4px var(--valencia);
	color: var(--valencia);
	cursor: pointer;
}

.button-solid--yellow {
	background-color: var(--yellow);
	color: var(--black);
}

.button-border--yellow {
	border-color: var(--yellow);
	color: var(--yellow);
}

.button-link--yellow {
	color: var(--yellow);
}

.button-solid--yellow:hover,
.button-border--yellow:hover,
.button-link--yellow:hover {
	background-color: transparent;
	border: solid 4px var(--yellow);
	color: var(--yellow);
	cursor: pointer;
}

.button-solid--black::selection,
.button-border--black::selection,
.button-link--black::selection,
.button-solid--yellow::selection,
.button-border--yellow::selection,
.button-link--yellow::selection,
.button-solid--valencia::selection,
.button-border--valencia::selection,
.button-link--valencia::selection {
	background-color: unset;
}

@media screen and (min-width: 768px) {
	.button {
		display: inline-block;
	}
}
