.divider {
	border: 0;
	display: inline-block;
	height: 4px;
	margin: auto;
	max-width: 40px;
	width: 100%;

	&--black {
		background-color: var(--black);
	}

	&--cream {
		background-color: var(--cream);
	}

	&--valencia {
		background-color: var(--valencia);
	}

	&--purple {
		background-color: var(--purple);
	}

	&--yellow {
		background-color: var(--yellow);
	}
}
