.mambo-header {
	display: flex;
	flex-direction: column;
	gap: var(--space-16);
	justify-content: space-between;
	padding: var(--space-16);
	z-index: var(--index-10);
}

.mambo-header .logo {
	padding: var(--space-8);
}

.mambo-header svg {
	display: block;
	fill: var(--black);
	margin: auto;
	max-width: 120px;
}

.mambo-header ul {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, auto);
}

.mambo-header li {
	list-style: none;
	text-align: center;
}

.mambo-header li:not(:last-child) {
	margin-right: var(--space-16);
}

.mambo-header li a {
	display: block;
	color: var(--black);
	font-weight: 900;
	padding: var(--space-8);
	text-decoration: none;
}

@media screen and (min-width: 640px) {
	// .mambo-header {
	// 	position: sticky;
	// 	top: 0;
	// }

	.mambo-header ul {
		grid-template-columns: repeat(4, auto);
	}
}

@media screen and (min-width: 768px) {
	.mambo-header {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}

	.mambo-header .logo {
		padding: 0;
	}
}

@media screen and (min-width: 1366px) {
	.mambo-header svg {
		max-width: 200px;
	}
}
