@media screen and (min-width: 768px) {
	.hero-home p,
	.hero-standard p {
		font-size: var(--font-size-24);
	}
}

@media screen and (min-width: 480px) {
	.hero-standard h1,
	.hero-home h1,
	.hero-event h1 {
		font-size: var(--font-size-72);
	}
}

@media screen and (min-width: 580px) {
	.hero-standard h1,
	.hero-home h1,
	.hero-event h1 {
		font-size: var(--font-size-72);
	}
}

@media screen and (min-width: 640px) {
	.hero-standard h1,
	.hero-home h1,
	.hero-event h1 {
		font-size: var(--font-size-80);
	}
}

@media screen and (min-width: 1024px) {
	.hero-standard h1,
	.hero-home h1,
	.hero-event h1 {
		font-size: var(--font-size-96);
	}
}

@media screen and (min-width: 1280px) {
	.hero-standard h1,
	.hero-home h1,
	.hero-event h1 {
		font-size: 9rem;
	}
}
