<li class="[ mambo-card event ][ flow ][ mix {% include '1-global-blocks/events-filter-logic.njk' %} ]">
  <div class="[ media ]">
    <figure class="[ image ]">
      <img alt="{{ event.data.hero.featuredImage.imageALT }}" loading=lazy src="{{ event.data.hero.featuredImage.image }}">
    </figure>
    <div class="[ statuses ]">
      {% if event.data.eventDetails.statusType == "Featured on Home" %}
        <div class="[ status featured-on-home ]">
          <div class="container container-default">
            {{event.data.eventDetails.statusLabel}}
          </div>
        </div>
      {% elseif event.data.eventDetails.statusType == "Featured on Events" %}
        <div class="[ status featured-on-events ]">
          <div class="container container-default">
            {{event.data.eventDetails.statusLabel}}
          </div>
        </div>
      {% elseif event.data.eventDetails.statusType == "Sold Out" %}
        <div class="[ status sold-out ]">
          <div class="container container-default">
            {{event.data.eventDetails.statusLabel}}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="[ details ]">
    <a href="{{ event.url }}">
      <h3 class="[ title ]">
        {{ event.data.title | md | safe }}
      </h3>
    </a>
  </div>
  <div class="[ meta ]">
    <div class="[ day-date ]">
      <p class="[ day ]">
        {{ event.data.eventDetails.startDate | dayShort }}
      </p>
      <div>
        <datetime class="[ date ]">
          {{ event.data.eventDetails.startDate | monthShort }}
        </datetime>
        <span style="color: currentColor;">.</span>
        <datetime class="[ date ]">
          {{ event.data.eventDetails.startDate | date }}
        </datetime>
      </div>
      <span>
        {% include "static/images/blob-date.svg" %}
      </span>
    </div>
    <div class="[ time-location ]">
      <datetime class="[ time ]">
        {{ event.data.eventDetails.startDate | time }} - {{ event.data.eventDetails.endDate | time }}
      </datetime>
      {% for location in event.data.eventDetails.location %}
        <p class="[ location ]">
          {{ location.name | safe }}
        </p>
      {% endfor %}
    </div>
  </div>
</li>
