<div class="committee-pagination mobile list">
  <button class="[ mambo-anchor action ]" data-color="cream-on-maroon-primary" data-houdini-toggle="teams" hidden>
        Jump to...
      </button>
  <nav data-houdini-teams id="teams">
    <ul class="[ list ]">
      <li>
        <a class="[ mambo-anchor ]" href="/committee/">
        Committee Overview
      </a>
      </li>
      <li>
        <a class="[ mambo-anchor ]" href="/committee/executive">
        Executive Team
      </a>
      </li>
      <li>
        <a class="[ mambo-anchor ]" href="/committee/communications">
        Communications Team
      </a>
      </li>
      <li>
        <a class="[ mambo-anchor ]" href="/committee/creative">
        Creative Team
      </a>
      </li>
      <li>
        <a class="[ mambo-anchor ]" href="/committee/operations">
        Operations Team
      </a>
      </li>
      <li>
        <a class="[ mambo-anchor ]" href="/committee/programming">
        Programming Team
      </a>
      </li>
    </ul>
  </nav>
</div>
