<!-- Filter -->
<form class="[ mambo-accordion-group ]">
  <!-- Filter: Date -->
  <fieldset class="[ mambo-expander ]" data-filter-group>
    <!-- Trigger for hidden content -->
    <legend class="[ mambo-accordion__header ]" data-color="cream-on-maroon-primary" data-houdini-toggle="eventDate">
      <h3>Date</h3>
    </legend>
    <!-- Hidden Content -->
    <div class="[ answer is-expanded ]" data-houdini-group="eventFilter" data-color="maroon-primary-on-cream-secondary" id="eventDate">

      {% for control in filters.filterEvents.day %}
        <div class="[ mambo-input-checkbox ]">
          <label id="filterInput" for="{{ control.label | lower | slug }}">
            <input class="{% if control.occurred == true %} occurred {% endif %} {% if control.default == true %} selected {% endif %}" type="checkbox" id="{{ control.label | lower | slug }}" name="event-date" value=".{{ control.label | lower | slug }}">
            {{ control.label }}
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>

  <!-- Filter: Location -->
  <fieldset class="[ mambo-expander ]" data-filter-group>
    <!-- Trigger for hidden content -->
    <legend class="[ mambo-accordion__header ]" data-color="cream-on-maroon-primary" data-houdini-toggle="eventLocation">
      <h3>Location</h3>
    </legend>
    <!-- Hidden Content -->
    <div class="[ answer ]" data-houdini-group="eventFilter" data-color="maroon-primary-on-cream-secondary" id="eventLocation">
      {% for control in filters.filterEvents.location %}
        <div class="[ mambo-input-checkbox ]">
          <label id="filterInput" for="{{ control.label | lower | slug }}">
            <input class="{% if control.occurred == true %} occurred {% endif %}" type="checkbox" id="{{ control.label | lower | slug }}" name="event-date" value=".{{ control.label | lower | slug }}">
            {{ control.label }}
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>

  <!-- Filter: Time -->
  <fieldset class="[ mambo-expander ]" data-filter-group>
    <!-- Trigger for hidden content -->
    <legend class="[ mambo-accordion__header ]" data-color="cream-on-maroon-primary" data-houdini-toggle="eventTime">
      <h3>Time</h3>
    </legend>
    <!-- Hidden Content -->
    <div class="[ answer ]" data-houdini-group="eventFilter" data-color="maroon-primary-on-cream-secondary" id="eventTime">
      {% for control in filters.filterEvents.time %}
        <div class="[ mambo-input-checkbox ]">
          <label id="filterInput" for="{{ control.label | lower | slug }}">
            <input class="{% if control.occurred == true %} occurred {% endif %}" type="checkbox" id="{{ control.label | lower | slug }}" name="event-date" value=".{{ control.label | lower | slug }}">
            {{ control.label }}
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>

  <!-- Filter: Type -->
  <fieldset class="[ mambo-expander ]" data-filter-group>
    <!-- Trigger for hidden content -->
    <legend class="[ mambo-accordion__header ]" data-color="cream-on-maroon-primary" data-houdini-toggle="eventType">
      <h3>Type</h3>
    </legend>
    <!-- Hidden Content -->
    <div class="[ answer ]" data-houdini-group="eventFilter" data-color="maroon-primary-on-cream-secondary" id="eventType">
      {% for control in filters.filterEvents.type %}
        <div class="[ mambo-input-checkbox ]">
          <label id="filterInput" for="{{ control.label | lower | slug }}">
            <input class="{% if control.occurred == true %} occurred {% endif %}" type="checkbox" id="{{ control.label | lower | slug }}" name="event-date" value=".{{ control.label | lower | slug }}">
            {{ control.label }}
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>

  <!-- Filter: Status -->
  <fieldset class="[ mambo-expander ]" data-filter-group>
    <!-- Trigger for hidden content -->
    <legend class="[ mambo-accordion__header ]" data-color="cream-on-maroon-primary" data-houdini-toggle="eventStatus">
      <h3>Status</h3>
    </legend>
    <!-- Hidden Content -->
    <div class="[ answer ]" data-houdini-group="eventFilter" data-color="maroon-primary-on-cream-secondary" id="eventStatus">
      <div class="[ mambo-input-checkbox ]">
        <label id="filterInput" for="{{ control.label | lower | slug }}">
          <input class="selected" type="checkbox" id="all" name="event-date" value=".mix:not(.past-event)">
            Hide Past Events
          </label>
      </div>
      <div class="[ mambo-input-checkbox ]">
        <label id="filterInput" for="{{ control.label | lower | slug }}">
          <input class="selected" type="checkbox" id="all" name="event-date" value=".mix:not(.sold-out)">
            Hide Sold Out
          </label>
      </div>
    </div>
  </fieldset>

  <!-- Button: Clear Filters -->
  <div class=" filterEvents__reset control-group">
    <button class="[ mambo-anchor action ]" data-color="maroon-primary-on-yellow-primary" type="reset">Clear Filters</button>
  </div>
</form>

<script>
  var disclosure = new Houdini('[data-houdini-group="eventFilter"]', {
    isAccordion: true,
    collapseOthers: true,
    icon: 1,
    /* If true, include an expand/collapse icon */
    iconClass: 'houdini-toggle-icon',
    /* The class to use for the expand/collapse icon */
    iconAttribute: 'data-houdini-icon',
    /* The data attribute to use for the expand/collapse icon */
    iconShow: '<i class="fas fa-chevron-right"></i>',
    /* The icon to expand an accordion */
    iconHide: '<i class="fas fa-chevron-down"></i>',
    /* The icon to collapse an accordion */
  });
</script>
