<section class="[ mambo-hero mambo-section ]" data-color="maroon-primary-on-pink-tertiary" id="{{ hero.heroHeader | slug }}">
  <div class="[ container container-default ][ flow ]">
    <span id="skip-to-content">
      <h1>{{ title | safe }}</h1>
    </span>
    <div class="[ meta ][ flow ]">
      <p> 
        Type / Weekday / Month / Time <datetime class="[ time ]">{{ page.startDate | readableEventDate }}</datetime>
      </p>
      <div class="[ tickets ]" style="--gap: var(--size-32);">
        <a class="[ mambo-anchor action ]" data-color="cream-on-maroon-primary" href="#">
          Lorem Ipsum
        </a>
        <a class="[ mambo-anchor action ]" data-color="cream-on-maroon-primary" href="#">
          Lorem Ipsum
        </a>
      </div>
    </div>
  </div>
</section>
<section class="[ statuses ]">
  {% for status in status %}
    {% if status.statusType == "Featured on Home" %}
      <p class="[ status featured-on-home ]">{{status.statusLabel}}</p>
    {% elseif status.statusType == "Featured on Events" %}
      <p class="[ status featured-on-events ]">{{status.statusLabel}}</p>
    {% elseif status.statusType == "Sold Out" %}
      <p class="[ status sold-out ]">{{status.statusLabel}}</p>
    {% endif %}
  {% endfor %}
</section>
