{% if layout == "single-committee" %}
  <nav class="pagination-committee" data-color="{{ pageSettings.headerColorCombo }}">
    <div class="container container-default">
      <ul class="[ list ]">
        <li>
          <a class="[ mambo-anchor ]" href="/committee/">Back to Committee List</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/executive">Executive Team</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/communications">Communications Team</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/creative">Creative Team</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/operations">Operations Team</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/programming">Programming Team</a>
        </li>
      </ul>
    </nav>
  </div>
{% endif %}
