{% if layout == "single-committee" %}
  <nav class="pagination-committee" data-color="{{ pageSettings.headerColorCombo }}">
    <div class="container container-default">
      <ul class="[ list ]">
        <li>
          <a class="[ mambo-anchor ]" href="/committee/">Back to Committee List</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/executive">Executive</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/communications">Communications</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/creative">Creative</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/operations">Operations</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/programming">Programming</a>
        </li>
      </ul>
    </nav>
  </div>
{% endif %}
