<div class="pagination-committee mobile [ flex-none ]">
  <button class="[ mambo-anchor action ]" data-color="cream-on-maroon-primary" data-houdini-toggle="committeeMenu" hidden>
    Jump to...
  </button>
  <nav data-houdini-committeeMenu id="committeeMenu">
    <ul class="[ list ]">
      <li>
        <a class="[ mambo-anchor ]" href="/committee/">Back to Committee List</a>
      </li>
      <div>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/executive">Executive Team</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/communications">Communications Team</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/creative">Creative Team</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/operations">Operations Team</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]" href="/committee/programming">Programming Team</a>
        </li>
      </div>
    </ul>
  </nav>
</div>
