{% for content in sections %}
  <section class="[ mambo-section ][ flow ]" data-color="{{ content.colorCombo }}" id="{{ content.header | slug }}">
    <div class="[ container container-default ][ flow ][ grid-flow grid-flow-center grid-two-columns ]">
      <div class="[ flow ]">
        <h2>
          {{ content.section.header | md | safe }}
        </h2>
        <div class="[ wysiwyg ]">
          {{ content.section.body | md | safe }}
        </div>
      </div>
    </div>
  </section>
{% endfor %}
