<!-- Component: Header -->
<header class="[ mambo-header ]" data-color="{{ pageSettings.headerColorCombo }}" id="top">
  <div class="[ container container-default ]">
    <a class="[ mambo-anchor skip-link ]" data-color="{{ pageSettings.headerColorCombo }}" href="#content">
      Skip to Main Content
    </a>
    <div class="[ logo ]">
      <a aria-label="DC Design Week Home Page" data-type="logo" href="/">
        {% include 'static/images/logo-full.njk' %}
      </a>
    </div>
    <nav>
      <ul class="[ list ]">
        <li>
          <a class="[ mambo-anchor ]{{ '[ active ]' if '/events/' in page.url }}" href="/events/">Events</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]{{ '[ active ]' if '/about/' in page.url }}" href="/about/">About</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]{{ '[ active ]' if '/committee/' in page.url }}" href="/committee/">Committee</a>
        </li>
        <li>
          <a class="[ mambo-anchor ]{{ '[ active ]' if '/faq/' in page.url }}" href="/faq/">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
