<!-- Component: Footer -->
<footer class="[ mambo-footer ]" data-color="cream-on-maroon-primary">
  <div class="[ container container-default ]">
    <ul class="[ list ][ links ]">
      {% for link in settings.secondaryNavLinks %}
        {% if link.enabled == true %}
          <li>
            <a aria-label="{{ link.title }}" class="[ anchor ] mambo-button-link" href="{{ link.url }}">
              {{ link.title | safe }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="[ list ][ social ]">
      {% for link in settings.socialMediaLinks %}
        <li>
          <a aria-label="{{ link.title }}" class="[ anchor ]"
						href="{{ link.url }}" rel="noopener nofollow" target="_blank">
            {{ link.icon | safe }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <p class="[ copyright ]">
      {{ settings.copyright | safe }}
    </p>
  </div>
</footer>
{% if page.url == "/" %}
  <script>
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
  </script>
{% endif %}
<script>
  document
    .getElementById('content')
    .addEventListener('click', function (e) {
      e.preventDefault();
      var target = document.querySelectorAll('h1, h2, h3, h4, h5, h6')[0];
      target.setAttribute('tabindex', "-1");
      target.focus();
    });
</script>
