<!-- Component: Header -->
<header class="[ mambo-header ][ sticky ]" data-color="{{ pageSettings.headerColorCombo }}">
  <div class="[ container container-default ]">
    <div>
      <a aria-label="DC Design Week Homepage" data-type="logo" href="/">
        {% include 'static/images/logo-full.njk' %}
      </a>
    </div>
    <ul class="[ list desktop ]">
      <li>
        <a class="[ mambo-anchor ]{{ '[ active ]' if '/events/' in page.url }}" href="/events/">
          Events
        </a>
      </li>
      <li>
        <a class="[ mambo-anchor ]{{ '[ active ]' if '/about/' in page.url }}" href="/about/">
          About
        </a>
      </li>
      <li>
        <a class="[ mambo-anchor ]{{ '[ active ]' if '/committee/' in page.url }}" href="/committee/">
          Committee
        </a>
      </li>
      <li>
        <a class="[ mambo-anchor ]{{ '[ active ]' if '/faqs/' in page.url }}" href="/faqs/">
          FAQ
        </a>
      </li>
    </ul>
    <div class="list mobile">
      <button class="[ mambo-anchor action ]" data-color="{{ pageSettings.mobileButtonColorCombo }}" data-houdini-toggle="mobile" aria-label="Show more about pirates, too" hidden>
        Menu
      </button>
      <div data-houdini-menu id="mobile">
        <ul class="[ list ]">
          <li>
            <a class="[ mambo-anchor ]{{ '[ active ]' if '/events/' in page.url }}" href="/events/">
              Events
            </a>
          </li>
          <li>
            <a class="[ mambo-anchor ]{{ '[ active ]' if '/about/' in page.url }}" href="/about/">
              About
            </a>
          </li>
          <li>
            <a class="[ mambo-anchor ]{{ '[ active ]' if '/committee/' in page.url }}" href="/committee/">
              Committee
            </a>
          </li>
          <li>
            <a class="[ mambo-anchor ]{{ '[ active ]' if '/faqs/' in page.url }}" href="/faqs/">
              FAQ
            </a>
          </li>
        </ul>
        <!-- Houdini -->
        <script>
          var disclosure = new Houdini('[data-houdini-menu]');
        </script>
      </div>
    </div>
  </div>
</header>
