<!-- Component: Footer -->
{% include '2-layout-blocks/featured/newsletter.njk' %}
<footer class="[ mambo-footer ]" data-color="cream-on-maroon-primary">
  <div class="[ container container-default ]">
    <ul class="[ list ][ links ]">
      {% for link in settings.secondaryNavLinks %}
        {% if link.enabled == true %}
          <li>
            <a aria-label="{{ link.title }}" class="[ anchor ] mambo-button-link" href="{{ link.url }}">
              {{ link.title | safe }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="[ list ][ social ]">
      {% for link in settings.socialMediaLinks %}
        <li>
          <a aria-label="{{ link.title }}" class="[ anchor ]"
						href="{{ link.url }}" rel="noopener nofollow" target="_blank">
            {{ link.icon | safe }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <p class="[ copyright ]">
      {{ settings.copyright | safe }}
    </p>
  </div>
  <!-- Component: Link - Skip to Top -->
  <a class="[ link-back-to-top ][ flow-none ]" href="#content">
    Back to Top
  </a>
</footer>
<!-- Houdini -->
<script>
  var disclosure = new Houdini('[data-houdini]');
</script>
<script>
  var scene = document.getElementById('scene');
  var parallaxInstance = new Parallax(scene);
</script>
