<!-- Component: Link - Skip to Top -->
<section class="link-back-to-top" data-color="cream-on-maroon-primary">
  <div class="[ container container-default ]">
    <a class="[ mambo-anchor flow-none ]" href="#top">
      Back to Top
    </a>
  </div>
</section>
