<!-- Component: Link - Skip to Top -->
<section class="link-skip-to-content" data-color="cream-on-maroon-primary">
  <div class="[ container container-default ]">
    <a class="[ mambo-anchor flow-none ]" href="#content">
      Skip to Main
    </a>
  </div>
</section>
