<!-- Component: Link - Skip to Top -->
<section class="[ link-back-to-top ][ flow-none ]" data-color="cream-on-maroon-primary">
  <div class="[ container container-default ]">
    <a class="[ mambo-anchor ]" href="#content">
      Back to Top
    </a>
  </div>
</section>
