<!-- Component: Link - Skip to Top -->
<a class="[ link-back-to-top ][ flow-none ]" data-color="cream-on-maroon-primary" href="#content">
  <div class="[ container container-default ]">Back to Top</div>
</a>
