<!-- Component: Link - Skip to Top -->
<a class="[ link-skip-to-content ]" data-color="maroon-primary-on-cream-secondary" href="#content">
  <div class="[ container container-default ]">Skip to Main</div>
</a>
