---
title: Mambo
heroHeader: Mambo Design System
heroBody: >-
description: >-
  DC Design Week is an annual celebration of DC’s vibrant, diverse creative community. This year we’re once again asking you, our community members, to help us build DC Design Week. Submit an event proposal by June 12, 2022!
permalink: /mambo/
---
{% extends "layouts/base.njk" %}
{% block content %}
	<section class="[ mambo-component flow ][ padding-all-32 ]">
		<div class="[ container-default flow ]">
			<h2 id="Cards">
			<a href="#Cards">Cards</a>
			</h2>
			<div class="[ mambo-card ]">
				<figure class="[ image ][ background-color-cream ]">
					<img alt="🛑 Provide Alt Text" src="https://i.pinimg.com/474x/56/11/ae/5611ae1b6ba35c729c307f00f5a1622f.jpg">
				</figure>
				<div class="[ content ][ background-color-zodiac color-white ][ padding-all-24 ]">
					<h3>Lorem Ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Mauris egestas nisi eu orci fringilla mattis.</p>
					<a class="anchor [ color-cream ]" href="#">
						Lorem Ipsum
					</a>
				</div>
			</div>
			<div class="[ mambo-card ]">
				<figure class="[ image ][ background-color-white ]">
					<img alt="🛑 Provide Alt Text" src="https://i.pinimg.com/474x/56/11/ae/5611ae1b6ba35c729c307f00f5a1622f.jpg">
				</figure>
				<div class="[ content ][ background-color-cream color-zodiac ][ padding-all-24 ]">
					<h3>Lorem Ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Mauris egestas nisi eu orci fringilla mattis.</p>
					<a class="anchor [ color-valencia ]" href="#">
						Lorem Ipsum
					</a>
				</div>
			</div>
			<div class="[ mambo-card ]">
				<div class="[ content ][ background-color-zodiac color-white ][ padding-all-24 ]">
					<h3>Lorem Ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Mauris egestas nisi eu orci fringilla mattis.</p>
					<a class="anchor [ color-cream ]" href="#">
						Lorem Ipsum
					</a>
				</div>
			</div>
			<div class="[ mambo-card ]">
				<div class="[ content ][ background-color-cream color-zodiac ][ padding-all-24 ]">
					<h3>Lorem Ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Mauris egestas nisi eu orci fringilla mattis.</p>
					<a class="anchor [ color-valencia ]" href="#">
						Lorem Ipsum
					</a>
				</div>
			</div>
			<div class="[ mambo-card ]">
				<div class="[ content ][ background-color-white color-zodiac ][ padding-all-24 ]">
					<h3>Lorem Ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Mauris egestas nisi eu orci fringilla mattis.</p>
				</div>
			</div>
		</div>
		<div class="[ container-default ][ color-zodiac ]">
			<h2 id="List-Items">
			<a href="#List-Items">List-Items</a>
			</h2>
			<ul class="[ mambo-list-items ]">
				<li class="[ mambo-list-item mambo-list-item-font-awesome ][ font-size-16 ]">
					<i class="fa-brands fa-linkedin"></i> LinkedIn
				</li>
				<li class="[ mambo-list-item mambo-list-item-font-awesome ][ font-size-16 ]">
					<i class="fa-brands fa-instagram-square"></i> Instagram
				</li>
				<li class="[ mambo-list-item mambo-list-item-font-awesome ][ font-size-16 ]">
					<i class="fa-brands fa-twitter-square"></i> Twitter
				</li>
				<li class="[ mambo-list-item mambo-list-item-font-awesome ][ font-size-16 ]">
					<i class="fa-solid fa-browser"></i> Website
				</li>
			</ul>
			<ul class="[ mambo-list-items ]">
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-circle ][ font-size-18 ]">
					Lorem Ipsum (18px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-circle ][ font-size-18 ]">
					Lorem Ipsum (18px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-circle ][ font-size-18 ]">
					Lorem Ipsum (18px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-circle ][ font-size-18 ]">
					Lorem Ipsum (18px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-circle ][ font-size-16 ]">
					Lorem Ipsum (16px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-circle ][ font-size-16 ]">
					Lorem Ipsum (16px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-circle ][ font-size-16 ]">
					Lorem Ipsum (16px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-circle ][ font-size-16 ]">
					Lorem Ipsum (16px)
				</li>
			</ul>
			<ul class="[ mambo-list-items ]">
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-diamond ][ font-size-18 ]">
					Lorem Ipsum (18px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-diamond ][ font-size-18 ]">
					Lorem Ipsum (18px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-diamond ][ font-size-18 ]">
					Lorem Ipsum (18px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-diamond ][ font-size-18 ]">
					Lorem Ipsum (18px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-diamond ][ font-size-16 ]">
					Lorem Ipsum (16px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-diamond ][ font-size-16 ]">
					Lorem Ipsum (16px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-diamond ][ font-size-16 ]">
					Lorem Ipsum (16px)
				</li>
				<li class="[ mambo-list-item mambo-list-item-large mambo-list-item-diamond ][ font-size-16 ]">
					Lorem Ipsum (16px)
				</li>
			</ul>
		</div>
	</section>
{% endblock %}
