---
title: Events
description: Maybe your (very cool) friend brought you here for the first time. Or maybe you’ve been to every DC Design Week. Either way, we’re thrilled to have you.
permalink: /events/
---

{% extends "layouts/base.njk" %}
{% block content %}
	{% include '2-layout-blocks/list-events.njk' %}
	{% include '2-layout-blocks/list-faqs.njk' %}
	{% if content %}
		{% include '1-mambo-blocks/content.njk' %}
	{% endif %}
{% endblock %}
