---
title: Home - Internal 
description: >-
  DC Design Week is an annual celebration of DC’s vibrant, diverse creative community. This year we’re once again asking you, our community members, to help us build DC Design Week. Submit an event proposal by June 12, 2022!
heroHeader: DC Design Week 2022
heroBody: >-
  DC Design Week is an annual celebration of DC’s vibrant, diverse creative community. This year we’re once again asking you, our community members, to help us build DC Design Week. **Submit an event proposal by June 12, 2022!**
sectionOneColorCombo: white-on-zodiac
sectionOneHeader: What is DC Design Week?
sectionOneBody: >-
  If you don’t already know us, **DC Design Week (DCDW) is an annual celebration** of DC’s creative community: An ever-growing body of professionals, makers, and voices working across design disciplines. 


  **This year’s theme is: Community Recovery & Wellbeing.** You’ll see community-based healing and wellness woven into this year’s events and branding. While the DC Design Week committee plans some of your favorite annual events (including keynotes, parties, and more), we’re excited to use our community-curated event model again. For the second year in a row, most DCDW events will be **proposed and hosted by you, our community!**


  Find more details on what we’re looking for below. You can also [view the recording of our information session](#) to learn more about [submitting an event](#).
sectionOneQuestionsID: sectionOneQuestionsID
sectionOneQuestions:
  - question: What is DC Design Week’s stance on including in-person events?
    answer: >-
      COVID-19 is a rapidly changing, ongoing pandemic. The wide distribution of vaccines in DC and across the nation makes us hopeful that we can bring back more in-person event experiences to DCDW 2022.


      **We plan to host a few small, in-person, indoor events (less than 20 attendees with masks) and a few, larger, in-person, outdoor events for DC Design Week 2022, from October 14–21.**


      That said, **DC Design Week will always follow** [the latest CDC guidance on hosting in-person gatherings.](#) As a result, we might pivot events to virtual experiences if the situation changes. Prospective event partners must understand this when proposing in-person events. We will work with selected event partners to ensure that each in-person event follows the latest CDC guidelines and has appropriate contingency plans.
    trigger: question-1
    expanded: false
  - question: How does event ticketing and pricing work?
    answer: >-
      COVID-19 is a rapidly changing, ongoing pandemic. The wide distribution of vaccines in DC and across the nation makes us hopeful that we can bring back more in-person event experiences to DCDW 2022..


      **We plan to host a few small, in-person, indoor events (less than 20 attendees with masks) and a few, larger, in-person, outdoor events for DC Design Week 2022, from October 14–21.**


      That said, **DC Design Week will always follow** [the latest CDC guidance on hosting in-person gatherings.](#) As a result, we might pivot events to virtual experiences if the situation changes. Prospective event partners must understand this when proposing in-person events. We will work with selected event partners to ensure that each in-person event follows the latest CDC guidelines and has appropriate contingency plans.
    trigger: question-2
    expanded: false
sectionTwoColorCombo: zodiac-on-white
sectionTwoHeader: What is DC Design Week looking for in an event?
sectionTwoBody: >-
  We’ll review event proposals based on their quality, attention to detail, and adherence to [DC Design Week’s Code of Conduct.](#) This criteria helps us offer community-curated events that reflect our community’s diverse interests, values, and needs. All events that we host should be relevant, engaging, and provide value for the DC design community.


  Join us for an information session on May 25, 2022,  to learn more about each type of event discussed below. We’ve had success in the past with the following types of events:
sectionTwoQuestionsID: sectionTwoQuestionsID
sectionTwoQuestions:
  - question: Creative Breakfast or Lunch
    answer: >-
      Body
    trigger: question-1
    expanded: false
  - question: Lightning Talks Series
    answer: >-
      Body
    trigger: question-2
    expanded: false
  - question: Panel
    answer: >-
      Body
    trigger: question-3
    expanded: false
  - question: Self-Directed Activity
    answer: >-
      Body
    trigger: question-4
    expanded: false
  - question: Social Gathering
    answer: >-
      Body
    trigger: question-5
    expanded: false
  - question: Talk
    answer: >-
      Body
    trigger: question-6
    expanded: false
  - question: Workshop
    answer: >-
      Body
    trigger: question-7
    expanded: false
sectionThreeColorCombo: white-on-zodiac
sectionThreeHeader: How does the community-curated event proposal submission process work?
sectionThreeBody: >- 
  In our community-curated events model, we invite you, the community, to pitch and put on your own events. **Event proposals are due by June 12, 2022.**


  The DCDW committee will review proposals and add events to the DCDW calendar based on their quality, attention to detail, and adherence to [DC Design Week’s Code of Conduct.]() All events should provide value for the DC creative community by being relevant, engaging, accessible, and inclusive.
  

  **We will contact everyone who submits a proposal to share our decisions and any next steps by July 20, 2022.**
sectionThreeQuestion1Body:
sectionThreeQuestionsID: sectionThreeQuestionsID
sectionThreeQuestions:
  - question: How do I submit an event for consideration?
    answer: >-
      Body
    trigger: question-1
    expanded: false
  - question: What information do I need to submit with my event idea?
    answer: >-
      Body
    trigger: question-2
    expanded: false
  - question: What happens after submitting an event proposal?
    answer: >-
      Body
    trigger: question-3
    expanded: false
sectionFiveColorCombo: zodiac-on-white
sectionFiveHeader: How else can I get involved with DC Design Week 2022?
sectionFiveBody: DC Design Week is 100% volunteer-run, and it wouldn’t be the same without the support of our community. We are always looking for sponsors who can help ensure this week is as accessible and inclusive as possible, as well as  volunteers who can provide support during DC Design Week.
sectionFiveCards:
  - sectionFiveCardImage: https://i.pinimg.com/474x/56/11/ae/5611ae1b6ba35c729c307f00f5a1622f.jpg
    sectionFiveCardImageAlt: 🛑 Provide Alt Text
    sectionFiveCardTitle: Sponsorship
    sectionFiveCardBody: Whether you’re able to offer in-kind services or financial support, we welcome sponsorship partners who can help make DCDW even better.
    sectionFiveCardLinkURL: "#"
    sectionFiveCardLinkLabel: Contact DCDW about sponsorship
  - sectionFiveCardImage: https://i.pinimg.com/474x/56/11/ae/5611ae1b6ba35c729c307f00f5a1622f.jpg
    sectionFiveCardImageAlt: 🛑 Provide Alt Text
    sectionFiveCardTitle: Volunteer
    sectionFiveCardBody: You can help out the day of an event during DC Design Week with Zoom support, cleaning up or tearing down in-person events, and more.
    sectionFiveCardLinkURL: "#"
    sectionFiveCardLinkLabel: Sign up to join our volunteer list
permalink: /
---

{% extends "layouts/base.njk" %}
{% block content %}
	{% include '2-layout-blocks/home-internal-section-1.njk' %}
	{% include '2-layout-blocks/home-internal-section-2.njk' %}
	{% include '2-layout-blocks/home-internal-section-3.njk' %}
	{% include '2-layout-blocks/home-internal-section-5.njk' %}
	{% include '2-layout-blocks/archive-events.njk' %}
	{% if content %}
		{% include '1-mambo-blocks/content.njk' %}
	{% endif %}
{% endblock %}
