{% if page.url == "/" %}

  <!-- Wave -->
  <div class="[ wave left ]" style="fill: var(--dcdw-2022-cream-secondary); background-color: var(--dcdw-2022-cream-primary); margin-bottom: -1px;">
    {% include '1-global-blocks/wave.njk' %}
  </div>

  {% for content in featured.brand %}
    <section aria-label="{{ content.header | safe }}" class="[ mambo-section ][ flow ]" data-color="{{ content.colorCombo }}" id="{{ content.header | slug }}">
      <div class="[ container container-default ][ flow ][ grid-flow grid-flow-center grid-two-columns ]">
        <div class="[ flow ]">
          <h2>{{ content.header | md | safe }}</h2>
          <p>{{ content.body | md | safe }}</p>
          <a aria-label="{{ content.linkLabel | safe }}" class="[ mambo-anchor action ]" data-color="cream-on-maroon-primary" href="{{ content.linkURL }}">
            {{ content.linkLabel | safe }}
          </a>
        </div>
        {% if content.image %}
          <figure>
            <img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
          </figure>
        {% endif %}
      </div>
    </section>
  {% endfor %}

  <!-- Wave -->
  <div class="[ wave right ]" style="fill: var(--dcdw-2022-cream-primary); background-color: var(--dcdw-2022-yellow-primary); margin-bottom: -1px;">
    {% include '1-global-blocks/wave.njk' %}
  </div>

{% endif %}

{% if page.url == "/about/" %}

  <!-- Wave -->
  <div class="[ wave left ]" style="fill: var(--dcdw-2022-cream-primary); background-color: var(--dcdw-2022-cream-secondary); margin-bottom: -1px;">
    {% include '1-global-blocks/wave.njk' %}
  </div>

  {% for content in featured.brand %}
    <section aria-label="{{ content.header | safe }}" class="[ mambo-section ][ flow ]" data-color="maroon-primary-on-cream-secondary" id="{{ content.header | slug }}">
      <div class="[ container container-default ][ flow ][ grid-flow grid-flow-center grid-two-columns ]">
        <div class="[ flow ]">
          <h2>{{ content.header | md | safe }}</h2>
          <p>{{ content.body | md | safe }}</p>
          <a aria-label="{{ content.linkLabel | safe }}" class="[ mambo-anchor action ]" data-color="cream-on-maroon-primary" href="{{ content.linkURL }}">
            {{ content.linkLabel | safe }}
          </a>
        </div>
        {% if content.image %}
          <figure>
            <img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
          </figure>
        {% endif %}
      </div>
    </section>
  {% endfor %}

  <!-- Wave -->
  <div class="[ wave right ]" style="fill: var(--dcdw-2022-cream-secondary); background-color: var(--dcdw-2022-cream-secondary); margin-bottom: -1px;">
    {% include '1-global-blocks/wave.njk' %}
  </div>

{% endif %}
