<!-- Wave -->
<div class="[ wave left has-border ]" style="fill: var(--dcdw-2022-cream-secondary); background-color: var(--dcdw-2022-cream-secondary); ">
  {% include '1-global-blocks/wave.njk' %}
</div>

{% for content in featured.codeOfConduct %}
  <section class="[ mambo-section ][ flow ]" data-color="maroon-primary-on-cream-secondary" id="{{ content.header | slug }}">
    <div class="[ container container-default ][ flow ][ grid-flow grid-flow-center grid-two-columns ]">
      <div class="[ flow ]">
        <h2>{{ content.header | md | safe }}</h2>
        <p>{{ content.body | md | safe }}</p>
      </div>
      {% if content.image %}
        <figure>
          <img alt="{{ content.imageALT }}" src="{{ content.image }}">
        </figure>
      {% endif %}
    </div>
  </section>
{% endfor %}
