{% for content in featured.events %}
  <section class="[ mambo-section ][ flow ]" id="{{ content.header | slug }}">
    <div class="[ container container-default ][ flow ][ ]">
      <div class="[ flow ]">
        <h2>{{ content.header | md | safe }}</h2>
        {% include "1-mambo-blocks/divider.njk" %}
        <p>{{ content.body | md | safe }}</p>
        <ul class="[ faqs-list ][ grid-flow grid-four-columns ]">
          {% for event in collections.event | reverse %}
            <li class="[ mambo-card event ][ {{ event.data.type | safe }} ][ flow ]">
              <div class="[ media ]">
                <figure class="[ image ]">
                  <img alt="{{ event.data.imageALT }}" loading=lazy src="{{ event.data.image }}">
                </figure>
                <div class="[ statuses ]">
                  {% for status in event.data.status %}
                    {% if status.statusType == "Featured on Home" %}
                      <p class="[ status ]">{{status.statusLabel}}</p>
                    {% elseif status.statusType == "Featured on Events" %}
                      <p class="[ status ]">{{status.statusLabel}}</p>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <a href="{{ event.url }}">
                <h3 class="[ title ]">{{event.data.title}}</h3>
              </a>
              <div class="[ meta ]">
                <div class="[ day-date ]">
                  <p class="[ day ]">Day</p>
                  <datetime class="[ date ]">Date</datetime>
                </div>
                <div class="[ time-location ]">
                  <datetime class="[ time ]">Time</datetime>
                  <p class="[ location ]">Location</p>
                </div>
                {# <datetime class="[ time ]">{{ event.date | readableEventDate }}</datetime> #}
              </div>
            </li>
          {% endfor %}
        </ul>
        <a class="[ mambo-button ]" href="{{ content.linkURL }}">
          {{ content.linkLabel | safe }}
          <span>
            <i class="fa-solid fa-arrow-right"></i>
          </span>
        </a>
      </div>
    </div>
  </section>
{% endfor %}
