<section class="[ flow ][ padding-all-16 ]" id="Code-of-Conduct">
	<h2>
		Code of Conduct
	</h2>
	<p>
		All AIGA DC events adhere to our <a href="https://dc.aiga.org/events/code-of-conduct/">Code of Conduct</a>.
	</p>
</section>
