<section class="[ mambo-section ][ {{ sectionOne.sectionOneColorCombo | safe }} ]" data-color="{{ sectionOne.sectionOneColorCombo | safe }}" id="{{ sectionOne.sectionOneHeader | slug }}">
  <div class="[ container-content ][ flow ]">
    <h2>
      {{ sectionOne.sectionOneHeader | md | safe }}
    </h2>
    {% include '1-mambo-blocks/divider.njk' %}
    <div class="wysiwyg flow-3">
      {{ sectionOne.sectionOneBody | md | safe }}
    </div>
  </div>
</section>
