<section class="[ mambo-section ][ {{ sectionOne.sectionOneColorCombo | safe }} ]" data-color="{{ sectionOne.sectionOneColorCombo | safe }}" id="{{ sectionOne.sectionOneHeader | slug }}">
  <div class="[ container container-default ][ flow ]">
    <h2>{{ sectionOne.sectionOneHeader | md | safe }}</h2>
    {% include '1-mambo-blocks/divider.njk' %}
    <div class="[ wysiwyg ]">{{ sectionOne.sectionOneBody | md | safe }}</div>
  </div>
</section>
