<section class="[ mambo-section ][ {{ sectionFive.sectionFiveColorCombo | safe }} ]" data-color="{{ sectionFive.sectionFiveColorCombo | safe }}" id="{{ sectionFive.sectionFiveHeader | slug }}">
  <div class="[ container container-default ][ flow ]">
    <h2>
      {{ sectionFive.sectionFiveHeader | md | safe }}
    </h2>
    {% include '1-mambo-blocks/divider.njk' %}
    <div class="[ wysiwyg ]">
      {{ sectionFive.sectionFiveBody | md | safe }}
    </div>
  </div>
</section>
