<section
	class="toolbar-tickets flex-flow flex-flow-start flex-flow-column flex-flow-space-between padding-left-32 padding-right-32 padding-bottom-32 padding-top-16 background-color-white"
	id="tickets">
  <h2>
		Details
	</h2>
  {% if '/event/' in page.url %}
    <div class="[ details ] [ flex-flow flex-flow-column flex-flow-start ]">
      <time datetime="{{ startDate | readableEventDate }}">{{ startDate | readableEventDate }}</time>
      <time datetime="{{ startDate | dateTime }}">{{ startDate | dateTime }}</time>
      <time datetime="{{ endDate | dateTime }}">{{ endDate | dateTime }}</time>
      {% for button in location %}
        <a class="[ ticket ] mambo-button" data-type="non-member" href="{{ button.locationDirections }}"
			rel="noreferrer nofollow" target="_blank">
			View Directions
		</a>
      {% endfor %}
    </div>
    <div class="[ tickets ] [ flex-flow flex-flow-column flex-flow-start ]">
      {% for button in tickets %}
        {% if button.buttonType == 'Member'%}
          <a class="[ mambo-button ] [ border-bottom color-teal ]  [ {{ content.buttonTextColor }} ]"
			data-type="member" href="{{ button.linkURL }}" rel="noreferrer nofollow" target="_blank">
            {{ button.linkLabel }}
            <span>
              <i class="fa-solid fa-arrow-right"></i>
            </span>
          </a>
        {% else %}
          <a class="[ mambo-button ] [ border-bottom color-teal ]  [ {{ content.buttonTextColor }} ]"
			data-type="non-member" href="{{ button.linkURL }}" rel="noreferrer nofollow" target="_blank">
            {{ button.linkLabel }}
            <span>
              <i class="fa-solid fa-arrow-right"></i>
            </span>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</section>
