<!DOCTYPE html>
<html lang="en" class="2022-DC-Design-Week layout-{{ title | slug }}" id="start">

	{% include 'partials/layouts/head.html' %}

	<body>
		{% include 'partials/block/skip-to-content.html' %}
		{% include 'partials/block/site-header.html' %}
		<main id="content">
			{% include 'partials/block/hero-small.html' %}
			{% block content %}
			{{ content | safe }}
			{% endblock %}
			<section style="text-align: center; font-weight: 900; padding: 32px;">
				🚧 Mailchimp Submission Form Should Be Here. Currently for whatever reason the form has been taking a
				long time to load, so this will remain a placeholder for now.
			</section>
		</main>
		{% include 'partials/block/site-footer.html' %}
	</body>

</html>
