<!DOCTYPE html>
<html lang="en" class="layout-{{ title | slug }}" style="background-color: {{ backgroundColor | safe }}; color: {{ textColor | safe }};" {% for event in collections.events | reverse %}style="background-color: {{ event.backgroundColor | safe }}; color: {{ event.textColor | safe }};" {% endfor %}>

	{% include 'partials/layouts/head.html' %}

	<body>
		<main>
			{% include 'partials/block/site-header.html' %}
			{% include 'partials/block/hero-small.html' %}
			{% block content %}
			{{ content | safe }}
			{% endblock %}
			{% include 'partials/block/subscription-small.html' %}
			{% include 'partials/block/site-footer.html' %}
		</main>
	</body>

</html>
