{% extends "partials/layouts/base.html" %}

{% block content %}
<section class="wysiwyg">
	{{ content | safe }}
</section>
<section>
	<ul class="events [ grid grid--three-column ]">
		{% for event in collections.events | reverse %}
		<!-- Display image with link to event. -->
		<a class="anchor" href="{{ event.url }}">
			<li class="event {{ event.data.type | safe }}">
				<figure class="image">
					<img alt="{{ event.data.imageALT }}" loading=lazy src="{{ event.data.image }}">
				</figure>
				<!-- Displays human readable date of event -->
				<div class="meta">
					<h3>
						{{event.data.title}}
					</h3>
					<datetime>
						{{ event.data.date | readableEventDate }}
					</datetime>
				</div>
			</li>
		</a>
		{% endfor %}
	</ul>
</section>
{% include 'partials/block/faqs-small.html' %}
{% endblock %}
