{% extends "partials/layouts/base.html" %}

{% block content %}
{% if content %}
{% include 'partials/block/page-content.html' %}
{% endif %}
{% include 'partials/block/faqs-large.html' %}
{% include 'partials/block/accessibility/featured.html' %}
{% endblock %}

<script>
	var disclosure = new Houdini('[data-houdini-group="faq"]', {
		isAccordion: true,
		collapseOthers: true,
		icon: 1, /* If true, include an expand/collapse icon */
		iconClass: 'houdini-toggle-icon', /* The class to use for the expand/collapse icon */
		iconAttribute: 'data-houdini-icon', /* The data attribute to use for the expand/collapse icon */
		iconShow: '<i class="fas fa-chevron-right"></i>', /* The icon to expand an accordion */
		iconHide: '<i class="fas fa-chevron-down"></i>', /* The icon to collapse an accordion */
	});
</script>
