.flex-flow {
    display: flex;
    grid-gap: var(--gap, var(--size-16));
}

.flex-flow-column {
    flex-direction: column;
}

.flex-flow-row {
    flex-direction: row;
}

.flex-flow-start {
    align-items: start;
}

.flex-flow-center {
    align-items: center;
}

.flex-flow-end {
    align-items: end;
}

.flex-flow-space-between {
    justify-content: space-between;
}
