.grid-flow {
  display: grid;
  grid-gap: var(--gap, var(--size-16));
}

.grid-flow-start {
  align-items: start;
}

.grid-flow-center {
  align-items: center;
}

.grid-flow-end {
  align-items: end;
}

.grid-one-column,
.grid-two-columns,
.grid-three-columns,
.grid-four-columns,
.grid-three-fourths {
  grid-template-columns: 1fr;
}

.column-span-one,
.column-span-two,
.column-span-three,
.column-span-four {
  grid-column: span 1;
}

@media screen and (min-width:48rem) {
  .grid-two-columns {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (min-width:64rem) {
  .column-span-two {
    grid-column: span 2;
  }

  .column-span-three {
    grid-column: span 3;
  }

  .column-span-four {
    grid-column: span 4;
  }

  .grid-three-columns {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-three-fourths {
    grid-template-columns: 1fr 0.25fr;
  }

  .grid-four-columns {
    grid-template-columns: repeat(4, 1fr);
  }

}
