.flow>*+*:not(:first-child) {
  margin-top: var(--gap, var(--size-24));
}

.flow-small>*+*:not(:first-child) {
  margin-top: var(--size-16);
}

.flow-large>*+*:not(:first-child) {
  margin-top: var(--size-32);
}

.flow-none {
  margin: 0;
}

/* Flex */
.flex-flow {
  display: flex;
  grid-gap: var(--gap, var(--size-16));
}

.flex-flow-column {
  flex-direction: column;
}

.flex-flow-row {
  flex-direction: row;
}

.flex-flow-start {
  align-items: start;
}

.flex-flow-center {
  align-items: center;
}

.flex-flow-end {
  align-items: end;
}

.flex-flow-space-between {
  justify-content: space-between;
}

/* Grid */
.grid-flow {
  display: grid;
  grid-gap: var(--gap, var(--size-32));
  position: relative;
}

.grid-flow-start {
  align-items: start;
}

.grid-flow-center {
  align-items: center;
}

.grid-flow-end {
  align-items: end;
}

.grid-one-column,
.grid-two-columns,
.grid-three-columns,
.grid-four-columns {
  grid-template-columns: 1fr;
}

.column-span-one,
.column-span-two,
.column-span-three,
.column-span-four {
  grid-column: span 1;
}

@media screen and (min-width:48rem) {
  .grid-two-columns {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (min-width:64rem) {
  .column-span-two {
    grid-column: span 2;
  }

  .column-span-three {
    grid-column: span 3;
  }

  .column-span-four {
    grid-column: span 4;
  }

  .grid-three-columns {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-four-columns {
    grid-template-columns: repeat(4, 1fr);
  }

}

.event-events .grid-flow,
.event-faq .grid-flow {
  grid-gap: var(--size-64);
}

.event-events .events-list,
.event-committee .mambo-cards,
.layout-single-committee .mambo-cards,
.speakers {
  grid-gap: var(--size-64);
}

.event-committee .mambo-card.committee .image {
  aspect-ratio: 16/9;
  max-width: unset;
}

.event-committee .mambo-card.committee .image img {
  aspect-ratio: 16/9;
}

.event-committee .mambo-card .wysiwyg {
  line-height: 1.25;
}

.event-home #events {
  margin-top: var(--size-64);
}
