/* Grid */
.grid-flow {
	display: grid;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1fr);
	position: relative;

	&--align-center {
		align-items: center;
	}

	&--align-end {
		align-items: end;
	}

	&--align-start {
		align-items: start;
	}

	&--gap-none {
		gap: 0;
	}
}

.grid--one-column,
.grid--two-column,
.grid--three-column,
.grid--four-column {
	grid-template-columns: 1fr;
}

.grid--one-column-span,
.grid--two-column-span,
.grid--three-column-span,
.grid--four-column-span {
	grid-column: span 1;
}

@media screen and (min-width: 768px) {
	.grid {
		grid-gap: var(--space-32);
	}

	.grid--one-column-span,
	.grid--two-column-span,
	.grid--three-column-span,
	.grid--four-column-span {
		grid-column: span 1;
	}
}

@media screen and (min-width: 1024px) {
	.grid--one-column {
		grid-template-columns: 1fr;
	}

	.grid--two-column {
		grid-template-columns: repeat(2, 1fr);
	}

	.grid--three-column {
		grid-template-columns: repeat(3, 1fr);
	}

	.grid--four-column {
		grid-template-columns: repeat(4, 1fr);
	}

	.grid--one-column-span {
		grid-column: span 1;
	}

	.grid--two-column-span {
		grid-column: span 2;
	}

	.grid--three-column-span {
		grid-column: span 3;
	}

	.grid--four-column-span {
		grid-column: span 4;
	}
}

/* Flex */
.flex-flow {
	display: flex;
	gap: var(--gap, 1rem);
}

.flex-flow-column {
	flex-direction: column;
}

.flex-flow-row {
	flex-direction: row;
}

.flex-flow-start {
	align-items: start;
}

.flex-flow-center {
	align-items: center;
}

.flex-flow-end {
	align-items: end;
}

.flex-flow-space-between {
	justify-content: space-between;
}

/* Sections */
// section {
// 	padding: var(--space-16);
// }

// @media screen and (min-width: 1024px) {
// 	section {
// 		padding: var(--space-32);
// 	}
// }

/* Page: About */

/* Page: Accessibility */

/* Page: Events Single */

/* Page: Events */

/* Page: FAQs */

.faqs-sidebar {
	padding: 2rem;
	position: sticky;
	top: 1rem;
}

/* Page: Makers */
