<section class="[ faqs ] [ flow ][ padding-all-16 ]" id="faqs">
	<h2>
		2022 DC Design Week FAQs
	</h2>
	<div class="[ grid grid--align-start  ] [ grid-flow grid-flow-start grid-three-fourths ]">
		<!-- Main FAQs -->
		<ul class="[ faqs-list ] [  ] [ flow ]">
			{% for question in faqs.questions %}
				<li class="[ mambo-expander ]">
					<!-- Trigger for hidden content -->
					<h3 data-houdini-toggle="{{ question.trigger }}">
						{{ question.question | safe }}
					</h3>
					<!-- Hidden Content -->
					<div class="answer [ wysiwyg ] {% if question.expanded == true %} [ is-expanded ] {% endif %} ]"
					data-houdini-group="faq" id="{{ question.trigger }}">
						{{ question.answer | safe }}
					</div>
				</li>
			{% endfor %}
		</ul>
		<!-- Sticky Sidebar -->
		<div class="[ sticky faqs-sidebar ] [ grid-flow grid-one-column ] [ padding-all-16 ]">
			<div class="[ grid-flow ]">
				<h2>
					Contact
				</h2>
				<div class="[ grid-flow grid-one-column ]">
					<strong>
						General Questions
					</strong>
					<p>
						Email: <a href="mailto:designweek@dc.aiga.org">designweek@dc.aiga.org</a>
					</p>
				</div>
			</div>
			<div class="[ grid-flow grid-one-column ]">
				<strong>
					Accessibility Questions
				</strong>
				<p>
					Email: <a href="mailto:accessibility@dc.aiga.org">accessibility@dc.aiga.org</a>
				</p>
			</div>
		</div>
	</div>
</section>

<script>
	var disclosure = new Houdini('[data-houdini-group="faq"]', {
		// Content
		contentClass: 'houdini',
		expanded: false,
		expandedClass: 'is-expanded',

		// Toggle Buttons
		btnAfter: true, // If true, load toggle button after the content
		btnClass: 'question', // The class to add to toggle buttons
		btnAttribute: 'data-houdini-toggle', // The data attribute to use for toggle buttons
		btnTextAttribute: 'data-houdini-button', // The data attribute for the button text
		btnLabelAttribute: 'data-houdini-label', // The data attribute for aria-label text
		btnPreexisting: 'data-houdini-button-preexisting', // The data attribute added to pre-existing buttons

		// Accordion
		isAccordion: true, // If true, treat as an accordion
		collapseOthers: true, // If true, only allow on open piece of content at a time
		headingClass: 'header', // The class to add to the heading element

		// Icons
		icon: -1, // If true, include an expand/collapse icon
		iconClass: 'question-icon', // The class to use for the expand/collapse icon
		iconAttribute: 'question-icon', // The data attribute to use for the expand/collapse icon
		iconShow: '<i class="fas fa-chevron-right"></i>',
		/* The icon to expand an accordion */
		iconHide: '<i class="fas fa-chevron-down"></i>',
		/* The icon to collapse an accordion */
	});
</script>
