<header class="[ mambo-header ][ flex-flow flex-flow-row flex-flow-center flex-flow-space-between ][ padding-all-16 ]">
	<div>
		<a data-type="logo" href="/">
			{% include 'dcdw-logo.njk' %}
		</a>
	</div>
	<ul class="[ links ] [ flex-flow flex-flow-row flex-flow-center ]">
		{% for link in settings.primaryNavLinks %}
		<li class="link">
			<a aria-label="{{ link.title }}" class="anchor mambo-button-link" href="{{ link.url }}">
				{{ link.title | safe }}
			</a>
		</li>
		{% endfor %}
	</ul>
</header>
