@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* AIGA DC: Brand Colors */
  --brand-aiga-dc: #297b76;
  /* DCDW: Past Brand Colors */
  --dcdw-2016: #0000ff;
  --dcdw-2017: #3e07d0;
  --dcdw-2018: #297b76;
  --dcdw-2019: #fb7eb8;
  --dcdw-2020: #4ae725;
  --dcdw-2021: #ec1001;
  /* DCDW: 2022 Brand Colors */
  --black: #000000;
  --white: #ffffff;
  --cream: #f6c84c;
  --teal: #00857a;
  --valencia: #cc4929;
  --zodiac: #143060;
  /* Animations */
  --timing-default: 100ms;
  /* Layering */
  --index-1: 100;
  --index-2: 200;
  --index-3: 300;
  --index-4: 400;
  --index-5: 500;
  --index-6: 600;
  --index-7: 700;
  --index-8: 800;
  --index-9: 900;
  --index-10: 1000;
  /* Font Families */
  --font-sans: "League Spartan", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  /* Font Sizes */
  --font-size-4: 0.25rem;
  --font-size-8: 0.5rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --font-size-40: 2.5rem;
  --font-size-48: 3rem;
  --font-size-56: 3.5rem;
  --font-size-64: 4rem;
  --font-size-72: 4.5rem;
  --font-size-80: 5rem;
  --font-size-88: 5.5rem;
  --font-size-96: 6rem;
  --font-size-104: 6.5rem;
  --font-size-112: 7rem;
  --font-size-120: 7.5rem;
  --font-size-128: 8rem;
  --font-size-136: 8.5rem;
  --font-size-144: 9rem;
  --font-size-152: 9.5rem;
  --font-size-160: 10rem;
  --font-size-168: 10.5rem;
  --font-size-176: 11rem;
  --font-size-184: 11.5rem;
  --font-size-192: 12rem;
  --font-size-200: 12.5rem;
  /* Spacing */
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-56: 3.5rem;
  --space-64: 4rem;
  --space-72: 4.5rem;
  --space-80: 5rem;
  --space-88: 5.5rem;
  --space-96: 6rem;
  --space-104: 6.5rem;
  --space-112: 7rem;
  --space-120: 7.5rem;
  --space-128: 8rem;
  --space-136: 8.5rem;
  --space-144: 9rem;
  --space-152: 9.5rem;
  --space-160: 10rem;
  --space-168: 10.5rem;
  --space-176: 11rem;
  --space-184: 11.5rem;
  --space-192: 12rem;
  --space-200: 12.5rem;
}

/* 
👋🏾 Shoutout: Special thanks to Andy Bell for his helpful minimal reset:
https://hankchizljaw.com/wrote/a-modern-css-reset/
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
mambo-button,
h1,
h2,
h3,
h4,
hr,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
iframe,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and mambo-buttons */
input,
mambo-button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0 !important;
    animation-duration: var(--timing-default) !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: var(--timing-default) !important;
    scroll-behavior: auto !important;
  }
}
body {
  color: var(--black);
  font-family: var(--font-serif);
  font-size: var(--font-size-16);
  line-height: 1.5;
  max-width: 1024px;
  margin: auto;
}

/* The emerging W3C standard that is currently Firefox-only */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--black) var(--cream);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--cream);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--black);
}

::selection {
  background-color: var(--black);
  color: var(--black);
}

.disabled {
  cursor: not-allowed !important;
}

.enabled {
  cursor: pointer !important;
}

#skip-to-content {
  scroll-margin-top: 80px;
}

.skip-to-content:not(:focus):not(:hover) {
  transform: translateY(-200px);
  opacity: 0;
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
}

.skip-to-content {
  align-items: center;
  background-color: var(--black);
  color: var(--yellow);
  display: flex;
  font-weight: 900;
  height: 74px;
  justify-content: space-around;
  margin: auto;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  z-index: var(--index-10);
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.skip-to-content:focus {
  outline: 4px solid black;
}

a {
  color: var(--black);
  cursor: pointer;
  font-weight: 900;
  transition: opacity var(--timing-default) ease-in;
}

a:active {
  outline: 4px solid var(--black);
  outline-offset: 4px;
}

*:focus,
a:focus {
  outline: 4px solid var(--black);
  outline-offset: 4px;
}

figure {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  display: block;
  line-height: initial;
  text-rendering: optimizeLegibility;
}

h2 {
  font-size: var(--font-size-24);
}

fieldset,
legend,
ul {
  border: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  vertical-align: middle;
  width: 100%;
}

@media screen and (min-width: 1366px) {
  body {
    font-size: var(--font-size-18);
  }

  h2 {
    font-size: var(--font-size-32);
  }
}
/* Component: mambo-accordion */
/* Component: mambo-banner */
.banner {
  border: solid 1px var(--black);
  color: var(--black);
  font-family: var(--font-serif);
  padding: 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-transform: uppercase;
  z-index: var(--index-6);
}

.banner-inner {
  text-align: center;
}

.banner-inner p {
  font-size: var(--font-size-20);
}

/* Component: mambo-button */
.mambo-button {
  border: solid 4px transparent;
  display: block;
  font-weight: 900;
  padding: var(--space-8) var(--space-16);
  text-align: center;
  text-decoration: none;
}

.mambo-button-solid--black {
  background-color: var(--black);
  color: var(--cream);
}

.mambo-button-solid--valencia {
  background-color: var(--black);
  color: var(--black);
}

.mambo-button-border--valencia {
  border-color: var(--black);
  color: var(--black);
}

.mambo-button-link--valencia {
  color: var(--black);
}

.mambo-button-solid--black:hover {
  background-color: transparent;
  border: solid 4px var(--black);
  color: var(--black);
  cursor: pointer;
}

.mambo-button-solid--valencia:hover,
.mambo-button-border--valencia:hover,
.mambo-button-link--valencia:hover {
  background-color: transparent;
  border: solid 4px var(--black);
  color: var(--black);
  cursor: pointer;
}

.mambo-button-solid--yellow {
  background-color: var(--yellow);
  color: var(--black);
}

.mambo-button-border--yellow {
  border-color: var(--yellow);
  color: var(--yellow);
}

.mambo-button-link--yellow {
  color: var(--yellow);
}

.mambo-button-solid--yellow:hover,
.mambo-button-border--yellow:hover,
.mambo-button-link--yellow:hover {
  background-color: transparent;
  border: solid 4px var(--yellow);
  color: var(--yellow);
  cursor: pointer;
}

.mambo-button-solid--black::selection,
.mambo-button-border--black::selection,
.mambo-button-link--black::selection,
.mambo-button-solid--yellow::selection,
.mambo-button-border--yellow::selection,
.mambo-button-link--yellow::selection,
.mambo-button-solid--valencia::selection,
.mambo-button-border--valencia::selection,
.mambo-button-link--valencia::selection {
  background-color: unset;
}

@media screen and (min-width: 768px) {
  .mambo-button {
    display: inline-block;
  }
}
.card {
  display: grid;
  grid-gap: 1rem;
}

.card a {
  color: var(--black);
  display: block;
  text-decoration: none;
}

.card a:hover {
  color: var(--black);
}

.card-aside {
  position: relative;
}

.card-image {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.card-image:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.card-image img {
  display: block;
}

.card-image a {
  color: var(--cream);
  text-align: center;
  text-decoration: underline;
}

.card-event .card-image {
  filter: unset;
}

.card-header h2,
.card-header h3 {
  font-weight: 900;
}

.card-details {
  align-content: center;
  display: grid;
  grid-gap: var(--space-48);
  grid-template-columns: 1fr 3fr;
}

.card-date {
  color: var(--black);
  font-weight: 900;
  letter-spacing: -0.5px;
  position: relative;
  text-transform: uppercase;
}

.card-date figure {
  position: absolute;
  top: -16px;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-date p {
  position: relative;
  left: 16px;
}

.card-date p,
.card-info p {
  line-height: 1.6;
}

.past-event {
  opacity: 0.5;
}

.filter-events__reset.control-group .mambo-button {
  width: 100%;
}

.mixitup-container-failed::after {
  content: "No events found, please refine the selected options";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.mambo-footer {
  align-items: center;
  display: grid;
  gap: var(--space-16);
  grid-template-columns: 1fr;
  padding: var(--space-16);
}

.mambo-footer .svg-inline--fa {
  display: block;
  font-size: var(--font-size-32);
}

.mambo-footer ul {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.mambo-footer a {
  color: var(--black);
  display: block;
  font-weight: 900;
}

@media screen and (min-width: 1366px) {
  .mambo-footer {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}
.mambo-header {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  justify-content: space-between;
  padding: var(--space-16);
  z-index: var(--index-10);
}

.mambo-header .logo {
  padding: var(--space-8);
}

.mambo-header svg {
  display: block;
  fill: var(--black);
  margin: auto;
  max-width: 120px;
}

.mambo-header ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, auto);
}

.mambo-header li {
  list-style: none;
  text-align: center;
}

.mambo-header li a {
  display: block;
  color: var(--black);
  font-weight: 900;
  padding: var(--space-8);
  text-decoration: none;
}

@media screen and (min-width: 640px) {
  .mambo-header ul {
    grid-template-columns: repeat(4, auto);
  }
}
@media screen and (min-width: 768px) {
  .mambo-header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .mambo-header .logo {
    padding: 0;
  }
}
@media screen and (min-width: 1366px) {
  .mambo-header {
    position: sticky;
    top: 0;
    padding: var(--space-16) var(--space-32);
  }

  .mambo-header svg {
    max-width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .hero-home p,
.hero-standard p {
    font-size: var(--font-size-24);
  }
}
@media screen and (min-width: 480px) {
  .hero-standard h1,
.hero-home h1,
.hero-event h1 {
    font-size: var(--font-size-72);
  }
}
@media screen and (min-width: 580px) {
  .hero-standard h1,
.hero-home h1,
.hero-event h1 {
    font-size: var(--font-size-72);
  }
}
@media screen and (min-width: 640px) {
  .hero-standard h1,
.hero-home h1,
.hero-event h1 {
    font-size: var(--font-size-80);
  }
}
@media screen and (min-width: 1024px) {
  .hero-standard h1,
.hero-home h1,
.hero-event h1 {
    font-size: var(--font-size-96);
  }
}
@media screen and (min-width: 1280px) {
  .hero-standard h1,
.hero-home h1,
.hero-event h1 {
    font-size: 9rem;
  }
}
/* Page: About */
.about-layout .hero-standard h1 {
  font-size: var(--font-size-72);
}

.about-layout .hero-standard figure {
  display: none;
}

.about-layout .hero-standard .ornament-diagonal-red-shape {
  position: absolute;
  top: -40px;
  left: -400px;
}

.about-layout .ornament-purple-sticker-and-tape {
  position: absolute;
  top: -55px;
  z-index: var(--index-9) !important;
  right: 10px;
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  .about-layout .hero-standard h1 {
    font-size: var(--font-size-88);
  }

  .about-layout .hero-standard .ornament-diagonal-red-shape {
    top: -20px;
    left: -450px;
  }

  .about-layout .ornament-purple-sticker-and-tape {
    top: -65px;
    right: 60px;
    max-width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .about-layout .hero-standard .ornament-diagonal-red-shape {
    top: 10px;
    left: -400px;
  }
}
@media screen and (min-width: 1366px) {
  .about-layout .hero-standard h1 {
    font-size: var(--font-size-136);
  }

  .about-layout .hero-standard figure {
    display: block;
    right: 50px;
    top: -300px;
  }

  .about-layout .hero-standard img {
    min-width: 750px;
    position: absolute;
  }

  .about-layout .hero-standard .ornament-diagonal-red-shape {
    top: 60px;
    left: -200px;
  }

  .about-layout .ornament-purple-sticker-and-tape {
    top: -100px;
    right: 175px;
    max-width: 450px;
  }
}
/* Page: Accessibility */
.accessibility-layout .hero-standard h1 {
  font-size: var(--font-size-72);
}

.accessibility-layout .hero-standard figure,
.accessibility figure {
  display: none;
}

@media screen and (min-width: 768px) {
  .accessibility-layout .hero-standard h1 {
    font-size: var(--font-size-88);
  }
}
@media screen and (min-width: 1366px) {
  .accessibility-layout .hero-standard h1 {
    font-size: var(--font-size-136);
  }

  .accessibility-layout .hero-standard figure,
.accessibility figure {
    display: block;
    right: 75px;
    top: -350px;
  }

  .accessibility figure {
    top: -330px;
  }

  .accessibility-layout .hero-standard img,
.accessibility img {
    min-width: 750px;
    position: absolute;
  }
}
.events-single-layout .hero-event h1 {
  font-size: var(--font-size-48);
}

@media screen and (min-width: 768px) {
  .events-single-layout .hero-event h1 {
    font-size: var(--font-size-72);
  }
}
@media screen and (min-width: 1366px) {
  .events-single-layout .hero-event h1 {
    font-size: var(--font-size-96);
  }
}
/* Page: Events */
.events-layout .hero-standard h1 {
  font-size: var(--font-size-72);
}

.events-layout .hero-standard figure {
  display: none;
}

@media screen and (min-width: 768px) {
  .events-layout .hero-standard h1 {
    font-size: var(--font-size-88);
  }
}
@media screen and (min-width: 1366px) {
  .events-layout .hero-standard h1 {
    font-size: var(--font-size-168);
  }

  .events-layout .hero-standard figure {
    display: block;
    right: 75px;
    top: -300px;
  }

  .events-layout .hero-standard img {
    min-width: 700px;
    position: absolute;
  }
}
/* Page: FAQs */
.faqs-layout .hero-standard h1 {
  font-size: var(--font-size-72);
}

.faqs-layout .hero-standard figure {
  display: none;
}

@media screen and (min-width: 768px) {
  .faqs-layout .hero-standard h1 {
    font-size: var(--font-size-88);
  }
}
@media screen and (min-width: 1366px) {
  .faqs-layout .hero-standard h1 {
    font-size: var(--font-size-136);
  }

  .faqs-layout .hero-standard figure {
    display: block;
    right: 75px;
    top: -150px;
  }

  .faqs-layout .hero-standard img {
    min-width: 750px;
    position: absolute;
  }
}
.faq-contact {
  position: sticky;
  top: 88px;
}

.faq-contact li {
  list-style: none;
}

.makers-layout h1 {
  font-size: var(--font-size-72);
}

.makers-layout .hero-standard figure,
.makers figure {
  display: none;
}

.makers-layout .hero-standard .ornament-diagonal-red-shape {
  position: absolute;
  top: -10px;
  left: -320px;
}

@media screen and (min-width: 768px) {
  .makers-layout h1 {
    font-size: var(--font-size-88);
  }

  .makers-layout .hero-standard .ornament-diagonal-red-shape {
    top: -20px;
    left: -450px;
  }
}
@media screen and (min-width: 1024px) {
  .makers-layout .hero-standard .ornament-diagonal-red-shape {
    top: 10px;
    left: -400px;
  }
}
@media screen and (min-width: 1366px) {
  .makers-layout h1 {
    font-size: var(--font-size-136);
  }

  .makers-layout .hero-standard figure {
    display: block;
    right: 50px;
    top: -315px;
  }

  .makers-layout .hero-standard img {
    min-width: 750px;
    position: absolute;
  }

  .makers-layout .hero-standard .ornament-diagonal-red-shape {
    top: 70px;
    left: -140px;
  }

  .makers figure {
    display: block;
    right: 110px;
    top: -315px;
  }

  .makers img {
    min-width: 750px;
    position: absolute;
  }
}
.container {
  margin: auto;
  max-width: 1366px;
  padding: var(--space-64) var(--space-32);
  position: relative;
  z-index: var(--index-1);
}

@media screen and (min-width: 1023px) {
  .container {
    padding: var(--space-200) var(--space-64);
  }

  .section-subscribe .container {
    padding: var(--space-200) var(--space-64) var(--space-96) var(--space-64);
  }
}
.flow-1,
.flow-2 {
  position: relative;
  z-index: var(--index-5);
}

.flow-0 > *:not(:first-child) {
  margin-top: var(--space-8);
}

.flow-1 > *:not(:first-child) {
  margin-top: var(--space-16);
}

.flow-2 > *:not(:first-child) {
  margin-top: var(--space-24);
}

.flow-3 > *:not(:first-child) {
  margin-top: var(--space-32);
}

.flow-4 > *:not(:first-child) {
  margin-top: var(--space-40);
}

.grid {
  display: grid;
  grid-gap: var(--space-32);
  position: relative;
  z-index: var(--index-5);
}
.grid--align-center {
  align-items: center;
}
.grid--align-end {
  align-items: end;
}
.grid--align-start {
  align-items: start;
}
.grid--gap-none {
  grid-gap: 0;
}

.grid--one-column,
.grid--two-column,
.grid--three-column,
.grid--four-column {
  grid-template-columns: 1fr;
}

.grid--one-column-span,
.grid--two-column-span,
.grid--three-column-span,
.grid--four-column-span {
  grid-column: span 1;
}

.events-single-layout .speakers .grid {
  position: unset;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-gap: var(--space-32);
  }

  .grid--one-column-span,
.grid--two-column-span,
.grid--three-column-span,
.grid--four-column-span {
    grid-column: span 1;
  }

  .events ul,
.sponsors ul,
.staff ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--one-column {
    grid-template-columns: 1fr;
  }

  .grid--two-column {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--three-column {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--four-column {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid--one-column-span {
    grid-column: span 1;
  }

  .grid--two-column-span {
    grid-column: span 2;
  }

  .grid--three-column-span {
    grid-column: span 3;
  }

  .grid--four-column-span {
    grid-column: span 4;
  }

  .staff ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .events ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .home-layout .events ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .home-layout .events ul a {
    color: var(--cream);
  }

  .home-layout .events ul a:hover {
    color: var(--yellow);
  }

  .sponsors ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
.column-image figure figcaption {
  display: none;
}

@media (prefers-reduced-data: reduce) {
  .column-image figure img {
    display: none;
  }

  .column-image figure figcaption {
    display: block;
  }
}
.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-group fieldset {
  border: solid 4px var(--black);
}

.radio-group label {
  line-height: 32px;
}

.radio-group input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: var(--cream);
  border: 4px solid var(--black);
  position: relative;
  top: 8px;
}

.radio-group input:checked {
  background-color: var(--black);
  border: 4px solid var(--black);
}

section {
  padding: var(--space-16);
}

@media screen and (min-width: 1024px) {
  section {
    padding: var(--space-32);
  }
}
/* Utility: WYSIWYG */
.wysiwyg > *:not(:first-child) {
  margin-top: var(--space-16);
}

.wysiwyg ul,
.wysiwyg li {
  margin-left: var(--space-16);
}

/*!
 * houdinijs v11.0.4
 * A simple collapse-and-expand script
 * (c) 2019 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/houdini
 */
/**
 * Hide content
 */
.houdini {
  display: none;
  /**
        * Remove focus styles from content
        * @type {String}
        */
  /**
        * Show expanded content
        */
}

.houdini[tabindex="-1"]:focus {
  outline: none;
}

.houdini.is-expanded {
  display: block;
}

.mambo-accordion__header {
  text-align: left;
  width: 100%;
}

.mambo-accordion__header .houdini-toggle {
  background-color: transparent;
  border: solid 1px var(--black);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -1px;
  padding: var(--space-16);
  text-align: left;
  width: 100%;
}

.mambo-accordion__header .houdini-toggle:hover {
  cursor: pointer;
}

.mambo-accordion__content {
  border: solid 1px var(--black);
  margin-top: -1px;
  padding: var(--space-16);
  position: relative;
}

.events-single-layout .mambo-accordion__header .houdini-toggle {
  background-color: transparent;
  border: none;
  color: var(--cream);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-16);
  text-align: left;
  width: 100%;
}

.events-single-layout .mambo-accordion__content {
  border: none;
  padding: var(--space-16);
  position: relative;
  top: var(--space-32);
}

.speakers .houdini-heading .houdini-toggle {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: var(--yellow);
  display: flex;
  justify-content: space-between;
  padding: 0;
  text-align: left;
}

.speakers .houdini-heading .houdini-toggle:focus {
  outline: dashed 4px currentColor;
}

.speakers .mambo-accordion__content {
  border: none;
  padding: var(--space-16);
  position: relative;
}

.speaker-info {
  min-height: 120px;
}

@media screen and (min-width: 1024px) {
  .speakers .mambo-accordion__content.is-expanded {
    position: absolute !important;
    bottom: -580px !important;
    top: unset !important;
    z-index: var(--index-9) !important;
    left: -120px;
    left: 0;
    right: 0;
    min-height: 460px;
  }
}
/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
.grid--mailchimp {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  align-items: start;
}

#mc_embed_signup .mc-field-group label {
  display: block;
  font-family: var(--font-sans);
  font-weight: 900;
}

#mc_embed_signup .mc-field-group input {
  background-color: var(--cream);
  border: solid 1px var(--black);
  border-radius: none;
  color: var(--black);
  display: block;
  padding: var(--space-8) var(--space-16);
  width: 100%;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

#mc_embed_signup .mc-field-group input:focus {
  outline: solid 1px var(--black);
  outline-offset: -1px;
}

#mc_embed_signup .asterisk {
  color: var(--black);
  font-weight: 900;
}

#mc_embed_signup .asterisk,
#mc_embed_signup .indicates-required {
  margin-bottom: var(--space-32);
}

#mc_embed_signup div.response {
  background-color: var(--black);
  padding: 8px;
  z-index: 100;
}

#mc_embed_signup div.response a {
  color: var(--black);
  font-weight: bold;
}

#mc_embed_signup #mce-error-response,
#mc_embed_signup #mce-success-response {
  color: var(--black);
  display: block;
}

#mc_embed_signup #num-subscribers span {
  padding: 4px;
  border: 1px solid var(--white);
  margin-right: 4px;
  font-weight: bold;
}

.mc-field-group label,
.submit-label {
  margin-bottom: 8px;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  background-color: var(--black);
  display: block;
  color: var(--yellow);
  font-size: inherit;
  margin: 0;
  padding: var(--space-8);
  position: relative;
  top: -2px;
  z-index: var(--index-1);
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 1px solid var(--black);
}

#mc_embed_signup input.mambo-button {
  width: 100%;
  border-radius: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

#mce-responses {
  margin-top: var(--space-24);
}

.mailchimp-mambo-button input {
  padding: var(--space-8);
}

.submit-label {
  display: none;
}

.mailchimp-mambo-button input {
  margin-top: 0;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

.mailchimp-mambo-button input:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .grid--mailchimp {
    grid-template-columns: repeat(2, 1fr);
  }

  .submit-label {
    display: block;
  }
}
/*!
 * Modals v10.1.2: Simple modal dialogue pop-up windows
 * (c) 2017 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/modals
 */
/**
 * Modal windows
 */
/* line 4, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal {
  background-color: var(--black);
  display: none;
  max-width: 100%;
  padding: var(--space-16);
  visibility: hidden;
  z-index: 9999;
}

.modal-content-header .mambo-button.mambo-button__link.mambo-button__link--white {
  text-align: right;
  width: 100%;
  padding: 8px;
}

@media (min-width: 40em) {
  /* line 4, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal {
    max-width: 98%;
  }
}
/* line 19, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal.active {
  border: solid 1px var(--white);
  display: block;
  height: 75%;
  left: 0;
  max-height: 100%;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  -webkit-overflow-scrolling: touch;
  margin: 8px;
}

@media (min-width: 30em) {
  .modal {
    padding: var(--space-32);
  }

  .modal-content-header .mambo-button.mambo-button__link.mambo-button__link--white {
    text-align: right;
  }

  /* line 19, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal.active {
    height: auto;
    max-height: 90%;
    left: var(--space-32);
    margin-left: auto;
    margin-right: auto;
    right: var(--space-32);
    top: var(--space-32);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 40em) {
  .modal {
    padding: var(--space-48);
  }
}
@media screen and (min-width: 1023px) {
  /* line 44, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal.active.modal-medium {
    width: 60em;
  }
}
/* line 54, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal:focus {
  outline: none;
}

/**
 * Modal background
 */
/* line 63, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal-bg {
  background-color: var(--black);
  bottom: 0;
  position: fixed;
  left: 0;
  opacity: 0.75;
  right: 0;
  top: 0;
  z-index: 9998;
}

/*!
 * tabbyjs v12.0.3
 * Lightweight, accessible vanilla JS toggle tabs.
 * (c) 2019 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/tabby
 */
/**
 * The tablist
 */
[role=tablist] {
  border-bottom: 1px solid #ecece5;
  list-style: none;
  margin: 0;
  padding: 0;
}

[role=tablist] * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
   * The tablist item
   */
@media (min-width: 30em) {
  [role=tablist] li {
    display: inline-block;
  }
}
/**
   * The tabs
   */
[role=tab] {
  border: 1px solid transparent;
  border-top-color: #ecece5;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  /**
        * Active tab styling
        */
  /**
        * Tabs on hover
        */
}

@media (min-width: 30em) {
  [role=tab] {
    border-top-color: transparent;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    display: inline-block;
    margin-bottom: -1px;
  }
}
[role=tab][aria-selected=true] {
  background-color: #ecece5;
}

@media (min-width: 30em) {
  [role=tab][aria-selected=true] {
    background-color: transparent;
    border: 1px solid #ecece5;
    border-bottom-color: #ffffff;
  }
}
[role=tab]:hover:not([aria-selected=true]) {
  background-color: #ecece5;
}

@media (min-width: 30em) {
  [role=tab]:hover:not([aria-selected=true]) {
    border: 1px solid #ecece5;
  }
}
/**
   * [hidden] fallback for IE10 and lower
   */
[hidden] {
  display: none;
}

/*# sourceMappingURL=app.css.map */
