@charset "UTF-8";
/* Global */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* AIGA DC: Brand Colors */
  --brand-aiga-dc: #297b76;
  /* DCDW: Past Brand Colors */
  --dcdw-2016: #0000ff;
  --dcdw-2017: #3e07d0;
  --dcdw-2018: #297b76;
  --dcdw-2019: #fb7eb8;
  --dcdw-2020: #4ae725;
  --dcdw-2021: #ec1001;
  /* DCDW: 2022 Brand Colors */
  --black: #000000;
  --white: #ffffff;
  --cream: #f6c84c;
  --teal: #00857a;
  --valencia: #cc4929;
  --zodiac: #143060;
  /* Animations */
  --timing-default: 100ms;
  /* Layering */
  --index-1: 100;
  --index-2: 200;
  --index-3: 300;
  --index-4: 400;
  --index-5: 500;
  --index-6: 600;
  --index-7: 700;
  --index-8: 800;
  --index-9: 900;
  --index-10: 1000;
  /* Font Families */
  --font-sans: "League Spartan", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  /* Font Sizes */
  --font-size-4: 0.25rem;
  --font-size-8: 0.5rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --font-size-40: 2.5rem;
  --font-size-48: 3rem;
  --font-size-56: 3.5rem;
  --font-size-64: 4rem;
  --font-size-72: 4.5rem;
  --font-size-80: 5rem;
  --font-size-88: 5.5rem;
  --font-size-96: 6rem;
  --font-size-104: 6.5rem;
  --font-size-112: 7rem;
  --font-size-120: 7.5rem;
  --font-size-128: 8rem;
  --font-size-136: 8.5rem;
  --font-size-144: 9rem;
  --font-size-152: 9.5rem;
  --font-size-160: 10rem;
  --font-size-168: 10.5rem;
  --font-size-176: 11rem;
  --font-size-184: 11.5rem;
  --font-size-192: 12rem;
  --font-size-200: 12.5rem;
  /* Spacing */
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-56: 3.5rem;
  --space-64: 4rem;
  --space-72: 4.5rem;
  --space-80: 5rem;
  --space-88: 5.5rem;
  --space-96: 6rem;
  --space-104: 6.5rem;
  --space-112: 7rem;
  --space-120: 7.5rem;
  --space-128: 8rem;
  --space-136: 8.5rem;
  --space-144: 9rem;
  --space-152: 9.5rem;
  --space-160: 10rem;
  --space-168: 10.5rem;
  --space-176: 11rem;
  --space-184: 11.5rem;
  --space-192: 12rem;
  --space-200: 12.5rem;
}

/* 
👋🏾 Shoutout: Special thanks to Andy Bell for his helpful minimal reset:
https://hankchizljaw.com/wrote/a-modern-css-reset/
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
mambo-button,
h1,
h2,
h3,
h4,
hr,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
iframe,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and mambo-buttons */
input,
mambo-button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0 !important;
    animation-duration: var(--timing-default) !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: var(--timing-default) !important;
    scroll-behavior: auto !important;
  }
}
body {
  color: inherit;
  font-family: var(--font-serif);
  font-size: var(--font-size-24);
  line-height: 1.5;
}

/* The emerging W3C standard that is currently Firefox-only */
::selection {
  background-color: var(--black);
  color: var(--black);
}

a {
  color: inherit;
  cursor: pointer;
  font-family: var(--font-sans);
  font-weight: 600;
  transition: opacity var(--timing-default) ease-in;
}

a[data-type=card],
a[data-type=logo] {
  display: block;
}

a:active {
  outline: 4px solid var(--black, inherit);
}

a:hover {
  cursor: pointer;
}

*:focus,
a:focus,
input:focus {
  /* Change the following variables in box shadow to experiment with different potential colors for DCDW's focus style, make sure one is dark and the other is light so they work on all different kinds of backgrounds 

  Credit to Ad Hoc's Scott Weber and DK for the writeup and code https://adhoc.team/2022/02/08/creating-focus-style-for-themable-design-system/ 

  Thank you to Josh Kim (https://www.joshkimux.com/index.html) for providing this example for the 2022 DC Design Week site. */
  border-radius: 0.5rem;
  box-shadow: 0 0 0 4px var(--valencia), 0 0 0px 8px white;
  outline: 4px solid transparent;
  outline-offset: 4px;
  overflow: hidden;
}

br {
  display: none;
}

figure {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  display: block;
  text-rendering: optimizeLegibility;
}

fieldset,
legend,
ul {
  border: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  vertical-align: middle;
  width: 100%;
}

.disabled {
  cursor: not-allowed !important;
}

.enabled {
  cursor: pointer !important;
}

#skip-to-content {
  scroll-margin-top: 80px;
}

.skip-to-content:not(:focus):not(:hover) {
  transform: translateY(-200px);
  opacity: 0;
}

.skip-to-content {
  align-items: center;
  background-color: var(--black);
  color: var(--yellow);
  display: flex;
  font-weight: 900;
  height: 74px;
  justify-content: space-around;
  margin: auto;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  z-index: var(--index-10);
  transform: translateY(0px);
}

.skip-to-content:focus {
  outline: 4px solid black;
}

/* Composition */
/* Flow */
.flow > * + *:not(:first-child) {
  margin-top: var(--gap, 1rem);
}

/* Grid */
.grid-flow {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1fr);
  position: relative;
}
.grid--align-center {
  align-items: center;
}
.grid--align-end {
  align-items: end;
}
.grid--align-start {
  align-items: start;
}
.grid--gap-none {
  gap: 0;
}

.grid--one-column,
.grid--two-column,
.grid--three-column,
.grid--four-column {
  grid-template-columns: 1fr;
}

.grid--one-column-span,
.grid--two-column-span,
.grid--three-column-span,
.grid--four-column-span {
  grid-column: span 1;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-gap: var(--space-32);
  }

  .grid--one-column-span,
.grid--two-column-span,
.grid--three-column-span,
.grid--four-column-span {
    grid-column: span 1;
  }
}
@media screen and (min-width: 1024px) {
  .grid--one-column {
    grid-template-columns: 1fr;
  }

  .grid--two-column {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--three-column {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--four-column {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid--one-column-span {
    grid-column: span 1;
  }

  .grid--two-column-span {
    grid-column: span 2;
  }

  .grid--three-column-span {
    grid-column: span 3;
  }

  .grid--four-column-span {
    grid-column: span 4;
  }
}
/* Flex */
.flex-flow {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-flow-column {
  flex-direction: column;
}

.flex-flow-row {
  flex-direction: row;
}

.flex-flow-start {
  align-items: start;
}

.flex-flow-center {
  align-items: center;
}

.flex-flow-end {
  align-items: end;
}

.flex-flow-space-between {
  justify-content: space-between;
}

/* Sections */
/* Page: About */
/* Page: Accessibility */
/* Page: Events Single */
/* Page: Events */
/* Page: FAQs */
.faqs-sidebar {
  padding: 2rem;
  position: sticky;
  top: 1rem;
}

/* Page: Makers */
/* Utility */
/* Debugging */
/* Colors */
.background-color-black {
  background-color: var(--black) !important;
}

.background-color-cream {
  background-color: var(--cream) !important;
}

.background-color-teal {
  background-color: var(--teal) !important;
}

.background-color-valencia {
  background-color: var(--valencia) !important;
}

.background-color-zodiac {
  background-color: var(--zodiac) !important;
}

.background-color-black {
  background-color: var(--black) !important;
}

.background-color-cream {
  background-color: var(--cream) !important;
}

.background-color-teal {
  background-color: var(--teal) !important;
}

.color-valencia {
  color: var(--valencia) !important;
}

.color-white {
  color: var(--white) !important;
}

.color-zodiac {
  color: var(--zodiac) !important;
}

/* Spacing */
.margin-auto {
  margin: auto;
}

.margin-8 {
  margin: var(--space-8);
}

.margin-16 {
  margin: var(--space-16);
}

.margin-32 {
  margin: var(--space-32);
}

.margin-64 {
  margin: var(--space-64);
}

.margin-256 {
  margin: var(--space-256);
}

.padding-8 {
  padding: var(--space-8);
}

.padding-16 {
  padding: var(--space-16);
}

.padding-32 {
  padding: var(--space-32);
}

.padding-64 {
  padding: var(--space-64);
}

.padding-256 {
  padding: var(--space-256);
}

/* Typography */
.font-weight-100 {
  font-weight: var(--weight-100);
}

.font-weight-200 {
  font-weight: var(--weight-200);
}

.font-weight-300 {
  font-weight: var(--weight-300);
}

.font-weight-400 {
  font-weight: var(--weight-400);
}

.font-weight-500 {
  font-weight: var(--weight-500);
}

.font-weight-600 {
  font-weight: var(--weight-600);
}

.font-weight-700 {
  font-weight: var(--weight-700);
}

.font-weight-800 {
  font-weight: var(--weight-800);
}

.font-weight-900 {
  font-weight: var(--weight-900);
}

.text-align-start {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

/* WYSIWYG */
.wysiwyg > *:not(:first-child) {
  margin-top: var(--space-16);
}

.wysiwyg ul,
.wysiwyg li {
  margin-left: var(--space-16);
}

/* Block */
/* Component: mambo-accordion */
/* Component: mambo-banner */
.banner {
  border: solid 1px var(--black);
  color: var(--black);
  font-family: var(--font-serif);
  padding: 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-transform: uppercase;
  z-index: var(--index-6);
}

.banner-inner {
  text-align: center;
}

.banner-inner p {
  font-size: var(--font-size-20);
}

/* Component: mambo-button */
.mambo-button {
  border: solid 4px transparent;
  display: inline-block;
  font-family: var(--font-sans);
  font-weight: 600;
  padding: var(--space-8) var(--space-16);
  text-align: center;
  text-decoration: none;
}

.mambo-button--border-black {
  border: solid 2px var(--black);
  color: var(--black);
}

.mambo-button--border-white {
  border: solid 2px var(--white);
  color: var(--white);
}

.mambo-button--solid-black {
  border: solid 2px var(--black);
  color: var(--white);
}

.mambo-button--solid-cream {
  border: solid 2px var(--cream);
  color: var(--black);
}

.mambo-button--solid-white {
  border: solid 2px var(--white);
  color: var(--black);
}

.mambo-button--solid-zodiac {
  border: solid 2px var(--zodiac);
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .mambo-button {
    display: inline-block;
  }
}
/* 2022 Styles */
.card a {
  display: block;
  text-decoration: none;
}

.card small {
  color: rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100%;
}

/* This is a hacky work around specifically for Speaker and Staff cards */
.card .wysiwyg p {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--gap, 1rem);
}

.filter-events__reset.control-group .mambo-button {
  width: 100%;
}

.mixitup-container-failed::after {
  content: "No events found, please refine the selected options";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

/* This is a hacky work around specifically for Navigation Collection */
.mambo-header ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--gap, 1rem);
  list-style: none;
}

.mambo-header a {
  text-decoration: none;
}

/* Exception */
/* Third Party */
/*!
 * houdinijs v11.0.4
 * A simple collapse-and-expand script
 * (c) 2019 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/houdini
 */
/**
 * Hide content
 */
.houdini {
  display: none;
  /**
        * Remove focus styles from content
        * @type {String}
        */
  /**
        * Show expanded content
        */
}

.houdini[tabindex="-1"]:focus {
  outline: none;
}

.houdini.is-expanded {
  display: block;
}

.mambo-accordion__header {
  text-align: left;
  width: 100%;
}

.mambo-accordion__header .houdini-toggle {
  background-color: transparent;
  border: solid 1px var(--black);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -1px;
  padding: var(--space-16);
  text-align: left;
  width: 100%;
}

.mambo-accordion__header .houdini-toggle:hover {
  cursor: pointer;
}

.mambo-accordion__content {
  border: solid 1px var(--black);
  margin-top: -1px;
  padding: var(--space-16);
  position: relative;
}

.events-single-layout .mambo-accordion__header .houdini-toggle {
  background-color: transparent;
  border: none;
  color: var(--cream);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-16);
  text-align: left;
  width: 100%;
}

.events-single-layout .mambo-accordion__content {
  border: none;
  padding: var(--space-16);
  position: relative;
  top: var(--space-32);
}

.speakers .houdini-heading .houdini-toggle {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: var(--yellow);
  display: flex;
  justify-content: space-between;
  padding: 0;
  text-align: left;
}

.speakers .houdini-heading .houdini-toggle:focus {
  outline: dashed 4px currentColor;
}

.speakers .mambo-accordion__content {
  border: none;
  padding: var(--space-16);
  position: relative;
}

.speaker-info {
  min-height: 120px;
}

@media screen and (min-width: 1024px) {
  .speakers .mambo-accordion__content.is-expanded {
    position: absolute !important;
    bottom: -580px !important;
    top: unset !important;
    z-index: var(--index-9) !important;
    left: -120px;
    left: 0;
    right: 0;
    min-height: 460px;
  }
}
/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
.grid--mailchimp {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  align-items: start;
}

.mailchimp .mc-field-group label {
  display: block;
  font-weight: 900;
}

.mailchimp .mc-field-group input {
  border: solid 1px var(--black);
  border-radius: none;
  color: var(--black);
  display: block;
  padding: var(--space-8);
  width: 100%;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

.mailchimp .mc-field-group input:focus {
  outline: solid 1px var(--black);
  outline-offset: -1px;
}

.mailchimp .asterisk {
  color: var(--black);
  font-weight: 900;
}

.mailchimp div.response {
  padding: 8px;
  z-index: var(--index-5);
}

.mailchimp div.response a {
  color: var(--black);
  font-weight: 900;
}

.mailchimp #mce-error-response,
.mailchimp #mce-success-response {
  color: var(--black);
  display: block;
}

.mailchimp #num-subscribers span {
  padding: 4px;
  border: 1px solid var(--black);
  margin-right: 4px;
  font-weight: 900;
}

.mailchimp .mc-field-group label,
.mailchimp .submit-label {
  margin-bottom: 8px;
}

.mailchimp #mc-embedded-subscribe-form div.mce_inline_error {
  background-color: unset;
  display: block;
  color: var(--black);
  margin: 0;
  padding: var(--space-8);
  position: relative;
  top: -2px;
  z-index: var(--index-1);
}

.mailchimp #mc-embedded-subscribe-form input.mce_inline_error {
  border: 1px solid var(--black);
}

.mailchimp input.mambo-button {
  width: 100%;
  border-radius: 0 !important;
}

#mce-responses {
  margin-top: var(--space-24);
}

.mailchimp-mambo-button input {
  padding: var(--space-8);
}

.submit-label {
  display: none;
}

.mailchimp-mambo-button input {
  margin-top: 0;
}

.mailchimp-mambo-button input:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .grid--mailchimp {
    grid-template-columns: repeat(2, 1fr);
  }

  .submit-label {
    display: block;
  }
}
/*!
 * Modals v10.1.2: Simple modal dialogue pop-up windows
 * (c) 2017 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/modals
 */
/**
 * Modal windows
 */
/* line 4, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal {
  background-color: var(--black);
  display: none;
  max-width: 100%;
  padding: var(--space-16);
  visibility: hidden;
  z-index: var(--index-9);
}

.modal-content-header .mambo-button.mambo-button__link.mambo-button__link--white {
  text-align: right;
  width: 100%;
  padding: 8px;
}

@media (min-width: 40em) {
  /* line 4, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal {
    max-width: 98%;
  }
}
/* line 19, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal.active {
  border: solid 1px var(--white);
  display: block;
  height: 75%;
  left: 0;
  max-height: 100%;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  -webkit-overflow-scrolling: touch;
  margin: 8px;
}

@media (min-width: 30em) {
  .modal {
    padding: var(--space-32);
  }

  .modal-content-header .mambo-button.mambo-button__link.mambo-button__link--white {
    text-align: right;
  }

  /* line 19, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal.active {
    height: auto;
    max-height: 90%;
    left: var(--space-32);
    margin-left: auto;
    margin-right: auto;
    right: var(--space-32);
    top: var(--space-32);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 40em) {
  .modal {
    padding: var(--space-48);
  }
}
@media screen and (min-width: 1023px) {
  /* line 44, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal.active.modal-medium {
    width: 60em;
  }
}
/* line 54, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal:focus {
  outline: none;
}

/**
 * Modal background
 */
/* line 63, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal-bg {
  background-color: var(--black);
  bottom: 0;
  position: fixed;
  left: 0;
  opacity: 0.75;
  right: 0;
  top: 0;
  z-index: var(--index-9);
}

/*!
 * tabbyjs v12.0.3
 * Lightweight, accessible vanilla JS toggle tabs.
 * (c) 2019 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/tabby
 */
/**
 * The tablist
 */
[role=tablist] {
  border-bottom: 1px solid #ecece5;
  list-style: none;
  margin: 0;
  padding: 0;
}

[role=tablist] * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
   * The tablist item
   */
@media (min-width: 30em) {
  [role=tablist] li {
    display: inline-block;
  }
}
/**
   * The tabs
   */
[role=tab] {
  border: 1px solid transparent;
  border-top-color: #ecece5;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  /**
        * Active tab styling
        */
  /**
        * Tabs on hover
        */
}

@media (min-width: 30em) {
  [role=tab] {
    border-top-color: transparent;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    display: inline-block;
    margin-bottom: -1px;
  }
}
[role=tab][aria-selected=true] {
  background-color: #ecece5;
}

@media (min-width: 30em) {
  [role=tab][aria-selected=true] {
    background-color: transparent;
    border: 1px solid #ecece5;
    border-bottom-color: #ffffff;
  }
}
[role=tab]:hover:not([aria-selected=true]) {
  background-color: #ecece5;
}

@media (min-width: 30em) {
  [role=tab]:hover:not([aria-selected=true]) {
    border: 1px solid #ecece5;
  }
}
/**
   * [hidden] fallback for IE10 and lower
   */
[hidden] {
  display: none;
}

/*# sourceMappingURL=app.css.map */
