<section class="[ mambo-section ][ {{ sectionTwo.sectionTwoColorCombo | safe }} ]" data-color="{{ sectionTwo.sectionTwoColorCombo | safe }}" id="{{ sectionTwo.sectionTwoHeader | slug }}">
  <div class="[ container container-default ][ flow ]">
    <h2>
      {{ sectionTwo.sectionTwoHeader | md | safe }}
    </h2>
    {% include '1-global-blocks/divider.njk' %}
    <div class="[ wysiwyg ]">
      {{ sectionTwo.sectionTwoBody | md | safe }}
    </div>
  </div>
</section>
