<section class="[ mambo-section ][ {{ sectionThree.sectionThreeColorCombo | safe }} ]" data-color="{{ sectionThree.sectionThreeColorCombo | safe }}" id="{{ sectionThree.sectionThreeHeader | slug }}">
  <div class="[ container container-default ][ flow ]">
    <h2>
      {{ sectionThree.sectionThreeHeader | md | safe }}
    </h2>
    {% include '1-global-blocks/divider.njk' %}
    <div class="[ wysiwyg ]">
      {{ sectionThree.sectionThreeBody | md | safe }}
    </div>
  </div>
</section>
