<section class="[ mambo-section ][ flow ][ padding-all-20 padding-top-80
	padding-bottom-80 break-2:padding-all-56 break-5:padding-all-120 ][ {{ sectionTwo.sectionTwoColorCombo | safe }} ]" data-color="{{ sectionTwo.sectionTwoColorCombo | safe }}" id="{{ sectionTwo.sectionTwoHeader | slug }}">
	<div class="[ container-content ][ flex-flow flex-flow-column flex-flow-start ]">
		<div class="[ text ][ flex-flow flex-flow-column flex-flow-start ]">
			<h2>{{ sectionTwo.sectionTwoHeader | md | safe }}</h2>
			{% include '1-mambo-blocks/divider.njk' %}
			<div class="wysiwyg flow-3">{{ sectionTwo.sectionTwoBody | md | safe }}</div>
		</div>
	</div>
</section>
