<section class="[ mambo-section ][ flow ][ padding-all-20 padding-top-80
	padding-bottom-80 break-2:padding-all-56 break-5:padding-all-120 ][ {{ sectionFour.sectionFourColorCombo | safe }} ]" data-color="{{ sectionFour.sectionFourColorCombo | safe }}" id="{{ sectionFour.sectionFourHeader | slug }}">
	<div class="[ container-content ][ flex-flow flex-flow-column flex-flow-start ]">
		<div class="[ text ][ flex-flow flex-flow-column flex-flow-start ]">
			<h2>{{ sectionFour.sectionFourHeader | md | safe }}</h2>
			{% include '1-mambo-blocks/divider.njk' %}
			<div class="wysiwyg flow-3">{{ sectionFour.sectionFourBody | md | safe }}</div>
		</div>
	</div>
</section>
