<section class="[ mambo-section ][ flow ][ padding-all-20 padding-top-80
	padding-bottom-80 break-2:padding-all-56 break-5:padding-all-120 ][ {{ sectionThree.sectionThreeColorCombo | safe }} ]" data-color="{{ sectionThree.sectionThreeColorCombo | safe }}" id="{{ sectionThree.sectionThreeHeader | slug }}">
	<div class="[ container-content ][ flex-flow flex-flow-column flex-flow-start ]">
		<div class="[ text ][ flex-flow flex-flow-column flex-flow-start ]">
			<h2>{{ sectionThree.sectionThreeHeader | md | safe }}</h2>
			{% include '1-mambo-blocks/divider.njk' %}
			<div class="wysiwyg flow-3">{{ sectionThree.sectionThreeBody | md | safe }}</div>
		</div>
	</div>
</section>
