<section class="[ mambo-section ][ flow ][ padding-all-20 padding-top-80
	padding-bottom-80 break-2:padding-all-56 break-5:padding-all-120 ][ {{ sectionFive.sectionFiveColorCombo | safe }} ]" data-color="{{ sectionFive.sectionFiveColorCombo | safe }}" id="{{ sectionFive.sectionFiveHeader | slug }}">
	<div class="[ container-content ][ flex-flow flex-flow-column flex-flow-start ]">
		<div class="[ text ][ flex-flow flex-flow-column flex-flow-start ]">
			<h2>{{ sectionFive.sectionFiveHeader | md | safe }}</h2>
			{% include '1-mambo-blocks/divider.njk' %}
			<div class="wysiwyg flow-3">{{ sectionFive.sectionFiveBody | md | safe }}</div>
		</div>
	</div>
</section>
