<!-- Archive Events -->
<section class="[ mambo-section archive-events ][ padding-all-32 medium:padding-all-64 large:padding-all-120 ][ {% for content in archive.section %} {{ content.colorCombo | safe }} {% endfor %} ]" id="archive-events">
<div class="[ container-default ][ flex-flow flex-flow-column flex-flow-start ]">
<div class="[ text ][ flex-flow flex-flow-column flex-flow-start ]">
	{% for content in archive.section %}
		<h2>{{ content.header | safe }}</h2>
		<hr class="divider">
		<div class="wysiwyg flow-3">{{ content.body | safe }}</div>
	{% endfor %}
</div>
<ul class="[ mambo-cards ][ archive-events ][ grid-flow grid-two-columns ]">
	{% for content in archive.events  | limit(2) %}
		<li class="[ mambo-card ][ archived-event ]">
			<figure class="[ image ]">
				<img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
			</figure>
			<div class="[ details ][ flex-flow flex-flow-column ]">
				<h3>{{ content.theme | safe }}</h3>
				<a class="[ color-blue ]" href="{{ content.url }}" rel="noopener noreferrer" target="_blank">{{ content.label | safe }}</a>
			</div>
		</li>
	{% endfor %}
</ul>
</div>
</section>
