<section class="[ mambo-section ][ flow ]" id="featured-makers">
  <div class="[ container container-default ][ flow ]">
    {% for content in featured.makers %}
      <h2>{{ content.header }}</h2>
      <p>{{ content.body | safe }}</p>
      <a class="[ mambo-button ]" href="{{ content.linkURL }}">
        {{ content.linkLabel }}
        <span>
          <i class="fa-solid fa-arrow-right"></i>
        </span>
      </a>
    {% endfor %}
  </div>
</section>
