{% for content in featured.events %}
  <section class="[ mambo-section ][ flow ]" id="{{ content.header | slug }}">
    <div class="[ container container-default ][ flow ][ ]">
      <div class="[ flow ]">
        <h2>{{ content.header | md | safe }}</h2>
        {% include "1-mambo-blocks/divider.njk" %}
        <p>{{ content.body | md | safe }}</p>
        <ul class="[ faqs-list ][ grid-flow grid-four-columns ]">
          {% for event in collections.event | reverse %}
            <li class="[ mambo-card event ][ {{ event.data.type | safe }} ]">
              <figure class="[ image ]">
                <img alt="{{ event.data.imageALT }}" loading=lazy src="{{ event.data.image }}">
              </figure>
              <div class="[ meta ]">
                {% for status in event.data.status %}
                  {% if status.statusType == "Featured on Home" %}
                    <p>{{status.statusLabel}}</p>
                  {% elseif status.statusType == "Featured on Events" %}
                    <p>{{status.statusLabel}}</p>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="[ details ][ flow ]">
                <a href="{{ event.url }}">
                  <h3>{{event.data.title}}</h3>
                </a>
                <datetime>{{ event.date | readableEventDate }}</datetime>
              </div>
            </li>
          {% endfor %}
        </ul>
        <a class="[ mambo-button ]" href="{{ content.linkURL }}">
          {{ content.linkLabel | safe }}
          <span>
            <i class="fa-solid fa-arrow-right"></i>
          </span>
        </a>
      </div>
    </div>
  </section>
{% endfor %}
