<section class="[ small-sponsors ][ flow ][ padding-all-16 ]" id="sponsors">

  {% for content in sponsors.section %}
    <h2>
      {{ content.header }}
    </h2>
    <p>
      {{ content.body | safe }}
    </p>
  {% endfor %}
  <ul class="[ featured-sponsors ] [ grid-flow grid-four-columns  ]">
    {% for content in sponsors.sponsor %}
      <li class="[ mambo-card sponsor flow ][ {{ content.tier | slug }} ]">
        <a aria-label="{{ content.websiteAriaLabel1 }}" class="[ anchor ]" data-type="card" href="{{ content.websiteURL1 }}">
          <h3>
            {{ content.name }}
          </h3>
        </a>
        <figure class="[ image ]">
          <img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
        </figure>
      </li>
    {% endfor %}
  </ul>
  {% for content in sponsors.section %}
    <a aria-label="{{ content.linkAria }}" href="{{ content.linkURL }}">
      {{ content.linkLabel }}
    </a>
  {% endfor %}
</section>
