<section class="[ mambo-section ][ flow ]" id="featured-theme">
  <div class="[ container container-default ][ flow ]">
    {% for content in featured.theme %}
      <h2>{{ content.header }}</h2>
      <p>{{ content.body | safe }}</p>
    {% endfor %}
  </div>
</section>
