<section class="[ small-sponsors ][ flow ][ padding-all-16 ]" id="sponsors">

    {% for content in sponsors.global %}
        <h2>
            {{ content.header }}
        </h2>
        <p>
            {{ content.body | safe }}
        </p>
    {% endfor %}
    {% include '2-layout-blocks/list-sponsors.njk' %}
    {% for content in sponsors.global %}
        <a class="[ mambo-button ] [ border-bottom color-teal ]  [ {{ content.buttonTextColor }} ]"
		href="{{ content.buttonURL }}">
            {{ content.buttonLabel }}
            <span>
                <i class="fa-solid fa-arrow-right"></i>
            </span>
        </a>
    {% endfor %}
</section>
