<section class="[ agency-small ][ flow ][ padding-all-16 ]">
  <h2>
		Featured Agency
	</h2>
  {% for content in agency.global %}
    <a class="[ mambo-button ] [ border-bottom color-teal ]  [ {{ content.buttonTextColor }} ]"
			href="{{ content.buttonURL }}">
      {{ content.buttonLabel }}
      <span>
        <i class="fa-solid fa-arrow-right"></i>
      </span>
    </a>
  {% endfor %}
</section>
