<section class="[ mambo-section ][ flow ]" id="featured-accessibility">
  {% for content in featured.a11y %}
    <h2>{{ content.header }}</h2>
    <p>{{ content.body | safe }}</p>
    <a class="[ mambo-button ]" href="{{ content.linkURL }}">
      {{ content.linkLabel }}
      <span>
        <i class="fa-solid fa-arrow-right"></i>
      </span>
    </a>
  {% endfor %}
</section>
