<section class="[ events-small ][ flow ][ padding-all-16 ]" id="events-small">
	{% for content in events.global %}
	<h2>
		{{ content.header }}
	</h2>
	{% endfor %}
	<ul class="[ events ] [ grid-flow grid-four-columns  ]">
		{% for event in collections.event | reverse | limit(4) %}
		<li class="[ event card ] [ {{ event.data.type | safe }} ]">
			<a class="[ anchor ]" data-type="card" href="{{ event.url }}">
				<figure class="[ image ]">
					<img alt="{{ event.data.imageALT }}" loading=lazy src="{{ event.data.image }}">
				</figure>
				<!-- Displays human readable date of event -->
				<div class="[ meta ]">
					{% for status in event.data.status %}
					{% if status.statusType == "Featured on Home" %}
					<p>
						{{status.statusLabel}}
					</p>
					{% elseif status.statusType == "Featured on Events" %}
					<p>
						{{status.statusLabel}}
					</p>
					{% endif %}
					{% endfor %}
					<h3>
						{{event.data.title}}
					</h3>
					<time datetime="{{ event.date | readableEventDate }}">
						{{ event.date | readableEventDate }}
					</time>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
	{% for content in events.global %}
	<a class="[ mambo-button ] [ border-bottom color-teal ]  [ {{ content.buttonTextColor }} ]"
		href="{{ content.buttonURL }}">
		{{ content.buttonLabel }}
		<span><i class="fa-solid fa-arrow-right"></i></span>
	</a>
	{% endfor %}
</section>
