<section class="[ mambo-section ][ flow ][ padding-all-32 medium:padding-all-64 large:padding-all-120 ][ {{ sectionFiveColorCombo | safe }} ]" id="{{ sectionFiveHeader | slug }}">
	<div class="[ container-default ][ flex-flow flex-flow-column flex-flow-start ]">
		<div class="[ text ][ flex-flow flex-flow-column flex-flow-start ]">
			<h2>{{ sectionFiveHeader | safe }}</h2>
			<hr class="divider">
			<div class="wysiwyg flow-3">{{ sectionFiveBody | md | safe }}</div>
		</div>
		<ul class="[ mambo-cards ][ archive-events ][ grid-flow grid-two-columns ]">
			{% for card in sectionFiveCards %}
				<li class="[ mambo-card ]">
					<figure class="[ image ][ background-color-cream ]">
						<img alt="{{ card.sectionFiveCardImageAlt }}" loading=lazy src="{{ card.sectionFiveCardImage }}">
					</figure>
					<div class="[ details content ][ background-color-zodiac color-white ][ flex-flow flex-flow-column ][ padding-all-24 ]">
						<h3>{{ card.sectionFiveCardTitle | safe }}</h3>
						<p>{{ card.sectionFiveCardBody | safe }}</p>
						<a class="[ mambo-anchor ][ color-cream ]" href="{{ card.sectionFiveCardLinkURL }}" rel="noopener noreferrer" target="_blank">{{ card.sectionFiveCardLinkLabel | safe }}</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
