<section class="[ mambo-hero mambo-section ][ flow ][ padding-all-20 padding-top-80 padding-bottom-80 break-2:padding-all-56 break-5:padding-all-120 ][ {{ hero.heroColorCombo | safe }} ]" data-color="{{ heroColorCombo | safe }}"" id="{{ hero.heroHeader | slug }}">
    <div class="[ container-section ]">
        <div class="[ container-content ][ flex-flow flex-flow-column flex-flow-start gap-1 ]">
            {% if hero.heroHeader %}
                <span id="skip-to-content">
                    <h1>{{ hero.heroHeader | safe }}</h1>
                </span>
            {% endif %}
            {% if hero.heroBody %}
                <div class="wysiwyg flow-3">{{ hero.heroBody | md | safe }}</div>
            {% endif %}
            {% if hero.showHeroButtonLeft == true %}
                <a class="[ mambo-anchor proposal ]" href="{{ hero.heroButtonLeftURL | safe }}">
                    {{ hero.heroButtonLeftLabel | safe }}
                    <span>
                        {% include 'static/images/hero/button-container.njk' %}
                    </span>
                </a>
            {% endif %}
            {% if hero.showHeroButtonRight == true %}
                <a class="[]" href="{{ hero.heroButtonRightURL | safe }}">{{ hero.heroButtonRightLabel | safe  }}</a>
            {% endif %}
        </div>
        {% if page.url == "/" or page.url == "/makers/" %}
            <span aria-hidden="true" class="ornament ornament-arrow-double">
                {% include 'static/images/hero/arrow-double.njk' %}
            </span>
            <span aria-hidden="true" class="ornament ornament-badge-community-curated">
                {% include 'static/images/hero/badge-community-curated.njk' %}
            </span>
            <span aria-hidden="true" class="ornament ornament-hero-decor-left">
                {% include 'static/images/hero/hero-decor-left.njk' %}
            </span>
            <span aria-hidden="true" class="ornament ornament-hero-decor-right">
                {% include 'static/images/hero/hero-decor-right.njk' %}
            </span>
        {% endif %}
    </div>
</section>
