<section class="[ mambo-section ][ flow ][ padding-all-20 padding-top-80
	padding-bottom-80 break-2:padding-all-56 break-5:padding-all-120 ][ {{ sectionFour.sectionFourColorCombo | safe }} ]" data-color="{{ sectionFour.sectionFourColorCombo | safe }}" id="{{ sectionFour.sectionFourHeader | slug }}">
    <div class="[ container-content ][ flex-flow flex-flow-column flex-flow-start ]">
        <div class="[ text ][ flex-flow flex-flow-column flex-flow-start ]">
            <h2>{{ sectionFour.sectionFourHeader | md | safe }}</h2>
            {% include '1-mambo-blocks/divider.njk' %}
            <div class="wysiwyg flow-3">{{ sectionFour.sectionFourBody | md | safe }}</div>
        </div>
    </div>
    <div class="[ container-content ]">
        <ul class="[ mambo-cards ][ archive-events ][ grid-flow grid-two-columns ]">
            {% for card in sectionFour.cards %}
                <li class="[ mambo-card ]">
                    <figure class="[ image ][ background-color-cream ]">
                        <img alt="{{ card.imageAlrt }}" loading=lazy src="{{ card.image }}">
                    </figure>
                    <div class="[ details content ][ background-color-cream color-zodiac ][ flex-flow flex-flow-column ][ padding-all-24 ]">
                        <h3>{{ card.title | safe }}</h3>
                        <p>{{ card.body | md | safe }}</p>
                        <a class="[ mambo-anchor ]" href="{{ card.url }}" style="color: var(--color-valencia) !important;" rel="noopener noreferrer" target="_blank">{{ card.label | safe }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <!-- Main FAQs -->
        <ul class="[ mambo-accordions ][ faqs-list ][ flex-flow flex-flow-column ]">
            {% for question in sectionFour.questions %}
                <li class="[ mambo-accordion ]">
                    <!-- Trigger for hidden content -->
                    <h3 class="[ flex-flow flex-flow flex-flow-space-between ]" data-houdini-toggle="sectionFourQuestionsID-{{ question.trigger | safe | slug }}">
                        {{ question.question | md | safe }}
                    </h3>
                    <!-- Hidden Content -->
                    <div class="[ answer ][ wysiwyg ] {% if question.expanded == true %} [ is-expanded ] {% endif %} ]" data-houdini-group="sectionFourQuestionsID" id="sectionFourQuestionsID-{{ question.trigger | safe | slug }}">
                        {{ question.answer | md | safe }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
<script>
    var disclosure = new Houdini('[data-houdini-group="sectionFourQuestionsID"]', {
        // Content
        contentClass: 'houdini',
        expanded: false,
        expandedClass: 'is-expanded',
        // Toggle Buttons
        btnAfter: true, // If true, load toggle button after the content
        btnClass: 'question', // The class to add to toggle buttons
        btnAttribute: 'data-houdini-toggle', // The data attribute to use for toggle buttons
        btnTextAttribute: 'data-houdini-button', // The data attribute for the button text
        btnLabelAttribute: 'data-houdini-label', // The data attribute for aria-label text
        btnPreexisting: 'data-houdini-button-preexisting', // The data attribute added to pre-existing buttons
        // Accordion
        isAccordion: true, // If true, treat as an accordion
        collapseOthers: true, // If true, only allow on open piece of content at a time
        headingClass: 'header', // The class to add to the heading element
        // Icons
        icon: -1, // If true, include an expand/collapse icon
        iconClass: 'question-icon', // The class to use for the expand/collapse icon
        iconAttribute: 'question-icon', // The data attribute to use for the expand/collapse icon
        iconShow: '<i class="fas fa-chevron-right"></i>',
        /* The icon to expand an accordion */
        iconHide: '<i class="fas fa-chevron-down"></i>',
        /* The icon to collapse an accordion */
    });
</script>
