<!-- About DC Design Week -->
<section class="[ mambo-section ][ flow ][ padding-all-20 padding-top-80
padding-bottom-80 medium:padding-all-64 large:padding-all-120 ][ {{ sectionOneColorCombo | safe }} ]" data-color="{{ sectionOneColorCombo | safe }}" id="{{ sectionOneHeader | slug }}">
	<div class="[ container-content ][ flex-flow flex-flow-column flex-flow-start ]">
		<div class="[ text ][ flex-flow flex-flow-column flex-flow-start ]">
			<h2>{{ sectionOneHeader | safe }}</h2>
			{% include '1-mambo-blocks/divider.njk' %}
			<div class="wysiwyg flow-3">{{ sectionOneBody | md | safe }}</div>
		</div>
	</div>
	<div class="[ container-content ]">
		<!-- Main FAQs -->
		<ul class="[ mambo-accordions ][ faqs-list ][ flex-flow flex-flow-column ]">
			{% for question in sectionOneQuestions %}
				<li class="[ mambo-accordion ]">
					<!-- Trigger for hidden content -->
					<h3 class="[ flex-flow flex-flow flex-flow-space-between ]" data-houdini-toggle="sectionOneQuestionsID-{{ question.trigger }}"> {{ question.question | safe }}</h3>
					<!-- Hidden Content -->
					<div class="[ answer ][ wysiwyg ] {% if question.expanded == true %} [ is-expanded ] {% endif %} ]"
				data-houdini-group="sectionOneQuestionsID" id="sectionOneQuestionsID-{{ question.trigger }}">{{ question.answer | md | safe }}</div>
			</li>
		{% endfor %}
	</ul>
</div>
</section>
<script>
	var disclosure = new Houdini('[data-houdini-group="sectionOneQuestionsID"]', {
		// Content
		contentClass: 'houdini',
		expanded: false,
		expandedClass: 'is-expanded',
		// Toggle Buttons
		btnAfter: true, // If true, load toggle button after the content
		btnClass: 'question', // The class to add to toggle buttons
		btnAttribute: 'data-houdini-toggle', // The data attribute to use for toggle buttons
		btnTextAttribute: 'data-houdini-button', // The data attribute for the button text
		btnLabelAttribute: 'data-houdini-label', // The data attribute for aria-label text
		btnPreexisting: 'data-houdini-button-preexisting', // The data attribute added to pre-existing buttons
		// Accordion
		isAccordion: true, // If true, treat as an accordion
		collapseOthers: true, // If true, only allow on open piece of content at a time
		headingClass: 'header', // The class to add to the heading element
		// Icons
		icon: -1, // If true, include an expand/collapse icon
		iconClass: 'question-icon', // The class to use for the expand/collapse icon
		iconAttribute: 'question-icon', // The data attribute to use for the expand/collapse icon
		iconShow: '<i class="fas fa-chevron-right"></i>',
		/* The icon to expand an accordion */
		iconHide: '<i class="fas fa-chevron-down"></i>',
		/* The icon to collapse an accordion */
	});
</script>
