<section class="[ events-large ][ flow ][ padding-all-16 ]" id="events-large">
	<h2 class="[ sr-hidden ]">
	Featured Events
	</h2>
	<ul class="[ events ] [ grid-flow grid-four-columns  ]">
		{% for event in collections.event | reverse %}
			<li class="[ event card ] [ {{ event.data.type | safe }} ]">
				<a class="[ anchor ]" data-type="card" href="{{ event.url }}">
					<figure class="[ image ]">
						<img alt="{{ event.data.imageALT }}" loading=lazy src="{{ event.data.image }}">
					</figure>
					<!-- Displays human readable date of event -->
					<div class="[ meta ]">
						{% for status in event.data.status %}
							{% if status.statusType == "Featured on Home" %}
								<p>
									{{status.statusLabel}}
								</p>
							{% elseif status.statusType == "Featured on Events" %}
								<p>
									{{status.statusLabel}}
								</p>
							{% endif %}
						{% endfor %}
						<h3>
						{{event.data.title}}
						</h3>
						<datetime>
						{{ event.date | readableEventDate }}
						</datetime>
					</div>
					{% if event.data.status.isFeaturedHome == true %}
						<p>
							Featured on Home == True
						</p>
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
</section>
