<!-- 
[ content ] then Image
-->
<p class="[ mambo-documentation ]">Component: Section - Featured Sponsors</p>
<section class="[ mambo-section ][ flow ][ padding-all-20 padding-top-80
padding-bottom-80 break-2:padding-all-56 break-5:padding-all-120 ][ {% for content in makers.section %} {{ content.colorCombo | safe }} {% endfor %} ]" data-color="{% for content in makers.section %}{{ content.colorCombo | safe }}{% endfor %}" id="Makers">
  <div class="[ container-content ][ grid-flow grid-four-columns ]">
    <div class="[ column-span-two ][ content ]">
      <h2>
                Sponsors
            </h2>
      {% include '1-mambo-blocks/divider.njk' %}
      <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
    </div>
  </div>
  <div class="[ container-content ][ grid-flow grid-four-columns ]">
    <div class="[ column-span-two ][ content ]">
      <h2>
                Heading 2
            </h2>
      <figure>
        <img alt="" src="https://i.pinimg.com/474x/56/11/ae/5611ae1b6ba35c729c307f00f5a1622f.jpg">
      </figure>
    </div>
    <div class="[ column-span-two ][ content ]">
      <h2>
                Heading 2
            </h2>
      <figure>
        <img alt="" src="https://i.pinimg.com/474x/56/11/ae/5611ae1b6ba35c729c307f00f5a1622f.jpg">
      </figure>
    </div>
  </div>
  <div class="[ container-content ][ grid-flow grid-four-columns ]">
    <div class="[ column-span-one ][ content ]">
      <h3>
                Heading 3
            </h3>
      <figure>
        <img alt="" src="https://i.pinimg.com/474x/56/11/ae/5611ae1b6ba35c729c307f00f5a1622f.jpg">
      </figure>
    </div>
    <div class="[ column-span-one ][ content ]">
      <h3>
                Heading 3
            </h3>
      <figure>
        <img alt="" src="https://i.pinimg.com/474x/56/11/ae/5611ae1b6ba35c729c307f00f5a1622f.jpg">
      </figure>
    </div>
    <div class="[ column-span-one ][ content ]">
      <h3>
                Heading 3
            </h3>
      <figure>
        <img alt="" src="https://i.pinimg.com/474x/56/11/ae/5611ae1b6ba35c729c307f00f5a1622f.jpg">
      </figure>
    </div>
    <div class="[ column-span-one ][ content ]">
      <h3>
                Heading 3
            </h3>
      <figure>
        <img alt="" src="https://i.pinimg.com/474x/56/11/ae/5611ae1b6ba35c729c307f00f5a1622f.jpg">
      </figure>
    </div>
    <div class="[ container-content ][ grid-flow grid-four-columns ]">
      <div class="[ column-span-four ][ content ]">
        <a href="#">
                    Link
                </a>
      </div>
    </div>
  </div>
</section>
