<!-- 
[ content ] then Image
-->
<p class="[ mambo-documentation ]">Component: Section - Featured Committee</p>
<section class="[ mambo-section ][ flow ][ padding-all-20 padding-top-80
padding-bottom-80 break-2:padding-all-56 break-5:padding-all-120 ][ {% for content in makers.section %} {{ content.colorCombo | safe }} {% endfor %} ]" data-color="{% for content in makers.section %}{{ content.colorCombo | safe }}{% endfor %}" id="Makers">
  <div class="[ container-content ][ grid-flow grid-four-columns ]">
    <div class="[ column-span-two ][ content ]">
      <h2>
                Committee
            </h2>
      {% include '1-mambo-blocks/divider.njk' %}
      <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
    </div>
  </div>
  <div class="[ container-content ][ grid-flow grid-three-columns ]">
    <div class="[ column-span-one ][ content ]">
      <h3>
                Executive Team
            </h3>
      <p>## of Members</p>
    </div>
    <div class="[ column-span-one ][ content ]">
      <h3>
                Programming Team
            </h3>
      <p>## of Members</p>
    </div>
    <div class="[ column-span-one ][ content ]">
      <h3>
                Design
            </h3>
      <p>## of Members</p>
    </div>
    <div class="[ column-span-one ][ content ]">
      <h3>
                Communications Team
            </h3>
      <p>## of Members</p>
    </div>
    <div class="[ column-span-one ][ content ]">
      <h3>
                Independent Leads
            </h3>
      <p>## of Members</p>
    </div>
    <div class="[ column-span-one ][ content ]">
      <h3>
               Board Support
            </h3>
      <p>## of Members</p>
    </div>
  </div>
  <div class="[ container-content ][ grid-flow grid-three-columns ]">
    <div class="[ column-span-three ][ content ]">
      <a href="#">
                Explore Committee
            </a>
    </div>
  </div>
</section>
