<section class="[ mambo-hero mambo-section ][ flow ][ background-color-black color-white ]" id="{{ heroHeader | slug }}">
	<div class="[ container-default ][ flex-flow flex-flow-column ]">
		<span id="skip-to-content">
			<h1>{{ heroHeader | safe }}</h1>
		</span>
		<div class="wysiwyg flow-3">{{ heroBody | md | safe }}</div>
	</div>
</section>
