<section class="[ mambo-section ][ flow ]" data-color="maroon-primary-on-cream" id="{{ content.header | slug }}">
  <div class="[ container container-default ][ flow ][ grid-flow grid-flow-center grid-four-columns ]">
    <div class="[ column-span-two ]">
      <div class="[ wysiwyg ]">
        {{ eventDetails.description | md | safe }}
      </div>
    </div>
  </div>
</section>

<div class="[ wave right ]" style="fill: var(--dcdw-2022-cream-secondary); background-color: var(--dcdw-2022-cream-primary); ">
  {% include '1-global-blocks/wave.njk' %}
</div>
