<section class="[ mambo-section ][ flow ]" data-color="maroon-primary-on-cream" id="details">
  <div class="[ container container-default ][ flow ][ grid-flow grid-flow-center grid-four-columns ]">
    <div class="[ column-span-two ]">
      <div class="[ wysiwyg ]">
        {{ eventDetails.description | md | safe }}
      </div>
    </div>
  </div>
</section>

{% if page.url == "/event/pop-up-block-party-at-brookland-arts-walk/" %}
  <div class="[ wave right has-border ]" style="fill: var(--dcdw-2022-cream-secondary); background-color: var(--dcdw-2022-cream-primary); ">
    {% include '1-global-blocks/wave.njk' %}
  </div>
{% else %}
  <div class="[ wave right has-border ]" style="fill: var(--dcdw-2022-cream-secondary); background-color: var(--dcdw-2022-cream-primary); ">
    {% include '1-global-blocks/wave.njk' %}
  </div>
{% endif %}
