@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Recursive:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
:root {
  /* AIGA DC: Brand Colors */
  --brand-aiga-dc: #297b76;
  /* DCDW: Past Brand Colors */
  --dcdw-2016: #0000ff;
  --dcdw-2017: #3e07d0;
  --dcdw-2018: #297b76;
  --dcdw-2019: #fb7eb8;
  --dcdw-2020: #4ae725;
  --dcdw-2021: #ec1001;
  /* DCDW: 2022 Brand Colors */
  --dcdw-2022-maroon-primary: #482D38;
  --dcdw-2022-maroon-secondary: #6F314B;
  --dcdw-2022-pink-primary: #F45999;
  --dcdw-2022-pink-secondary: #FF78B0;
  --dcdw-2022-pink-tertiary: #FFD5E6;
  --dcdw-2022-yellow-primary: #FFCD1E;
  --dcdw-2022-yellow-secondary: #FBFA7E;
  --dcdw-2022-cream-primary: #FFFFDD;
  --dcdw-2022-cream-secondary: #FFFFF5;
  /* DCDW: 2022 Brand Type */
  --dcdw-2022-brand-dm-sans: "DM Sans", sans-serif;
  --dcdw-2022-brand-recursive: "Recursive", sans-serif;
  --dcdw-2022-brand-source-sans-pro: "Source Sans Pro", sans-serif;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-maroon-primary: #482D38;
  --color-maroon-secondary: #6F314B;
  --color-pink-primary: #F45999;
  --color-pink-secondary: #FF78B0;
  --color-yellow-primary: #FFCD1E;
  --color-yellow-secondary: #FBFA7E;
  --color-cream-primary: #FFFFDD;
  --font-family-sans: 'League Spartan', sans-serif;
  --font-family-serif: 'Cormorant Garamond', serif;
  --font-family-branded-dm-sans: 'DM Sans', sans-serif;
  --font-family-branded-recursive: 'Recursive', sans-serif;
  --layer-0: -100;
  --layer-1: 100;
  --layer-2: 200;
  --layer-3: 300;
  --layer-4: 400;
  --layer-5: 500;
  --layer-6: 600;
  --layer-7: 700;
  --layer-8: 800;
  --layer-9: 900;
  --layer-10: 1000;
  --size-none: 0;
  --size-8: 0.5rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-44: 2.75rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-88: 5.5rem;
  --size-96: 6rem;
  --size-104: 6.5rem;
  --size-112: 7rem;
  --size-120: 7.5rem;
  --timing-default: 100ms;
  --weight-100: 100;
  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-maroon-primary: #482D38;
  --color-maroon-secondary: #6F314B;
  --color-pink-primary: #F45999;
  --color-pink-secondary: #FF78B0;
  --color-yellow-primary: #FFCD1E;
  --color-yellow-secondary: #FBFA7E;
  --color-cream-primary: #FFFFDD;
  --font-family-sans: 'League Spartan', sans-serif;
  --font-family-serif: 'Cormorant Garamond', serif;
  --font-family-branded-dm-sans: 'DM Sans', sans-serif;
  --font-family-branded-recursive: 'Recursive', sans-serif;
  --layer-0: -100;
  --layer-1: 100;
  --layer-2: 200;
  --layer-3: 300;
  --layer-4: 400;
  --layer-5: 500;
  --layer-6: 600;
  --layer-7: 700;
  --layer-8: 800;
  --layer-9: 900;
  --layer-10: 1000;
  --size-none: 0;
  --size-8: 0.5rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-44: 2.75rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-88: 5.5rem;
  --size-96: 6rem;
  --size-104: 6.5rem;
  --size-112: 7rem;
  --size-120: 7.5rem;
  --timing-default: 100ms;
  --weight-100: 100;
  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;
}

/* 
👋🏾 Shoutout: Special thanks to Andy Bell for his helpful minimal reset:
https://hankchizljaw.com/wrote/a-modern-css-reset/
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
mambo-button,
h1,
h2,
h3,
h4,
hr,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
iframe,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and mambo-buttons */
input,
mambo-button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0 !important;
    animation-duration: var(--timing-default) !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: var(--timing-default) !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-x: hidden;
  color: currentColor;
}

body {
  font-family: var(--dcdw-2022-brand-dm-sans);
  font-size: var(--size-18);
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
}

@media screen and (min-width: 64rem) {
  body {
    font-size: var(--size-20);
  }
}
a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  transition: opacity var(--timing-default) ease-in;
}

a:focus,
input:focus {
  /* 💐 Change the following variables in box shadow to experiment with different potential colors for DCDW's focus style, make sure one is dark and the other is light so they work on all different kinds of backgrounds 

  Credit to Ad Hoc's Scott Weber and DK for the writeup and code https://adhoc.team/2022/02/08/creating-focus-style-for-themable-design-system/ 

  Thank you to Josh Kim (https://www.joshkimux.com/index.html) for providing this example for the 2022 DC Design Week site. */
  box-shadow: 0 0 0 4px currentColor, 0 0 0px 4px currentColor;
  outline: 4px solid transparent;
  outline-offset: 4px;
  position: relative;
  text-decoration: none;
  text-decoration-thickness: 0;
}

br {
  display: none;
}

figure {
  position: relative;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  display: block;
  line-height: initial;
  text-rendering: optimizeLegibility;
}

fieldset,
legend,
ul {
  border: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  vertical-align: middle;
}

/*!
 * houdinijs v11.0.4
 * A simple collapse-and-expand script
 * (c) 2019 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/houdini
 */
/**
 * Hide content
 */
.houdini {
  display: none;
  /**
  * Remove focus styles from content
  * @type {String}
  */
  /**
  * Show expanded content
  */
}

.houdini[tabindex="-1"]:focus {
  outline: none;
}

.houdini.is-expanded {
  display: block;
}

/**
 * Remove button appearance from heading buttons
 */
.houdini-heading .houdini-toggle {
  background-color: inherit;
  color: currentColor;
  border: none;
  display: flex;
  font-family: var(--dcdw-2022-brand-recursive);
  padding: 1rem;
  text-align: inherit;
  width: 100%;
}

button.mambo-anchor.action {
  display: block;
  width: 100%;
  font-size: var(--size-18);
  font-family: var(--dcdw-2022-brand-dm-sans);
  margin-top: 24px;
}

.mailchimp form > * {
  display: grid;
  grid-gap: 1rem;
}

.mailchimp form label {
  display: flex;
  flex-direction: column;
}

.mailchimp form input {
  background-color: transparent;
  border: solid 1px var(--dcdw-2022-cream-primary);
  color: var(--dcdw-2022-cream-primary);
}

.mailchimp form .mc-field-group.faux-button input {
  background-color: var(--dcdw-2022-yellow-primary);
  border: solid 1px var(--dcdw-2022-yellow-primary);
  color: var(--dcdw-2022-maroon-primary);
}

#mc_embed_signup input.mce_inline_error {
  border-color: var(--dcdw-2022-pink-primary) !important;
}

#mc_embed_signup div.mce_inline_error {
  margin: 0 0 1em 0 !important;
  padding: 5px 10px !important;
  background-color: var(--dcdw-2022-pink-primary) !important;
  font-weight: bold !important;
  z-index: 1 !important;
  color: #fff !important;
}

/* Controls
---------------------------------------------------------------------- */
.controls {
  padding: 1rem;
  background: #333;
  font-size: 0.1px;
}

.control {
  position: relative;
  display: inline-block;
  width: 2.7rem;
  height: 2.7rem;
  background: #444;
  cursor: pointer;
  font-size: 0.1px;
  color: white;
  transition: background 150ms;
}

.control:hover {
  background: #3f3f3f;
}

.control[data-filter]:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  border: 2px solid currentColor;
  border-radius: 2px;
  background: currentColor;
  transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-left: 2px solid;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  transform: translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
  transform: translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
  background: #393939;
}

.mixitup-control-active[data-filter]:after {
  background: transparent;
}

.control:first-of-type {
  border-radius: 3px 0 0 3px;
}

.control:last-of-type {
  border-radius: 0 3px 3px 0;
}

.radio {
  text-align: justify;
}

.radio:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.radio-input,
.radio-label {
  display: inline-block;
}

.radio-label {
  color: white;
  font-family: "helvetica-neue", arial, sans-serif;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

/* Container
---------------------------------------------------------------------- */
/* Target Elements
---------------------------------------------------------------------- */
/* Pagination Controls
---------------------------------------------------------------------- */
.controls-pagination {
  padding: 1rem;
  font-size: 0.1px;
  text-align: justify;
}

.controls-pagination:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.mixitup-page-list,
.mixitup-page-stats {
  display: inline-block;
  vertical-align: middle;
}

.mixitup-page-list {
  text-align: left;
}

.mixitup-page-stats {
  font-size: var(--size-20);
  color: #333;
  font-weight: bold;
  font-family: "helvetica", arial, sans-serif;
}

.mixitup-page-stats-disabled {
  display: none;
}

/*!
 * Modals v10.1.2: Simple modal dialogue pop-up windows
 * (c) 2017 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/modals
 */
/**
 * Modal windows
 */
/* line 4, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal {
  background-color: var(--black);
  display: none;
  max-width: 100%;
  padding: var(--size-16);
  visibility: hidden;
  z-index: var(--index-9);
}

.modal-content-header .mambo-button.mambo-button__link.mambo-button__link--white {
  text-align: right;
  width: 100%;
  padding: 8px;
}

@media (min-width: 40em) {
  /* line 4, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal {
    max-width: 98%;
  }
}
/* line 19, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal.active {
  border: solid 1px var(--white);
  display: block;
  height: 75%;
  left: 0;
  max-height: 100%;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  -webkit-overflow-scrolling: touch;
  margin: 8px;
}

@media (min-width: 30em) {
  .modal {
    padding: var(--space-32);
  }
  .modal-content-header .mambo-button.mambo-button__link.mambo-button__link--white {
    text-align: right;
  }
  /* line 19, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal.active {
    height: auto;
    max-height: 90%;
    left: var(--space-32);
    margin-left: auto;
    margin-right: auto;
    right: var(--space-32);
    top: var(--space-32);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 40em) {
  .modal {
    padding: var(--space-48);
  }
}
@media screen and (min-width: 64rem) {
  /* line 44, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal.active.modal-medium {
    width: 60em;
  }
}
/* line 54, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal:focus {
  outline: none;
}

/**
 * Modal background
 */
/* line 63, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal-bg {
  background-color: var(--black);
  bottom: 0;
  position: fixed;
  left: 0;
  opacity: 0.75;
  right: 0;
  top: 0;
  z-index: var(--index-9);
}

/*!
 * tabbyjs v12.0.3
 * Lightweight, accessible vanilla JS toggle tabs.
 * (c) 2019 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/tabby
 */
/**
 * The tablist
 */
[role=tablist] {
  border-bottom: 1px solid #ecece5;
  list-style: none;
  margin: 0;
  padding: 0;
}

[role=tablist] * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
   * The tablist item
   */
@media (min-width: 30em) {
  [role=tablist] li {
    display: inline-block;
  }
}
/**
   * The tabs
   */
[role=tab] {
  border: 1px solid transparent;
  border-top-color: #ecece5;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  /**
     * Active tab styling
     */
  /**
     * Tabs on hover
     */
}

@media (min-width: 30em) {
  [role=tab] {
    border-top-color: transparent;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    display: inline-block;
    margin-bottom: -1px;
  }
}
[role=tab][aria-selected=true] {
  background-color: #ecece5;
}

@media (min-width: 30em) {
  [role=tab][aria-selected=true] {
    background-color: transparent;
    border: 1px solid #ecece5;
    border-bottom-color: #ffffff;
  }
}
[role=tab]:hover:not([aria-selected=true]) {
  background-color: #ecece5;
}

@media (min-width: 30em) {
  [role=tab]:hover:not([aria-selected=true]) {
    border: 1px solid #ecece5;
  }
}
/**
   * [hidden] fallback for IE10 and lower
   */
[hidden] {
  display: none;
}

.flow > * + *:not(:first-child) {
  margin-top: var(--gap, var(--size-24));
}

.flow-none {
  margin: 0;
}

/* Flex */
.flex-flow {
  display: flex;
  grid-gap: var(--gap, var(--size-16));
}

.flex-flow-column {
  flex-direction: column;
}

.flex-flow-row {
  flex-direction: row;
}

.flex-flow-start {
  align-items: start;
}

.flex-flow-center {
  align-items: center;
}

.flex-flow-end {
  align-items: end;
}

.flex-flow-space-between {
  justify-content: space-between;
}

/* Grid */
.grid-flow {
  display: grid;
  grid-gap: var(--gap, var(--size-32));
}

.grid-flow-start {
  align-items: start;
}

.grid-flow-center {
  align-items: center;
}

.grid-flow-end {
  align-items: end;
}

.grid-one-column,
.grid-two-columns,
.grid-three-columns,
.grid-four-columns,
.grid-three-fourths {
  grid-template-columns: 1fr;
}

.column-span-one,
.column-span-two,
.column-span-three,
.column-span-four {
  grid-column: span 1;
}

@media screen and (min-width: 48rem) {
  .grid-two-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 64rem) {
  .column-span-two {
    grid-column: span 2;
  }
  .column-span-three {
    grid-column: span 3;
  }
  .column-span-four {
    grid-column: span 4;
  }
  .grid-three-columns {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-three-fourths {
    grid-template-columns: 1fr 0.25fr;
  }
  .grid-four-columns {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Page: FAQs */
.layout-faqs .faqs-sidebar {
  position: sticky;
  top: 1rem;
}

/* Committee */
.layout-single-committee .mambo-card.horizontal {
  display: grid;
  grid-column-gap: var(--size-32);
  grid-template-areas: "image" "body";
  grid-template-columns: 1fr;
}

.layout-single-committee .mambo-card.horizontal figure {
  grid-area: image;
}

.layout-single-committee .mambo-card.horizontal figure img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.layout-single-committee .mambo-card.horizontal .details {
  grid-area: body;
}

.layout-single-committee .mambo-card.horizontal .meta {
  display: flex;
  font-weight: 900;
  grid-gap: var(--size-8);
}

@media screen and (min-width: 48rem) {
  .layout-single-committee .mambo-card.horizontal {
    grid-column-gap: var(--size-64);
    grid-template-areas: "image body" ". body";
    grid-template-columns: 316px 1fr;
  }
}
.layout-single-event .status {
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

/* Containers */
.container {
  margin: auto;
  position: relative;
}

.container-small {
  max-width: 896px;
  position: relative;
}

.container-default {
  max-width: 1366px;
  position: relative;
}

.container-large {
  max-width: 1650px;
  position: relative;
}

.disabled {
  cursor: not-allowed;
}

.enabled {
  cursor: pointer;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.wave svg {
  width: 100%;
}

body {
  border-top: solid 1rem black !important;
}

@media screen and (min-width: 30rem) {
  body {
    border-top: solid 1rem orange !important;
  }
}
@media screen and (min-width: 40rem) {
  body {
    border-top: solid 1rem purple !important;
  }
}
@media screen and (min-width: 48rem) {
  body {
    border-top: solid 1rem green !important;
  }
}
@media screen and (min-width: 64rem) {
  body {
    border-top: solid 1rem red !important;
  }
}
@media screen and (min-width: 85.375rem) {
  body {
    border-top: solid 1rem navy !important;
  }
}
/* 
💐 

Change the following variables in box shadow to experiment with different potential colors for DCDW's focus style, make sure one is dark and the other is light so they work on all different kinds of backgrounds 

Credit to Ad Hoc's Scott Weber and DK for the writeup and code https://adhoc.team/2022/02/08/creating-focus-style-for-themable-design-system/ 

Thank you to Josh Kim (https://www.joshkimux.com/index.html) for providing this example for the 2022 DC Design Week site. 
*/
*[data-color=cream-on-maroon-primary] {
  background-color: var(--dcdw-2022-maroon-primary);
  color: var(--dcdw-2022-cream-primary);
}

*[data-color=cream-on-maroon-secondary] {
  background-color: var(--dcdw-2022-maroon-secondary);
  color: var(--dcdw-2022-cream-primary);
}

*[data-color=maroon-primary-on-cream] {
  background-color: var(--dcdw-2022-cream-primary);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color=maroon-primary-on-pink-tertiary] {
  background-color: var(--dcdw-2022-pink-tertiary);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color=maroon-primary-on-white] {
  background-color: var(--color-white);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color=maroon-primary-on-yellow-primary] {
  background-color: var(--dcdw-2022-yellow-primary);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color=maroon-primary-on-yellow-secondary] {
  background-color: var(--dcdw-2022-yellow-secondary);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color=maroon-secondary-on-cream] {
  background-color: var(--dcdw-2022-cream-primary);
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=maroon-primary-on-cream-secondary] {
  background-color: var(--dcdw-2022-cream-secondary);
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=maroon-secondary-on-pink-tertiary] {
  background-color: var(--dcdw-2022-pink-tertiary);
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=maroon-secondary-on-white] {
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=maroon-secondary-on-yellow-primary] {
  background-color: var(--dcdw-2022-yellow-primary);
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=maroon-secondary-on-yellow-secondary] {
  background-color: var(--dcdw-2022-yellow-secondary);
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=pink-tertiary-on-maroon-primary] {
  background-color: var(--dcdw-2022-maroon-primary);
  color: var(--dcdw-2022-pink-tertiary);
}

*[data-color=pink-tertiary-on-maroon-secondary] {
  background-color: var(--dcdw-2022-maroon-secondary);
  color: var(--dcdw-2022-pink-tertiary);
}

*[data-color=cream-on-maroon-primary]:focus,
*[data-color=maroon-primary-on-cream]:focus,
*[data-color=maroon-primary-on-yellow-primary]:focus {
  box-shadow: 0 0 0 4px currentColor, 0 0 0px 4px currentColor;
  outline: 4px solid var(--dcdw-2022-yellow-primary);
  outline-offset: 4px;
  overflow: hidden;
  position: relative;
  text-decoration-thickness: 0;
  z-index: var(--layer-1);
}

h1,
.heading-1 {
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-32);
}

h2,
.heading-2 {
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-24);
}

h3,
.heading-3 {
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-16);
}

@media screen and (min-width: 48rem) {
  h1,
.heading-1 {
    font-size: var(--size-48);
  }
}
@media screen and (min-width: 64rem) {
  h1,
.heading-1 {
    font-size: var(--size-88);
  }
  .layout-home-internal h1 {
    font-size: var(--size-96);
    font-weight: 900;
    text-align: center;
    margin: auto;
    max-width: 16ch;
  }
  h2,
.heading-2 {
    font-size: var(--size-32);
  }
  h3,
.heading-3 {
    font-size: var(--size-18);
  }
}
.mobile {
  display: none;
}

.mambo-accordion .question .question-icon {
  flex-grow: 1;
  text-align: right;
}

.mambo-accordion-group > *:not(:first-child) {
  margin-top: var(--size-8);
}

.mambo-expander .mambo-accordion__header {
  display: block;
  font-size: var(--size-18);
  width: 100%;
}

.mambo-expander .question {
  gap: var(--size-16);
  align-items: center;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-20);
  justify-content: unset;
  line-height: 1.5;
  padding: var(--size-24);
  text-align: left;
  width: 100%;
}

.mambo-expander .is-expanded .answer {
  display: block;
}

.mambo-expander .answer {
  border: solid 1px currentColor;
  padding: var(--size-20);
}

.image {
  position: relative;
  display: block;
  margin: auto;
}

.blob {
  animation-name: blobby;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
  mix-blend-mode: luminosity;
}

@keyframes blobby {
  0% {
    border-radius: 60% 40% 82% 18%/69% 82% 18% 31%;
  }
  50% {
    border-radius: 43% 57% 41% 59%/53% 52% 48% 47%;
  }
  100% {
    border-radius: 54% 46% 60% 40%/43% 55% 45% 57%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .blob {
    border-radius: 60% 40% 82% 18%/69% 82% 18% 31%;
  }
}
.mambo-anchor {
  border: solid 2px transparent;
  display: block;
  width: 100%;
  font-weight: 700;
  text-align: center;
}

.mambo-anchor.action {
  border-radius: 1000px;
  padding: var(--size-8) var(--size-24);
}

.mambo-anchor.ghost {
  border: solid 2px currentColor;
  background-color: transparent;
}

.mambo-anchor.underline {
  text-decoration: underline;
}

@media screen and (min-width: 48rem) {
  .mambo-anchor {
    display: inline-block;
    width: unset;
    text-align: left;
  }
}
/* Component: mambo-button */
.mambo-button {
  font-family: var(--dcdw-2022-brand-source-sans-pro);
  font-weight: var(--weight-600);
  padding: var(--size-8) 0;
  text-align: center;
  text-decoration: none;
}

.border-bottom {
  border-top: transparent;
  border-right: transparent;
  border-bottom: solid 4px currentColor;
  border-left: transparent;
}

.mambo-card .image {
  position: relative;
}

.mambo-card .image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.mambo-card .details a {
  font-weight: 800;
}

/* This is a hacky work around specifically for Speaker and Staff cards */
.card .wysiwyg p {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--gap, 1rem);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.featured-sponsors .sponsor-tier-one,
.featured-sponsors .sponsor-tier-two {
  grid-column: span 2;
}

/* Cards */
/* Events */
.mambo-card .media {
  background-color: var(--dcdw-2022-yellow-primary);
}

.mambo-card .media img {
  box-shadow: none;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.mambo-card .media {
  background-color: var(--dcdw-2022-yellow-primary);
  border: none;
  box-shadow: none;
  transition: 0.2s;
}

.mambo-card .media:hover {
  box-shadow: 20px 20px 0px 0px var(--dcdw-2022-pink-primary);
  -webkit-box-shadow: 20px 20px 0px 0px var(--dcdw-2022-pink-primary);
  -moz-box-shadow: 20px 20px 0px 0px var(--dcdw-2022-pink-primary);
}

.mambo-card .title {
  font-family: var(--dcdw-2022-brand-recursive);
}

.mambo-card .meta {
  display: flex;
  grid-gap: var(--size-40);
}

.mambo-card .day-date {
  font-family: var(--dcdw-2022-brand-recursive);
  font-weight: 700;
  position: relative;
  padding: var(--size-8);
  text-transform: uppercase;
}

.mambo-card .day,
.mambo-card .date {
  position: relative;
  z-index: 100;
}

.mambo-card .day-date svg {
  fill: var(--dcdw-2022-yellow-primary) !important;
  position: absolute;
  top: -4px;
  right: 0;
  bottom: 0;
  left: -10px;
  width: 88px;
}

.mambo-card .time-location {
  padding: var(--size-8);
}

.mambo-card.speaker .details {
  display: flex;
  flex-direction: column;
  grid-gap: var(--size-8);
}

.mambo-card.speaker .meta {
  align-items: center;
  display: flex;
  grid-gap: var(--size-8);
}

.mambo-card.speaker .image img {
  box-shadow: none;
}

.mambo-divider {
  background-color: currentColor;
  display: inline-block;
  margin-bottom: 8px;
  position: relative;
}

.mambo-divider .top,
.mambo-divider .bottom {
  border: none;
  height: 4px;
  width: 32px;
}

.mambo-divider .top {
  position: relative;
  z-index: 100;
}

.mambo-divider .bottom {
  position: absolute;
  left: 8px;
  top: 4px;
  z-index: 50;
}

@media screen and (min-width: 64rem) {
  .mambo-divider .top,
.mambo-divider .bottom {
    height: 8px;
    width: 48px;
  }
  .mambo-divider .bottom {
    position: absolute;
    left: 8px;
    top: 4px;
    z-index: 50;
  }
}
.filter-events__reset.control-group .mambo-button {
  width: 100%;
}

.mixitup-container-failed::after {
  content: "No events found, please refine the selected options";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mambo-hero {
  display: grid;
  place-content: center;
  min-height: 100vh;
  position: relative;
  padding: var(--size-88);
  z-index: 100;
}

.mambo-hero {
  clip-path: url("../source/_partials/static/images/mask.svg#wave");
}

#wave {
  height: 100vh;
  width: auto;
}

#wave path {
  transform: scaleY(2);
}

.layout-page.event-accessibility .mambo-hero,
.layout-single-committee .mambo-hero,
.layout-page.event-events .mambo-hero,
.layout-page.event-about .mambo-hero,
.layout-page.event-committee .mambo-hero,
.layout-page.event-frequently-asked-questionss .mambo-hero,
.layout-single-event .mambo-hero,
.layout-page.event-frequently-asked-questions .mambo-hero {
  min-height: 5vh;
}

.mambo-hero .container {
  position: relative;
  z-index: 1000;
  transition: all ease-in-out 200ms;
}

.mambo-hero h1 {
  font-size: 2.75rem;
  font-weight: 900;
  max-width: 10ch;
}

.hero-content {
  position: relative;
  z-index: 2000;
}

.home-hero-blob {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -480px;
  z-index: 1000;
  transform: translate(0%, -65%);
}

.home-hero-date-blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1500;
  transform: translate(10%, -80%);
  margin-top: 0 !important;
}

.home-hero-date {
  display: flex;
  flex-direction: column;
  font-family: var(--dcdw-2022-brand-recursive);
  font-weight: 900;
  font-size: var(--size-20);
  position: absolute;
  text-align: center;
  transform: translate(45%, 50%);
}

.home-hero-date datetime {
  margin-bottom: -8px;
}

.home-hero-date-blob svg {
  width: 144px;
}

.home-page-blob {
  position: absolute;
  top: -88px;
  right: 0;
  bottom: 0;
  left: -300px;
  z-index: 100;
}

.home-page-blob svg {
  width: 100%;
}

@media screen and (min-width: 48rem) {
  .home-hero-blob {
    top: -120px;
    left: -400px;
  }
  .home-hero-date {
    font-size: var(--size-32);
    transform: translate(35%, 40%);
  }
  .home-hero-date-blob svg {
    width: 200px;
  }
  .home-hero-blob svg {
    height: 100%;
    width: 110%;
  }
}
@media screen and (min-width: 64rem) {
  .home-hero-blob {
    top: 400px;
    left: -400px;
  }
  .home-hero-blob svg {
    width: 120%;
  }
  .home-hero-date-blob {
    top: 0;
    right: unset;
    left: -32px;
    z-index: 1500;
    transform: translate(10%, -80%);
    margin-top: 0 !important;
  }
  .home-page-blob {
    top: -40px;
    left: -600px;
  }
}
@media screen and (min-width: 85.375rem) {
  .home-hero-blob {
    top: 400px;
    left: 96px;
  }
  .home-hero-blob svg {
    width: 100%;
  }
  .home-page-blob {
    top: -40px;
    left: -1280px;
  }
  .home-page-blob svg {
    height: 100%;
    width: 110%;
  }
  .layout-page.event-accessibility .mambo-hero,
.layout-single-committee .mambo-hero,
.layout-page.event-events .mambo-hero,
.layout-page.event-about .mambo-hero,
.layout-page.event-committee .mambo-hero,
.layout-page.event-frequently-asked-questionss .mambo-hero,
.layout-single-event .mambo-hero,
.layout-page.event-frequently-asked-questions .mambo-hero {
    margin-bottom: -144px;
  }
}
.roots {
  position: absolute;
  top: -500px;
  right: 0;
  bottom: 0;
  left: -400px;
  overflow: hidden;
}

.roots > * {
  height: 300%;
}

.mambo-hero .details,
.mambo-hero .buttons {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--size-20);
}

.mambo-hero .details {
  grid-gap: var(--size-8);
}

@media screen and (min-width: 48rem) {
  .mambo-hero {
    padding: var(--size-56);
  }
  .mambo-hero h1 {
    font-size: var(--size-88);
    line-height: 92px;
  }
}
@media screen and (min-width: 64rem) {
  .mambo-hero {
    padding: var(--size-120);
  }
  .mambo-hero h1 {
    font-size: var(--size-96);
    max-width: 16ch;
  }
  .mambo-hero .wysiwyg p {
    font-size: var(--size-32);
  }
  .home-hero-blob {
    top: -64px;
  }
  .home-hero-blob svg {
    height: 90vh;
  }
}
@media screen and (min-width: 85.375rem) {
  .home-hero-blob {
    top: -32px;
    left: -130px;
  }
  .roots {
    top: -700px;
    left: -200px;
  }
}
.list {
  align-items: center;
  display: flex;
  grid-gap: var(--gap, 1rem);
}

.mambo-list-item {
  list-style-type: none;
  position: relative;
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: min-content 1fr;
  grid-template-areas: "icon label";
}

.mambo-list-item-font-awesome {
  list-style-type: none !important;
}

.mambo-list-item-circle,
.mambo-list-item-diamond {
  margin-left: 1rem;
}

.mambo-list-item-circle::after,
.mambo-list-item-diamond::after {
  content: " ";
  height: 8px;
  width: 8px;
  grid-area: icon;
}

.mambo-list-item-circle::after {
  border-radius: 100px;
  border: solid 3px var(--color-valencia);
  padding: 2px;
}

.mambo-list-item-diamond::after {
  background-color: var(--color-valencia);
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
}

.ornament {
  margin: 0 !important;
  position: absolute;
}

.ornament svg {
  height: auto;
  width: 100%;
}

.ornament-arrow-double {
  display: none;
}

.ornament-badge-community-curated,
.ornament-hero-decor-left,
.ornament-hero-decor-right {
  display: block;
}

.ornament-badge-community-curated {
  width: 3rem;
  top: -32px;
  right: -16px;
  z-index: 100;
}

.ornament-hero-decor-left {
  width: 10rem;
  top: -170px;
  left: -125px;
}

.ornament-hero-decor-right {
  width: 15rem;
  bottom: -200px;
  right: -160px;
}

@media screen and (min-width: 30rem) {
  .ornament-badge-community-curated {
    width: 3rem;
    top: -32px;
    right: -16px;
  }
  .ornament-hero-decor-left {
    width: 10rem;
    top: -190px;
    left: -125px;
  }
  .ornament-hero-decor-right {
    width: 15rem;
    bottom: -200px;
    right: -175px;
  }
}
@media screen and (min-width: 40rem) {
  .ornament-badge-community-curated {
    width: 5rem;
    top: -64px;
    right: 16px;
  }
  .ornament-hero-decor-left {
    width: 15rem;
    top: -250px;
    left: -160px;
  }
  .ornament-hero-decor-right {
    width: 17rem;
    bottom: -260px;
    right: -240px;
  }
}
@media screen and (min-width: 48rem) {
  .ornament-arrow-double {
    width: 8rem;
    display: block;
    bottom: -40px;
    left: -144px;
  }
  .ornament-badge-community-curated {
    width: 5rem;
    top: -64px;
    right: 16px;
  }
  .ornament-hero-decor-left {
    width: 15rem;
    top: -250px;
    left: -160px;
  }
}
@media screen and (min-width: 64rem) {
  .ornament-arrow-double {
    bottom: -40px;
    left: -130px;
  }
  .ornament-badge-community-curated {
    width: 7rem;
    top: -72px;
    right: 0px;
  }
  .ornament-hero-decor-left {
    width: 22rem;
    top: -300px;
    left: -270px;
  }
  .ornament-hero-decor-right {
    width: 20rem;
    bottom: -280px;
  }
}
@media screen and (min-width: 85.375rem) {
  .ornament-arrow-double {
    bottom: -22px;
    left: -130px;
  }
  .ornament-badge-community-curated {
    width: 7rem;
    top: -56px;
    left: -32px;
  }
  .ornament-hero-decor-left {
    width: 25rem;
    top: -250px;
    left: -350px;
  }
  .ornament-hero-decor-right {
    width: 22rem;
    right: -100px;
  }
}
@media screen and (min-width: 160rem) {
  .ornament-badge-community-curated {
    width: 7rem;
    top: 0px;
    left: 160px;
  }
  .ornament-hero-decor-left {
    width: 30rem;
    top: -250px;
    left: -275px;
  }
  .ornament-hero-decor-right {
    width: 40rem;
    right: -400px;
    top: -72px;
  }
}
/* The emerging W3C standard that is currently Firefox-only */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-white) var(--color-teal);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  max-width: 32px;
}

*::-webkit-scrollbar-track {
  background: var(--color-teal);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-white);
}

.mambo-section {
  padding: var(--size-32) var(--size-24);
}

@media screen and (min-width: 40rem) {
  .mambo-section {
    padding: var(--size-64) var(--size-24);
  }
}
@media screen and (min-width: 85.375rem) {
  .mambo-section {
    padding: var(--size-96) var(--size-56);
  }
}
.wave.left {
  transform: scaleX(-1);
}

.mambo-footer {
  border-top: solid 1px currentColor;
}

.mambo-footer > div {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "links" "social" "copyright" "skip";
}

.mambo-footer .links,
.mambo-footer .social,
.mambo-footer .copyright {
  margin: 0;
  padding: var(--size-16);
}

.mambo-footer .links {
  grid-area: links;
}

.mambo-footer .social {
  grid-area: social;
}

.mambo-footer .copyright {
  grid-area: copyright;
}

.mambo-footer .link-back-to-top {
  grid-area: skip;
}

@media screen and (min-width: 64rem) {
  .mambo-footer > div {
    grid-template-areas: "links social copyright" "skip skip skip";
    grid-template-columns: 1fr max-content 1fr;
  }
  .mambo-footer .links,
.mambo-footer .social,
.mambo-footer .copyright {
    padding: var(--size-24);
  }
  .mambo-footer .copyright {
    text-align: right;
  }
}
.mambo-header {
  border-bottom: solid 1px currentColor;
  padding: var(--size-16);
  z-index: 10000;
}

.mambo-header svg {
  fill: currentColor;
}

.mambo-header > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mambo-header a {
  text-decoration: none;
  display: block;
}

.link-skip-to-content,
.link-skip-to-content.events,
.link-back-to-top {
  display: block;
  padding: var(--size-16);
  scroll-margin-top: 120px;
}

.link-skip-to-content {
  border-bottom: solid 1px currentColor;
  position: absolute;
  transform: translateY(-120px);
}

.link-skip-to-content:focus,
.link-skip-to-content.events:focus {
  transform: translateY(0px);
  position: relative;
  text-decoration: underline;
  font-weight: 700;
  z-index: 10000;
}

.link-skip-to-content.events {
  display: block;
  position: relative;
  transform: unset;
}

.link-back-to-top {
  border-top: solid 1px currentColor;
  flex-grow: 1;
}

@media screen and (min-width: 64rem) {
  .link-skip-to-content,
.link-skip-to-content.events,
.link-back-to-top {
    padding: var(--size-24);
  }
}
.status {
  display: block;
  width: 100%;
  font-size: var(--size-16);
  font-weight: 700;
  padding: var(--size-8) var(--size-16);
}

.status.featured-on-home,
.status.featured-on-events {
  background-color: var(--dcdw-2022-pink-tertiary);
  color: var(--dcdw-2022-maroon-primary);
}

.status.sold-out {
  background-color: var(--dcdw-2022-maroon-primary);
  color: var(--dcdw-2022-cream-primary);
}

.layout-page.event-events .wave-2022-brand-partner {
  fill: var(--dcdw-2022-maroon-secondary) !important;
}

.wave svg path {
  stroke: var(--dcdw-2022-yellow-primary);
  stroke-width: 2;
  paint-order: stroke;
}

.wysiwyg > *:not(:first-child) {
  margin-top: var(--size-16);
}

.wysiwyg ul,
.wysiwyg li {
  margin-left: var(--size-16);
}

/*# sourceMappingURL=app.css.map */
