@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Recursive:wght@300;400;500;600;700;800;900&display=swap");
:root {
  /* AIGA DC: Brand Colors */
  --brand-aiga-dc: #297b76;
  /* DCDW: Past Brand Colors */
  --dcdw-2016: #0000ff;
  --dcdw-2017: #3e07d0;
  --dcdw-2018: #297b76;
  --dcdw-2019: #fb7eb8;
  --dcdw-2020: #4ae725;
  --dcdw-2021: #ec1001;
  /* DCDW: 2022 Brand Colors */
  --dcdw-2022-maroon-primary: #482D38;
  --dcdw-2022-maroon-secondary: #6F314B;
  --dcdw-2022-pink-primary: #F45999;
  --dcdw-2022-pink-secondary: #FF78B0;
  --dcdw-2022-pink-tertiary: #FFD5E6;
  --dcdw-2022-yellow-primary: #FFCD1E;
  --dcdw-2022-yellow-secondary: #FBFA7E;
  --dcdw-2022-cream-primary: #FFFFDD;
  --dcdw-2022-cream-secondary: #FFFFF5;
  /* DCDW: 2022 Brand Type */
  --dcdw-2022-brand-dm-sans: "DM Sans", sans-serif;
  --dcdw-2022-brand-recursive: "Recursive", sans-serif;
  /* Layers */
  --layer-1: 10;
  --layer-2: 100;
  --layer-3: 1000;
  --layer-4: 10000;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-maroon-primary: #482D38;
  --color-maroon-secondary: #6F314B;
  --color-pink-primary: #F45999;
  --color-pink-secondary: #FF78B0;
  --color-yellow-primary: #FFCD1E;
  --color-yellow-secondary: #FBFA7E;
  --color-cream-primary: #FFFFDD;
  --font-family-sans: 'League Spartan', sans-serif;
  --font-family-serif: 'Cormorant Garamond', serif;
  --font-family-branded-dm-sans: 'DM Sans', sans-serif;
  --font-family-branded-recursive: 'Recursive', sans-serif;
  --layer-0: -100;
  --layer-1: 100;
  --layer-2: 200;
  --layer-3: 300;
  --layer-4: 400;
  --layer-5: 500;
  --layer-6: 600;
  --layer-7: 700;
  --layer-8: 800;
  --layer-9: 900;
  --layer-10: 1000;
  --size-none: 0;
  --size-8: 0.5rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-44: 2.75rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-88: 5.5rem;
  --size-96: 6rem;
  --size-104: 6.5rem;
  --size-112: 7rem;
  --size-120: 7.5rem;
  --timing-default: 100ms;
  --weight-100: 100;
  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-maroon-primary: #482D38;
  --color-maroon-secondary: #6F314B;
  --color-pink-primary: #F45999;
  --color-pink-secondary: #FF78B0;
  --color-yellow-primary: #FFCD1E;
  --color-yellow-secondary: #FBFA7E;
  --color-cream-primary: #FFFFDD;
  --font-family-sans: 'League Spartan', sans-serif;
  --font-family-serif: 'Cormorant Garamond', serif;
  --font-family-branded-dm-sans: 'DM Sans', sans-serif;
  --font-family-branded-recursive: 'Recursive', sans-serif;
  --layer-0: -100;
  --layer-1: 100;
  --layer-2: 200;
  --layer-3: 300;
  --layer-4: 400;
  --layer-5: 500;
  --layer-6: 600;
  --layer-7: 700;
  --layer-8: 800;
  --layer-9: 900;
  --layer-10: 1000;
  --size-none: 0;
  --size-8: 0.5rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-44: 2.75rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-88: 5.5rem;
  --size-96: 6rem;
  --size-104: 6.5rem;
  --size-112: 7rem;
  --size-120: 7.5rem;
  --timing-default: 100ms;
  --weight-100: 100;
  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;
}

/* 
💐 Shoutout: Special thanks to Andy Bell for his helpful minimal reset:
https://hankchizljaw.com/wrote/a-modern-css-reset/
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
mambo-button,
h1,
h2,
h3,
h4,
hr,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
iframe,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and mambo-buttons */
input,
mambo-button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0 !important;
    animation-duration: var(--timing-default) !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: var(--timing-default) !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-x: hidden;
  color: currentColor;
}

body {
  font-family: var(--dcdw-2022-brand-dm-sans);
  font-size: var(--size-18);
  font-weight: 400;
  line-height: 1.6;
  position: relative;
}

@media screen and (min-width: 64rem) {
  body {
    font-size: var(--size-20);
  }
}
br {
  display: none;
}

figure {
  position: relative;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  display: block;
  line-height: initial;
  text-rendering: optimizeLegibility;
}

fieldset,
legend,
ul {
  border: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  vertical-align: middle;
}

/*!
 * houdinijs v11.0.4
 * A simple collapse-and-expand script
 * (c) 2019 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/houdini
 */
/**
 * Hide content
 */
.houdini {
  display: none;
  /**
  * Remove focus styles from content
  * @type {String}
  */
  /**
  * Show expanded content
  */
}

.houdini[tabindex="-1"]:focus {
  outline: none;
}

.houdini.is-expanded {
  display: block;
}

/**
 * Remove button appearance from heading buttons
 */
.houdini-heading .houdini-toggle {
  background-color: inherit;
  color: currentColor;
  border: none;
  display: flex;
  font-family: var(--dcdw-2022-brand-recursive);
  padding: 1rem;
  text-align: inherit;
  width: 100%;
}

button.mambo-anchor.action {
  display: block;
  width: 100%;
  font-size: var(--size-18);
  font-family: var(--dcdw-2022-brand-dm-sans);
  margin-top: 24px;
  text-align: center;
  position: relative;
}

.mambo-anchor.action .houdini-toggle {
  display: block;
  width: 100%;
  font-size: var(--size-18);
  font-family: var(--dcdw-2022-brand-dm-sans);
  margin-top: 24px;
  text-align: center;
  position: relative;
}

.mailchimp form > * {
  display: grid;
  grid-gap: 1rem;
}

.mailchimp form label {
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.mailchimp form input {
  background-color: transparent;
  border: solid 1px var(--dcdw-2022-cream-primary);
  color: var(--dcdw-2022-cream-primary);
  padding: 0.438rem var(--size-8);
  margin-top: var(--size-8);
}

.mailchimp form .mc-field-group.faux-button input {
  background-color: var(--dcdw-2022-yellow-primary);
  border: solid 1px var(--dcdw-2022-yellow-primary);
  color: var(--dcdw-2022-maroon-primary);
}

#mc_embed_signup input.mce_inline_error {
  border-color: var(--dcdw-2022-pink-tertiary) !important;
}

#mc_embed_signup div.mce_inline_error {
  margin: 0.5rem 0 1rem 0 !important;
  padding: 5px 10px !important;
  background-color: var(--dcdw-2022-pink-tertiary) !important;
  font-weight: bold !important;
  z-index: 1 !important;
  color: var(--dcdw-2022-maroon-primary) !important;
}

/* Controls
---------------------------------------------------------------------- */
.controls {
  padding: 1rem;
  background: #333;
  font-size: 0.1px;
}

.control {
  position: relative;
  display: inline-block;
  width: 2.7rem;
  height: 2.7rem;
  background: #444;
  cursor: pointer;
  font-size: 0.1px;
  color: white;
  transition: background 150ms;
}

.control:hover {
  background: #3f3f3f;
}

.control[data-filter]:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  border: 2px solid currentColor;
  border-radius: 2px;
  background: currentColor;
  transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-left: 2px solid;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  transform: translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
  transform: translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
  background: #393939;
}

.mixitup-control-active[data-filter]:after {
  background: transparent;
}

.control:first-of-type {
  border-radius: 3px 0 0 3px;
}

.control:last-of-type {
  border-radius: 0 3px 3px 0;
}

.radio {
  text-align: justify;
}

.radio:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.radio-input,
.radio-label {
  display: inline-block;
}

.radio-label {
  color: white;
  font-family: "helvetica-neue", arial, sans-serif;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

/* Container
---------------------------------------------------------------------- */
/* Target Elements
---------------------------------------------------------------------- */
/* Pagination Controls
---------------------------------------------------------------------- */
.controls-pagination {
  padding: 0;
  font-size: 0.1px;
  text-align: justify;
}

.controls-pagination:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.mixitup-page-list,
.mixitup-page-stats {
  display: inline-block;
  vertical-align: middle;
}

.mixitup-page-list {
  text-align: left;
}

.mixitup-page-stats {
  font-size: inherit;
}

.mixitup-page-stats-disabled {
  display: none;
}

/*!
 * Modals v10.1.2: Simple modal dialogue pop-up windows
 * (c) 2017 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/modals
 */
/**
 * Modal windows
 */
/* line 4, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal {
  background-color: var(--black);
  display: none;
  max-width: 100%;
  padding: var(--size-16);
  visibility: hidden;
  z-index: var(--index-9);
}

.modal-content-header .mambo-button.mambo-button__link.mambo-button__link--white {
  text-align: right;
  width: 100%;
  padding: 8px;
}

@media (min-width: 40em) {
  /* line 4, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal {
    max-width: 98%;
  }
}
/* line 19, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal.active {
  border: solid 1px var(--white);
  display: block;
  height: 75%;
  left: 0;
  max-height: 100%;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  -webkit-overflow-scrolling: touch;
  margin: 8px;
}

@media (min-width: 30em) {
  .modal {
    padding: var(--space-32);
  }
  .modal-content-header .mambo-button.mambo-button__link.mambo-button__link--white {
    text-align: right;
  }
  /* line 19, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal.active {
    height: auto;
    max-height: 90%;
    left: var(--space-32);
    margin-left: auto;
    margin-right: auto;
    right: var(--space-32);
    top: var(--space-32);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 40em) {
  .modal {
    padding: var(--space-48);
  }
}
@media screen and (min-width: 64rem) {
  /* line 44, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
  .modal.active.modal-medium {
    width: 60em;
  }
}
/* line 54, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal:focus {
  outline: none;
}

/**
 * Modal background
 */
/* line 63, /Users/cferdinandi/Sites/modals/src/sass/components/_modals.scss */
.modal-bg {
  background-color: var(--black);
  bottom: 0;
  position: fixed;
  left: 0;
  opacity: 0.75;
  right: 0;
  top: 0;
  z-index: var(--index-9);
}

/*!
 * tabbyjs v12.0.3
 * Lightweight, accessible vanilla JS toggle tabs.
 * (c) 2019 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/tabby
 */
/**
 * The tablist
 */
[role=tablist] {
  border-bottom: 1px solid #ecece5;
  list-style: none;
  margin: 0;
  padding: 0;
}

[role=tablist] * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
   * The tablist item
   */
@media (min-width: 30em) {
  [role=tablist] li {
    display: inline-block;
  }
}
/**
   * The tabs
   */
[role=tab] {
  border: 1px solid transparent;
  border-top-color: #ecece5;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  /**
     * Active tab styling
     */
  /**
     * Tabs on hover
     */
}

@media (min-width: 30em) {
  [role=tab] {
    border-top-color: transparent;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    display: inline-block;
    margin-bottom: -1px;
  }
}
[role=tab][aria-selected=true] {
  background-color: #ecece5;
}

@media (min-width: 30em) {
  [role=tab][aria-selected=true] {
    background-color: transparent;
    border: 1px solid #ecece5;
    border-bottom-color: #ffffff;
  }
}
[role=tab]:hover:not([aria-selected=true]) {
  background-color: #ecece5;
}

@media (min-width: 30em) {
  [role=tab]:hover:not([aria-selected=true]) {
    border: 1px solid #ecece5;
  }
}
/**
   * [hidden] fallback for IE10 and lower
   */
[hidden] {
  display: none;
}

.flow > * + *:not(:first-child) {
  margin-top: var(--gap, var(--size-24));
}

.flow-small > * + *:not(:first-child) {
  margin-top: var(--size-16);
}

.flow-large > * + *:not(:first-child) {
  margin-top: var(--size-32);
}

.flow-none {
  margin: 0;
}

/* Flex */
.flex-flow {
  display: flex;
  grid-gap: var(--gap, var(--size-16));
}

.flex-flow-column {
  flex-direction: column;
}

.flex-flow-row {
  flex-direction: row;
}

.flex-flow-start {
  align-items: start;
}

.flex-flow-center {
  align-items: center;
}

.flex-flow-end {
  align-items: end;
}

.flex-flow-space-between {
  justify-content: space-between;
}

/* Grid */
.grid-flow {
  display: grid;
  grid-gap: var(--gap, var(--size-32));
  position: relative;
}

.grid-flow-start {
  align-items: start;
}

.grid-flow-center {
  align-items: center;
}

.grid-flow-end {
  align-items: end;
}

.grid-one-column,
.grid-two-columns,
.grid-three-columns,
.grid-four-columns,
.grid-three-fourths {
  grid-template-columns: 1fr;
}

.column-span-one,
.column-span-two,
.column-span-three,
.column-span-four {
  grid-column: span 1;
}

@media screen and (min-width: 48rem) {
  .grid-two-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 64rem) {
  .column-span-two {
    grid-column: span 2;
  }
  .column-span-three {
    grid-column: span 3;
  }
  .column-span-four {
    grid-column: span 4;
  }
  .grid-three-columns {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-three-fourths {
    grid-template-columns: 1fr 0.25fr;
  }
  .grid-four-columns {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Page: faq */
.layout-faq .faq-sidebar {
  position: sticky;
  top: 1rem;
}

.event-events .grid-flow,
.event-faq .grid-flow {
  grid-gap: var(--size-64);
}

.event-events .events-list,
.event-committee .mambo-cards,
.layout-single-committee .mambo-cards,
.speakers {
  grid-gap: var(--size-64);
}

.event-committee .mambo-card.committee .image {
  aspect-ratio: 16/9;
  max-width: unset;
}

.event-committee .mambo-card.committee .image img {
  aspect-ratio: 16/9;
}

.event-committee .mambo-card .wysiwyg {
  line-height: 1.25;
}

.event-home #events {
  margin-top: var(--size-64);
}

/* Containers */
.container {
  margin: auto;
  position: relative;
}

.container-small {
  max-width: 896px;
  position: relative;
}

.container-default {
  max-width: 1366px;
  position: relative;
}

.container-large {
  max-width: 1650px;
  position: relative;
}

.disabled {
  cursor: not-allowed;
}

.enabled {
  cursor: pointer;
}

.sticky {
  position: sticky;
  top: 0;
}

@media screen and (min-width: 64rem) {
  .sticky-with-nav {
    position: sticky;
    top: 105px;
  }
}
.wave svg {
  width: 100%;
}

body {
  border-top: solid 1rem black !important;
}

@media screen and (min-width: 30rem) {
  body {
    border-top: solid 1rem orange !important;
  }
}
@media screen and (min-width: 40rem) {
  body {
    border-top: solid 1rem purple !important;
  }
}
@media screen and (min-width: 48rem) {
  body {
    border-top: solid 1rem green !important;
  }
}
@media screen and (min-width: 64rem) {
  body {
    border-top: solid 1rem red !important;
  }
}
@media screen and (min-width: 85.375rem) {
  body {
    border-top: solid 1rem navy !important;
  }
}
/* 
💐 

Change the following variables in box shadow to experiment with different potential colors for DCDW's focus style, make sure one is dark and the other is light so they work on all different kinds of backgrounds 

Credit to Ad Hoc's Scott Weber and DK for the writeup and code https://adhoc.team/2022/02/08/creating-focus-style-for-themable-design-system/ 

Thank you to Josh Kim (https://www.joshkimux.com/index.html) for providing this example for the 2022 DC Design Week site. 
*/
*[data-color=cream-on-maroon-primary] {
  background-color: var(--dcdw-2022-maroon-primary);
  color: var(--dcdw-2022-cream-primary);
}

*[data-color=cream-on-maroon-secondary] {
  background-color: var(--dcdw-2022-maroon-secondary);
  color: var(--dcdw-2022-cream-primary);
}

*[data-color=maroon-primary-on-cream] {
  background-color: var(--dcdw-2022-cream-primary);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color=maroon-primary-on-pink-tertiary] {
  background-color: var(--dcdw-2022-pink-tertiary);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color=maroon-primary-on-white] {
  background-color: var(--color-white);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color=maroon-primary-on-yellow-primary] {
  background-color: var(--dcdw-2022-yellow-primary);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color=maroon-primary-on-yellow-secondary] {
  background-color: var(--dcdw-2022-yellow-secondary);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color=maroon-secondary-on-cream] {
  background-color: var(--dcdw-2022-cream-primary);
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=maroon-primary-on-cream-secondary] {
  background-color: var(--dcdw-2022-cream-secondary);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color=maroon-secondary-on-pink-tertiary] {
  background-color: var(--dcdw-2022-pink-tertiary);
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=maroon-secondary-on-white] {
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=maroon-secondary-on-yellow-primary] {
  background-color: var(--dcdw-2022-yellow-primary);
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=maroon-secondary-on-yellow-secondary] {
  background-color: var(--dcdw-2022-yellow-secondary);
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=maroon-secondary-on-cream-primary] {
  background-color: var(--dcdw-2022-cream-primary);
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=maroon-secondary-on-cream-secondary] {
  background-color: var(--dcdw-2022-cream-secondary);
  color: var(--dcdw-2022-maroon-secondary);
}

*[data-color=pink-tertiary-on-maroon-primary] {
  background-color: var(--dcdw-2022-maroon-primary);
  color: var(--dcdw-2022-pink-tertiary);
}

*[data-color=pink-tertiary-on-maroon-secondary] {
  background-color: var(--dcdw-2022-maroon-secondary);
  color: var(--dcdw-2022-pink-tertiary);
}

*[data-color=yellow-primary-on-maroon-primary] {
  background-color: var(--dcdw-2022-maroon-primary);
  color: var(--dcdw-2022-yellow-primary);
}

a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  transition: opacity var(--timing-default) ease-in;
}

a:focus,
input:focus,
button:focus {
  box-shadow: 0 0 0 4px transparent, 0 0 0px 4px transparent;
  outline: 4px solid currentColor;
  outline-offset: 4px;
  text-decoration: none;
  position: relative;
  text-decoration-thickness: 0;
  z-index: var(--layer-1);
}

[data-color=maroon-primary-on-cream] a:focus,
[data-color=maroon-primary-on-cream] button:focus {
  box-shadow: 0 0 0 4px var(--dcdw-2022-cream-primary), 0 0 0px 4px var(--dcdw-2022-cream-primary);
  outline: 4px solid var(--dcdw-2022-maroon-primary);
}

[data-color=maroon-secondary-on-cream] a:focus,
[data-color=maroon-secondary-on-cream] button:focus {
  box-shadow: 0 0 0 4px var(--dcdw-2022-cream-primary), 0 0 0px 4px var(--dcdw-2022-cream-primary);
  outline: 4px solid var(--dcdw-2022-maroon-secondary);
}

[data-color=maroon-primary-on-cream-secondary] a:focus,
[data-color=maroon-primary-on-cream-secondary] button:focus {
  box-shadow: 0 0 0 4px var(--dcdw-2022-cream-secondary), 0 0 0px 4px var(--dcdw-2022-cream-secondary);
  outline: 4px solid var(--dcdw-2022-maroon-primary);
}

[data-color=maroon-secondary-on-cream-secondary] a:focus,
[data-color=maroon-secondary-on-cream-secondary] button:focus {
  box-shadow: 0 0 0 4px var(--dcdw-2022-cream-secondary), 0 0 0px 4px var(--dcdw-2022-cream-secondary);
  outline: 4px solid var(--dcdw-2022-maroon-primary);
}

[data-color=maroon-primary-on-yellow-primary] a:focus,
[data-color=maroon-primary-on-yellow-primary] button:focus {
  box-shadow: 0 0 0 4px var(--dcdw-2022-yellow-primary), 0 0 0px 4px var(--dcdw-2022-yellow-primary);
  outline: 4px solid var(--dcdw-2022-maroon-primary);
}

[data-color=maroon-secondary-on-yellow-primary] a:focus,
[data-color=maroon-secondary-on-yellow-primary] button:focus {
  box-shadow: 0 0 0 4px var(--dcdw-2022-yellow-primary), 0 0 0px 4px var(--dcdw-2022-yellow-primary);
  outline: 4px solid var(--dcdw-2022-maroon-secondary);
}

[data-color=cream-on-maroon-primary] a:focus,
[data-color=cream-on-maroon-primary] .mailchimp form .mc-field-group.faux-button input:focus {
  box-shadow: 0 0 0 4px var(--dcdw-2022-maroon-primary), 0 0 0px 4px var(--dcdw-2022-maroon-primary);
  outline: 4px solid var(--dcdw-2022-cream-primary);
}

[data-color=maroon-primary-on-cream-secondary] .mambo-accordion-group button:focus {
  box-shadow: 0 0 0 4px var(--dcdw-2022-cream-secondary), 0 0 0 4px var(--dcdw-2022-cream-secondary);
  outline: 4px solid var(--dcdw-2022-maroon-primary);
}

[data-color=yellow-primary-on-maroon-primary] a:focus,
[data-color=yellow-primary-on-maroon-primary] button:focus {
  box-shadow: 0 0 0 4px var(--dcdw-2022-maroon-primary), 0 0 0px 4px var(--dcdw-2022-maroon-primary);
  outline: 4px solid var(--dcdw-2022-yellow-primary);
}

h1,
.heading-1 {
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-32);
  font-weight: 900;
}

h2,
.heading-2 {
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-24);
  font-weight: 900;
}

h3,
.heading-3 {
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-18);
  line-height: 1.5;
  font-weight: 900;
}

@media screen and (min-width: 48rem) {
  h1,
.heading-1 {
    font-size: var(--size-48);
  }
}
@media screen and (min-width: 64rem) {
  h1,
.heading-1 {
    font-size: var(--size-88);
  }
  .layout-home-internal h1 {
    font-size: var(--size-88);
    font-weight: 900;
    text-align: center;
    margin: auto;
    max-width: 16ch;
  }
  h2,
.heading-2 {
    font-size: var(--size-32);
  }
  h3,
.heading-3 {
    font-size: var(--size-20);
  }
}
.filter-info {
  display: flex;
  align-items: center;
  font-weight: 900;
  padding: 1rem 0;
}

.filter-info h2 {
  font-family: var(--dcdw-2022-brand-recursive) !important;
}

.list.mobile {
  display: block;
}

.list.mobile button {
  margin-top: 0 !important;
}

.list.mobile .houdini .list {
  display: flex;
  position: absolute;
  background-color: var(--dcdw-2022-pink-tertiary);
  padding: var(--size-64);
  border-radius: 73% 27% 64% 36%/27% 66% 34% 73%;
  right: -32px;
  text-align: left;
  align-items: start;
  flex-direction: column;
  border: solid 1px var(--dcdw-2022-maroon-primary);
  max-height: 60vh;
  max-width: 320px;
  overflow-y: auto;
  top: 48px;
  grid-gap: 1rem;
}

.pagination-committee.mobile ul {
  border-radius: 24% 76% 30% 70%/33% 32% 68% 67%;
}

.list.desktop {
  display: none;
}

.pagination-events.mobile {
  display: block !important;
}

.pagination-committee.mobile {
  display: block !important;
}

.pagination-committee.desktop ul {
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
}

.pagination-committee.desktop ul > div {
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
}

.pagination-events {
  display: flex;
  justify-content: space-between;
  grid-gap: 1rem;
}

.pagination-events ul div {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.pagination-events > div {
  display: flex;
  grid-gap: 1rem;
}

.pagination-events .mambo-anchor {
  display: inline-block;
  width: auto;
}

@media screen and (min-width: 40rem) {
  .list.desktop {
    display: flex;
  }
  .list.mobile {
    display: none;
  }
}
@media screen and (min-width: 64rem) {
  .pagination-committee.desktop {
    display: block;
  }
  .pagination-committee.mobile {
    display: none;
  }
}
@media screen and (min-width: 30rem) {
  .pagination-events,
.pagination-events > div {
    width: unset;
    flex-wrap: nowrap;
  }
}
.mambo-section {
  padding: var(--size-32) var(--size-24);
}

@media screen and (min-width: 40rem) {
  .mambo-section {
    padding: var(--size-40) var(--size-24);
  }
}
@media screen and (min-width: 85.375rem) {
  .mambo-section {
    padding: var(--size-56) var(--size-56) var(--size-64) var(--size-56);
  }
}
.wave.left {
  transform: scaleX(-1);
}

.mambo-accordion .question .question-icon {
  flex-grow: 1;
  text-align: right;
}

.mambo-accordion-group > *:not(:first-child) {
  margin-top: var(--size-8);
}

.mambo-expander .mambo-accordion__header {
  display: block;
  font-size: var(--size-18);
  width: 100%;
}

.mambo-expander .question {
  gap: var(--size-16);
  align-items: center;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-20);
  justify-content: unset;
  line-height: 1.5;
  padding: var(--size-24);
  text-align: left;
  width: 100%;
}

.mambo-expander .is-expanded .answer {
  display: block;
}

.mambo-expander .answer {
  border: solid 1px currentColor;
  padding: var(--size-20);
}

.image {
  position: relative;
  display: block;
  margin: auto;
}

.mambo-anchor {
  border: solid 2px transparent;
  display: block;
  width: 100%;
  font-weight: 700;
  text-align: center;
}

.mambo-anchor.icon {
  align-items: center;
  display: flex;
  grid-gap: var(--size-8);
}

.mambo-anchor.action {
  border-radius: 1000px;
  padding: var(--size-8) var(--size-24);
}

.mambo-anchor.stacked {
  display: flex;
  flex-direction: column;
}

.mambo-anchor.stacked > * {
  grid-gap: 1.5rem;
}

.mambo-anchor.stacked span {
  font-weight: 400;
}

@media screen and (min-width: 48rem) {
  .mambo-anchor {
    display: inline-block;
    width: unset;
    text-align: left;
  }
}
.blob {
  border: solid 0.5rem var(--dcdw-2022-yellow-secondary);
  box-shadow: 0px 0px 0px 1rem var(--dcdw-2022-yellow-primary);
}

.blob-1 {
  animation-name: blobby-3;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes blobby-1 {
  0% {
    border-radius: 60% 40% 82% 18%/69% 82% 18% 31%;
  }
  50% {
    border-radius: 43% 57% 41% 59%/53% 52% 48% 47%;
  }
  100% {
    border-radius: 54% 46% 60% 40%/43% 55% 45% 57%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .blob-1 {
    border-radius: 60% 40% 82% 18%/69% 82% 18% 31%;
  }
}
.blob-2 {
  animation-name: blobby-2;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}

@keyframes blobby-2 {
  0% {
    border-radius: 46% 54% 41% 59%/54% 39% 61% 46%;
  }
  50% {
    border-radius: 66% 34% 60% 40%/46% 51% 49% 54%;
  }
  100% {
    border-radius: 73% 27% 76% 24%/27% 66% 34% 73%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .blob-2 {
    border-radius: 73% 27% 76% 24%/27% 66% 34% 73%;
  }
}
.blob-3 {
  animation-name: blobby-3;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes blobby-3 {
  0% {
    border-radius: 54% 46% 60% 40%/43% 55% 45% 57%;
  }
  50% {
    border-radius: 43% 57% 41% 59%/53% 52% 48% 47%;
  }
  100% {
    border-radius: 60% 40% 82% 18%/69% 82% 18% 31%;
  }
}
@media (prefers-reduced-motion: reduce) {
  .blob-3 {
    border-radius: 54% 46% 60% 40%/43% 55% 45% 57%;
  }
}
/* Component: mambo-button */
.mambo-button {
  font-family: var(--dcdw-2022-brand-source-sans-pro);
  font-weight: var(--weight-600);
  padding: var(--size-8) 0;
  text-align: center;
  text-decoration: none;
}

.border-bottom {
  border-top: transparent;
  border-right: transparent;
  border-bottom: solid 4px currentColor;
  border-left: transparent;
}

.mambo-card .image {
  position: relative;
}

.mambo-card .image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.mambo-card .details a {
  font-weight: 800;
}

/* This is a hacky work around specifically for Speaker and Staff cards */
.card .wysiwyg p {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--gap, 1rem);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.featured-sponsors .sponsor-tier-one,
.featured-sponsors .sponsor-tier-two {
  grid-column: span 2;
}

/* Cards */
/* Events */
.mambo-card .media {
  background-color: var(--dcdw-2022-yellow-primary);
}

.mambo-card .media img {
  box-shadow: none;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.mambo-card .media {
  background-color: var(--dcdw-2022-yellow-primary);
  border: none;
  box-shadow: none;
  transition: 0.2s;
}

.mambo-card .media:hover {
  box-shadow: 20px 20px 0px 0px var(--dcdw-2022-pink-primary);
  -webkit-box-shadow: 20px 20px 0px 0px var(--dcdw-2022-pink-primary);
  -moz-box-shadow: 20px 20px 0px 0px var(--dcdw-2022-pink-primary);
}

.mambo-card .title {
  font-family: var(--dcdw-2022-brand-recursive);
}

.mambo-card .meta {
  display: flex;
  grid-gap: var(--size-40);
}

.mambo-card .day-date {
  font-family: var(--dcdw-2022-brand-recursive);
  font-weight: 700;
  position: relative;
  padding: var(--size-8);
  text-transform: uppercase;
  font-size: var(--size-18);
  line-height: 1.25;
}

.mambo-card .day,
.mambo-card .date {
  position: relative;
  z-index: 100;
}

.mambo-card .day-date svg {
  fill: var(--dcdw-2022-yellow-primary) !important;
  position: absolute;
  top: -10px;
  right: 0;
  bottom: 0;
  left: -12px;
  width: 88px;
}

.mambo-card .time-location {
  padding: var(--size-8);
}

.mambo-card.speaker .details {
  display: flex;
  flex-direction: column;
  grid-gap: var(--size-8);
}

.mambo-card.speaker .meta {
  align-items: center;
  display: flex;
  grid-gap: var(--size-8);
}

.mambo-card.speaker .image img {
  box-shadow: none;
}

.mambo-card.committee .image {
  max-width: 248px;
}

.mambo-card.committee .image img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.mambo-card.committee .meta {
  display: flex;
  grid-gap: 0;
  flex-direction: column;
}

.speakers .mambo-card .title {
  font-family: var(--dcdw-2022-brand-dm-sans);
}

.mambo-card.speaker .name {
  font-size: var(--size-24);
}

.mambo-card.speaker .meta {
  display: flex;
  flex-wrap: wrap;
}

.mambo-card.speaker a {
  font-weight: 400;
}

.mambo-card.sponsor {
  border: solid 1px var(--dcdw-2022-yellow-secondary);
}

.mambo-card.sponsor .media img {
  mix-blend-mode: luminosity;
  filter: hue-rotate(120);
}

/* Committee */
.layout-single-committee .mambo-card.horizontal {
  display: grid;
  grid-column-gap: var(--size-32);
  grid-template-areas: "image" "body";
  grid-template-columns: 1fr;
}

.layout-single-committee .mambo-card.horizontal figure {
  grid-area: image;
}

.layout-single-committee .mambo-card.horizontal figure img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.layout-single-committee .mambo-card.horizontal .details {
  grid-area: body;
}

.layout-single-committee .mambo-card.horizontal .meta {
  display: flex;
  font-weight: 900;
  grid-gap: var(--size-8);
}

@media screen and (min-width: 48rem) {
  .layout-single-committee .mambo-card.horizontal {
    grid-column-gap: var(--size-64);
    grid-template-areas: "image body" ". body";
    grid-template-columns: 316px 1fr;
  }
}
.mambo-divider {
  background-color: currentColor;
  display: inline-block;
  margin-bottom: 8px;
  position: relative;
}

.mambo-divider .top,
.mambo-divider .bottom {
  border: none;
  height: 4px;
  width: 32px;
}

.mambo-divider .top {
  position: relative;
  z-index: 100;
}

.mambo-divider .bottom {
  position: absolute;
  left: 8px;
  top: 4px;
  z-index: 50;
}

@media screen and (min-width: 64rem) {
  .mambo-divider .top,
.mambo-divider .bottom {
    height: 8px;
    width: 48px;
  }
  .mambo-divider .bottom {
    position: absolute;
    left: 8px;
    top: 4px;
    z-index: 50;
  }
}
.filter-events__reset.control-group .mambo-button {
  width: 100%;
}

.mixitup-container-failed::after {
  content: "No events found, please refine the selected options";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.filterEvents__reset button {
  text-align: center;
  padding: 0.625rem var(--size-24) !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mambo-hero {
  display: grid;
  place-content: center;
  min-height: 75vh;
  position: relative;
  z-index: 100;
  overflow: hidden;
}

.layout-page.event-accessibility .mambo-hero,
.layout-single-committee .mambo-hero,
.layout-page.event-events .mambo-hero,
.layout-page.event-about .mambo-hero,
.layout-page.event-committee .mambo-hero,
.layout-page.event-faq .mambo-hero,
.layout-single-event .mambo-hero,
.layout-page.event-faq .mambo-hero {
  min-height: 30vh;
}

.mambo-hero .container,
.hero-content {
  position: relative;
  z-index: 2000;
}

.mambo-hero h1 {
  font-size: 2.75rem;
  font-weight: 900;
  max-width: 10ch;
}

.layout-single-event .mambo-hero h1 {
  font-size: 2rem;
  line-height: 1.25;
  max-width: unset;
}

.roots {
  position: absolute;
  top: -500px;
  right: 0;
  bottom: 0;
  left: -400px;
  overflow: hidden;
}

.roots > * {
  height: 300%;
}

.mambo-hero .details,
.mambo-hero .buttons {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--size-20);
}

.mambo-hero .details {
  grid-gap: var(--size-8);
}

@media screen and (min-width: 30rem) {
  .mambo-hero h1 {
    max-width: unset;
  }
}
@media screen and (min-width: 48rem) {
  .mambo-hero {
    padding: var(--size-56);
  }
  .mambo-hero h1 {
    font-size: var(--size-64);
    line-height: initial;
  }
}
@media screen and (min-width: 64rem) {
  .layout-page.event-accessibility .mambo-hero,
.layout-single-committee .mambo-hero,
.layout-page.event-events .mambo-hero,
.layout-page.event-about .mambo-hero,
.layout-page.event-committee .mambo-hero,
.layout-page.event-faq .mambo-hero,
.layout-single-event .mambo-hero,
.layout-page.event-faq .mambo-hero,
.layout-page.event-committee {
    min-height: 60vh;
    margin-bottom: -200px;
    padding-top: 0;
  }
  .layout-single-event .mambo-hero {
    margin-bottom: unset;
  }
  .mambo-hero h1 {
    max-width: 16ch;
  }
  .mambo-hero h1 {
    font-size: var(--size-88);
    line-height: initial;
  }
  .layout-single-event .mambo-hero h1 {
    font-size: var(--size-56);
    line-height: 1.25;
    max-width: unset;
  }
  .mambo-hero .wysiwyg p {
    font-size: var(--size-24);
  }
}
@media screen and (min-width: 85.375rem) {
  .roots {
    top: -700px;
    left: -200px;
  }
}
.home-hero-blob {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  transform: translate(-200px, -220px);
}

.home-hero-date-blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translate(32px, -48px);
  margin-top: 0 !important;
}

.home-hero-date {
  display: flex;
  flex-direction: column;
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-18);
  font-weight: 900;
  position: absolute;
  text-align: center;
  transform: translate(55%, 75%);
}

.home-hero-date time {
  margin-bottom: -8px;
}

.home-hero-date-blob svg {
  width: 144px;
}

.home-page-blob {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  transform: translate(-350px, -178px);
}

.event-about .home-page-blob {
  transform: translate(-350px, -210px);
}

.event-faq .home-page-blob {
  transform: translate(-310px, -150px);
}

.home-page-blob svg {
  width: 800px;
}

@media screen and (min-width: 30rem) {
  .home-hero-blob {
    transform: translate(-300px, -250px);
  }
  .home-hero-date-blob {
    transform: translate(32px, -48px);
  }
  .home-page-blob {
    transform: translate(-200px, -150px);
  }
  .event-about .home-page-blob {
    transform: translate(-350px, -210px);
  }
  .event-faq .home-page-blob {
    transform: translate(-310px, -180px);
  }
}
@media screen and (min-width: 40rem) {
  .mambo-hero h1 {
    max-width: 18ch;
  }
  .home-hero-blob {
    transform: translate(-300px, -300px);
  }
  .home-page-blob {
    transform: translate(-150px, -200px);
  }
  .home-page-blob svg {
    width: 900px;
  }
}
@media screen and (min-width: 48rem) {
  .home-hero-blob {
    transform: translate(-300px, -225px);
  }
  .home-page-blob {
    transform: translate(-300px, -350px);
  }
  .home-page-blob svg {
    width: 1280px;
  }
}
@media screen and (min-width: 64rem) {
  .home-hero-blob {
    transform: translate(-250px, -200px);
  }
  .home-hero-date-blob {
    left: 0;
    right: unset;
    transform: translate(8px, -16px);
  }
  .home-page-blob {
    transform: translate(-600px, -250px);
  }
}
@media screen and (min-width: 85.375rem) {
  .mambo-hero {
    min-height: 100vh;
  }
  .home-hero-blob {
    transform: translate(-250px, -200px);
  }
  .home-page-blob {
    transform: translate(-500px, -250px);
  }
}
.list {
  align-items: center;
  display: flex;
  grid-gap: var(--gap, 1rem);
}

.events-list {
  grid-gap: var(--size-56);
}

.pagination-committee button,
.pagination-events button {
  margin-top: 0 !important;
}

.mambo-footer {
  border-top: solid 1px currentColor;
  padding: var(--size-24);
}

.mambo-footer > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-gap: var(--size-24);
  justify-content: space-between;
}

.mambo-footer .social a {
  fill: currentColor;
}

.mambo-footer .social svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 64rem) {
  .mambo-footer > div {
    flex-direction: row;
  }
}
.mambo-header {
  border-bottom: solid 1px currentColor;
  padding: var(--size-16);
  z-index: var(--layer-3);
}

.mambo-header svg {
  fill: currentColor;
}

.mambo-header > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: var(--size-24);
}

.mambo-header .links .list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--size-16);
}

.mambo-header a {
  display: block;
  font-size: var(--size-18);
  text-decoration: none;
}

.mambo-header a.active {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
}

.skip-link {
  position: absolute;
  transform: translateY(-120px);
  z-index: var(--layer-4);
}

.skip-link:focus {
  position: absolute !important;
  padding: var(--size-8);
  transform: translateY(0px);
  min-width: 119px;
  text-align: center;
  box-shadow: 0 0 0 4px white, 0 0 0px 4px white;
  z-index: var(--layer-4);
}

.link-back-to-top {
  border-top: solid 1px currentColor;
  padding: var(--size-24);
}

@media screen and (min-width: 64rem) {
  .link-back-to-top {
    padding: var(--size-24);
  }
}
.statuses {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.status {
  display: block;
  width: 100%;
  font-size: var(--size-16);
  font-weight: 700;
  padding: var(--size-8) var(--size-16);
}

.status.featured-on-home,
.status.featured-on-events {
  background-color: var(--dcdw-2022-pink-tertiary);
  color: var(--dcdw-2022-maroon-primary);
}

.status.sold-out {
  background-color: var(--dcdw-2022-maroon-primary);
  color: var(--dcdw-2022-cream-primary);
}

.layout-single-event .status {
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.layout-page.event-events .wave-2022-brand-partner {
  fill: var(--dcdw-2022-maroon-secondary) !important;
}

.wave {
  overflow: hidden;
}

.wave.has-border svg path {
  stroke: var(--dcdw-2022-yellow-primary);
  stroke-width: 1;
  paint-order: stroke;
}

.wysiwyg > *:not(:first-child) {
  margin-top: var(--size-16);
}

.wysiwyg ul,
.wysiwyg li {
  margin-left: var(--size-16);
}

/*# sourceMappingURL=app.css.map */
