<section class="[ speaker ] [ flow-1 ]">
	<h2>
		Speakers
	</h2>
	<ul class="[ speakers ] [ grid grid--four-column ]">
		{% for content in speaker %}
		<li class="[ speaker ] [ card ]">
			<figure class="[ image ]">
				<img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
			</figure>
			<div class="[ info ]">
				<h3>
					{{ content.name }}
				</h3>
				<small>
					{{ content.pronunciation }}
				</small>
				<p>
					{{ content.pronouns }}
				</p>
			</div>
			<div class="[ details ]">
				<p>
					{{ content.title }}
				</p>
			</div>
		</li>
		{% endfor %}

		<div class="[ websites ]">
			{% for content in speaker.websiteLinks %}
			<a href="{{ content.websiteURL }}" rel="noreferrer noopener" target="_blank">
				{{ content.websiteLabel }}
			</a>
			{% endfor %}
		</div>
	</ul>
</section>
