<section class="[ speaker ] [ flow-1 ]">
	<h2>
		Speakers
	</h2>
	<ul class="[ grid grid--three-column ]">
		{% for content in speaker %}
		<li>
			<figure class="[ image ]">
				<img alt="{{ content.imageALT }}" loading=lazy src="{{ content.image }}">
			</figure>
			<div class="[ meta ]">
				<h3 style="display: flex; align-items: center; gap: 1rem;">
					{{ content.name }}
				</h3>
				<div>
					<p>
						Prounciation
					</p>
					<audio controls>
						<source src="/static/audio/baptiste.m4a" type="audio/mpeg">
					</audio>
				</div>
				<p>
					{{ content.title }}
				</p>
				<p>
					{{ content.pronouns }}
				</p>
				<a href="{{ content.website }}" rel="noreferrer noopener" target="_blank">
					View Website
				</a>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>
