<section class="[ events-large ] [ flow-1 ]" id="events-large">
	<h2 class="[ sr-hidden ]">
		Featured Events
	</h2>
	<ul class="[ events ] [ grid grid--three-column ]">
		{% for event in collections.events | reverse %}
		<li class="[ event ] [ {{ event.data.type | safe }} ]">
			<a class="[ anchor ]" href="{{ event.url }}">
				<figure class="[ image ]">
					<img alt="{{ event.data.imageALT }}" loading=lazy src="{{ event.data.image }}">
				</figure>
				<!-- Displays human readable date of event -->
				<div class="[ meta ]">
					{% for status in event.data.status %}
					{% if status.statusType == "Featured on Home" %}
					<p>
						{{status.statusLabel}}
					</p>
					{% elseif status.statusType == "Featured on Events" %}
					<p>
						{{status.statusLabel}}
					</p>
					{% endif %}
					{% endfor %}
					<h3>
						{{event.data.title}}
					</h3>
					<datetime>
						{{ event.data.date | readableEventDate }}
					</datetime>
				</div>
				{% if event.data.status.isFeaturedHome == true %}
				<p>
					Featured on Home == True
				</p>
				{% endif %}
			</a>
		</li>
		{% endfor %}
	</ul>
</section>
