<section class="[ events-small ] [ flow-1 ]" id="events-small">
	{% for content in events.global %}
	<h2>
		{{ content.header }}
	</h2>
	{% endfor %}
	<ul class="[ events ] [ grid grid--four-column ]">
		{% for event in collections.events | reverse %}
		{% if event.data.status.isFeaturedHome %}
		<li class="[ event ] [ {{ event.data.type | safe }} ]">
			<a class="[ anchor ]" href="{{ event.url }}">
				<figure class="[ image ]">
					<img alt="{{ event.data.imageALT }}" loading=lazy src="{{ event.data.image }}">
				</figure>
				<div class="[ meta ]">
					<p>
						Featured Event == true
					</p>
					<h3>
						{{ event.data.title }}
					</h3>
					<!-- Displays human readable date of event -->
					<datetime>
						{{ event.data.date | readableEventDate }}
					</datetime>
				</div>
				<div>
					<small>Testing</small>
					{% if event.data.tickets.hasMemberButton %}
					<p>
						Member Button == true
					</p>
					{% endif %}
					{% if event.data.tickets.hasNonMemberButton %}
					<p>
						Non-Member Button == true
					</p>
					{% endif %}
				</div>
			</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	{% for content in events.global %}
	<a class="mambo-button {{ content.buttonColor }}" href="{{ content.buttonURL }}">
		{{ content.buttonLabel }}
	</a>
	{% endfor %}
</section>
