<section>
	<h2>
		Featured Events
	</h2>
	<ul class="events [ grid grid--three-column ]">
		{% for event in collections.events | reverse %}
		<!-- Display image with link to event. -->

		<li class="event {{ event.data.type | safe }}">
			<a class="anchor" href="{{ event.url }}">
				<figure class="image">
					<img alt="{{ event.data.imageALT }}" loading=lazy src="{{ event.data.image }}">
				</figure>
				<!-- Displays human readable date of event -->
				<div class="meta">
					<h3>
						{{event.data.title}}
					</h3>
					<datetime>
						{{ event.data.date | readableEventDate }}
					</datetime>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</section>
