<section class="[ small-faqs ] [ flow-1 ]" id="small-faqs" {% for content in faqs.smallFaqs %}
	style="background-color: {{ content.sectionBGColor | safe }}; color: {{ content.sectionTextColor | safe }};"
	{% endfor %}>
	{% for content in faqs.smallFaqs %}
	<h2>
		{{ content.header }}
	</h2>
	<p>
		{{ content.body | safe }}
	</p>
	<a class="mambo-button" href="{{ content.buttonURL }}"
		style="background-color: {{ content.buttonBGColor | safe }}; color: {{ content.buttonTextColor | safe }};">
		{{ content.buttonLabel }}
	</a>
	{% endfor %}
</section>
