<section class="[ faqs ] [ flow-1 ]" id="faqs">
	<div class="[ grid grid--align-start grid--four-column ]">
		<!-- Main FAQs -->
		<ul class="[ faqs-list ] [ grid--three-column-span ] [ flow-1 ]">
			{% for question in faqs.questions %}
			<li class="[ mambo-accordion ]">
				<!-- Trigger for hidden content -->
				<h2 aria-label="" class="mambo-accordion__header" data-houdini-toggle="{{ question.trigger }}">
					{{ question.question }}
				</h2>
				<!-- Hidden Content -->
				<div class="mambo-accordion__content border-dcdw-2021-black {% if question.expanded == true %} faq-answer is-expanded {% endif %} wysiwyg flow-2"
					data-houdini-group="faq" id="{{ question.trigger }}">
					{{ question.answer | safe }}
				</div>
			</li>
			{% endfor %}
		</ul>
		<!-- Sticky Sidebar -->
		<div class="[ faqs-sidebar ] [ grid--one-column-span ]">
			<div class="[ flow-1 ]">
				<h3>
					Contact
				</h3>
				<div>
					<p class="">
						General Questions
					</p>
					<p>
						Email: <a href="mailto:designweek@dc.aiga.org">designweek@dc.aiga.org</a>
					</p>
				</div>
				<div>
					<p>
						Accessibility Questions
					</p>
					<p>
						Email: <a href="mailto:accessibility@dc.aiga.org">accessibility@dc.aiga.org</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	var disclosure = new Houdini('[data-houdini-group="faq"]', {
		isAccordion: true,
		collapseOthers: true,
		icon: 1, /* If true, include an expand/collapse icon */
		iconClass: 'houdini-toggle-icon', /* The class to use for the expand/collapse icon */
		iconAttribute: 'data-houdini-icon', /* The data attribute to use for the expand/collapse icon */
		iconShow: '<i class="fas fa-chevron-right"></i>', /* The icon to expand an accordion */
		iconHide: '<i class="fas fa-chevron-down"></i>', /* The icon to collapse an accordion */
	});
</script>
