<section class="[ hero-home ] { flow-1 ]" id="hero-home">
	<span id="skip-to-content">
		<h1>
			{{ title }}
		</h1>
	</span>
	<div class="wysiwyg flow-3">
		{{ description }}
	</div>
	{% if page.url == '/events/test/' %}
	{% for button in tickets %}
	{% if button.buttonType == 'Member'%}
	<a href="{{ button.buttonURL }}" rel="noreferrer nofollow" target="_blank">
		{{ button.buttonLabel }}
	</a>
	{% else %}
	<a href="{{ button.buttonURL }}" rel="noreferrer nofollow" target="_blank">
		{{ button.buttonLabel }}
	</a>
	{% endif %}
	{% endfor %}
	{% endif %}
</section>
