<!-- 
	Component: Mambo Footer 
	SCSS: _footer.scss
-->

<footer class="[ mambo-footer ] [ ]">
	{% for content in settings.footerContact %}
	<a aria-label="{{ content.contactARIA }}" class="anchor" href="{{ content.contactURL }}" rel="noopener nofollow"
		target="_blank">
		{{ content.contactTitle | safe }}
	</a>
	{% endfor %}
	<ul class="links">
		{% for link in settings.footerLinks %}
		<li class="link">
			<a aria-label="{{ link.socialTitle }}" class="anchor" href="{{ link.socialURL }}" rel="noopener nofollow"
				target="_blank">
				{{ link.socialIcon | safe }}
			</a>
		</li>
		{% endfor %}
	</ul>
	{% for content in settings.footerCopyright %}
	<a aria-label="{{ content.copyrightARIA }}" class="anchor" href="{{ content.copyrightURL }}" rel="noopener nofollow"
		target="_blank">
		{{ content.copyrightTitle | safe }}
	</a>
	{% endfor %}
</footer>
