<header class="[ mambo-header ][ flex-flow flex-flow-row flex-flow-center flex-flow-space-between ][ padding-16 ]">
	<div>
		<a data-type="logo" href="/">
			{% include 'partials/dcdw-logo.html' %}
		</a>
	</div>
	<ul class="[ links ] [ flex-flow flex-flow-row flex-flow-center ]">
		{% for link in settings.primaryNavLinks %}
		<li class="link">
			<a aria-label="{{ link.Title }}" class="anchor mambo-button-link" href="{{ link.URL }}" rel="noopener nofollow" target="_blank">
				{{ link.Title | safe }}
			</a>
		</li>
		{% endfor %}
	</ul>
</header>
