<!-- 
	Component: Mambo Footer 
	SCSS: _footer.scss
-->

<footer class="[ mambo-footer ][ grid-flow ][ padding-all-16 ]">
	{% for content in settings.footerContact %}
	<a aria-label="{{ content.contactARIA }}" class="anchor mambo-button-link" href="{{ content.contactURL }}"
		rel="noopener nofollow" target="_blank">
		{{ content.contactTitle | safe }}
	</a>
	{% endfor %}
	<ul class="[ links ][ flex-flow flex-flow-row flex-flow-center ]">
		<h4>
			Social Media:
		</h4>
		{% for link in settings.socialMediaLinks %}
		<li class="link">
			<a aria-label="{{ link.title }}" class="anchor [ flex-flow flex-flow-row flex-flow-center ]"
				href="{{ link.url }}" rel="noopener nofollow" target="_blank">
				{{ link.icon | safe }} {{ link.title | safe }}
			</a>
		</li>
		{% endfor %}
	</ul>
	<ul class="[ links ] [ flex-flow flex-flow-row flex-flow-center ]">
		<h4>
			Primary Navigation:
		</h4>
		{% for link in settings.primaryNavLinks %}
		<li class="link">
			<a aria-label="{{ link.title }}" class="anchor mambo-button-link" href="{{ link.url }}">
				{{ link.title | safe }}
			</a>
		</li>
		{% endfor %}
	</ul>
	<ul class="[ links ][ flex-flow flex-flow-row flex-flow-center ]">
		<h4>
			Secondary Navigation:
		</h4>
		{% for link in settings.secondaryNavLinks %}
		<li class="link">
			<a aria-label="{{ link.title }}" class="anchor mambo-button-link" href="{{ link.url }}">
				{{ link.title | safe }}
			</a>
		</li>
		{% endfor %}
	</ul>
	<p>&copy; AIGA DC | 2022 All Rights Reserved.</p>
</footer>
