// // Color Combos
// .black-on-gray {
//     background-color: var(--color-gray);
//     color: var(--color-black);
// }

// .black-on-white {
//     background-color: var(--color-white);
//     color: var(--color-black);
// }

// .cream-on-black {
//     background-color: var(--color-black);
//     color: var(--color-cream);
// }

// .gray-on-black {
//     background-color: var(--color-black);
//     color: var(--color-gray);
// }

// .white-on-black {
//     background-color: var(--color-black);
//     color: var(--color-white);
// }

// .white-on-teal {
//     background-color: var(--color-teal);
//     color: var(--color-white);
// }

// .white-on-teal {
//     background-color: var(--color-teal);
//     color: var(--color-white);
// }

// .white-on-zodiac {
//     background-color: var(--color-zodiac);
//     color: var(--color-white);
// }

// .zodiac-on-cream {
//     background-color: var(--color-cream);
//     color: var(--color-zodiac);
// }

// .zodiac-on-white {
//     background-color: var(--color-white);
//     color: var(--color-zodiac);
// }

// // Data Colors
// *[data-color="white-on-zodiac"] {
//     transition: background-color ease-in 500ms;
//     background-color: var(--color-zodiac) !important;
// }

// *[data-color="white-on-zodiac"] .mambo-accordion .question {
//     background-color: var(--color-cream);
//     border: solid 1px var(--color-cream);
//     color: var(--color-zodiac);
// }

// *[data-color="white-on-black"] .mambo-divider .top {
//     border-color: var(--color-cream);
// }

// *[data-color="white-on-black"] .mambo-divider .bottom {
//     border-color: var(--color-valencia);
// }

// *[data-color="white-on-zodiac"] .mambo-divider .top {
//     border-color: var(--color-cream);
// }

// *[data-color="white-on-zodiac"] .mambo-divider .bottom {
//     border-color: var(--color-valencia);
// }

// *[data-color="zodiac-on-cream"] .mambo-divider .top {
//     border-color: var(--color-valencia);
// }

// *[data-color="zodiac-on-cream"] .mambo-divider .bottom {
//     border-color: var(--color-zodiac);
// }

// *[data-color="zodiac-on-white"] .mambo-divider .top {
//     border-color: var(--color-valencia);
// }

// *[data-color="zodiac-on-white"] .mambo-divider .bottom {
//     border-color: var(--color-zodiac);
// }

// *[data-color="white-on-zodiac"] .wysiwyg a,
// *[data-color="white-on-zodiac"] .mambo-card a,
// *[data-color="zodiac-on-white"] .mambo-card a {
//     color: var(--color-cream) !important;
// }

// *[data-color="white-on-zodiac"] .mambo-accordion .answer.is-expanded a,
// *[data-color="zodiac-on-white"] .wysiwyg a {
//     color: var(--color-valencia) !important;
// }


// *[data-color="white-on-zodiac"] .mambo-accordion .answer.is-expanded {
//     background-color: var(--color-white);
//     border: solid 1px var(--color-cream);
//     color: var(--color-zodiac);
// }

// *[data-color="zodiac-on-white"] .mambo-accordion .question {
//     background-color: var(--color-zodiac);
//     border: solid 1px var(--color-zodiac);
//     color: var(--color-white);
// }

// *[data-color="zodiac-on-white"] .mambo-accordion .answer {
//     background-color: var(--color-white);
//     border: solid 1px var(--color-zodiac);
//     color: var(--color-zodiac);
// }

// *[data-color="zodiac-on-white"] .answer li::marker,
// *[data-color="zodiac-on-white"] li::marker {

//     color: var(--color-valencia);
// }


// *[data-color="white-on-zodiac"] .answer li::marker,
// *[data-color="zodiac-on-white"] .answer li::marker {
//     color: var(--color-valencia);
// }

// *[data-color="zodiac-on-white"] li::marker {
//     color: var(--color-valencia);
// }

// *[data-color="white-on-zodiac"] li::marker {
//     color: var(--color-cream);
// }

// *[data-color="zodiac-on-white"] ul ul li,
// *[data-color="white-on-zodiac"] ul ul li {
//     list-style-image: url('static/images/list-item-square.svg');
// }

// *[data-color="zodiac-on-white"] ul ul ul li,
// *[data-color="white-on-zodiac"] ul ul ul li {
//     list-style-image: url('static/images/list-item-circle.svg');
// }

// *[data-color="zodiac-on-white"] ul ul ul ul li,
// *[data-color="white-on-zodiac"] ul ul ul ul li {
//     list-style-image: url('static/images/list-item-diamond.svg');
// }

// ul>* {
//     margin-top: 12px;
//     list-style-position: outside;
// }

// Color Combos
// Data Colors

/* 
💐 

Change the following variables in box shadow to experiment with different potential colors for DCDW's focus style, make sure one is dark and the other is light so they work on all different kinds of backgrounds 

Credit to Ad Hoc's Scott Weber and DK for the writeup and code https://adhoc.team/2022/02/08/creating-focus-style-for-themable-design-system/ 

Thank you to Josh Kim (https://www.joshkimux.com/index.html) for providing this example for the 2022 DC Design Week site. 
*/

*[data-color="cream-on-maroon-primary"] {
  background-color: var(--dcdw-2022-maroon-primary);
  color: var(--dcdw-2022-cream-primary);
}

*[data-color="cream-on-maroon-primary"]:focus {
  box-shadow: 0 0 0 4px currentColor, 0 0 0px 4px currentColor;
  // Add support for Windows High Contrast Mode (WHCM)
  // The transparent color only shows when WHCM is triggered
  outline: 4px solid var(--dcdw-2022-yellow-primary);
  outline-offset: 4px;
  overflow: hidden;
  position: relative;
  text-decoration-thickness: 0;
  z-index: var(--layer-1);
}

*[data-color="cream-on-maroon-secondary"] {
  background-color: var(--dcdw-2022-maroon-secondary);
  color: var(--dcdw-2022-cream-primary);
}

*[data-color="maroon-primary-on-cream"] {
  background-color: var(--dcdw-2022-cream-primary);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color="maroon-primary-on-cream"]:focus {
  box-shadow: 0 0 0 4px currentColor, 0 0 0px 4px currentColor;
  // Add support for Windows High Contrast Mode (WHCM)
  // The transparent color only shows when WHCM is triggered
  outline: 4px solid var(--dcdw-2022-yellow-primary);
  outline-offset: 4px;
  overflow: hidden;
  position: relative;
  text-decoration-thickness: 0;
  z-index: var(--layer-1);
}

*[data-color="maroon-primary-on-yellow-primary"] {
  background-color: var(--dcdw-2022-yellow-primary);
  color: var(--dcdw-2022-maroon-primary);
}

*[data-color="maroon-primary-on-yellow-primary"]:focus {
  box-shadow: 0 0 0 4px currentColor, 0 0 0px 4px currentColor;
  // Add support for Windows High Contrast Mode (WHCM)
  // The transparent color only shows when WHCM is triggered
  outline: 4px solid var(--dcdw-2022-yellow-primary);
  outline-offset: 4px;
  overflow: hidden;
  position: relative;
  text-decoration-thickness: 0;
  z-index: var(--layer-1);
}
