@include generate-utility-classes();

/* Containers */
.container {
  position: relative;
}

.container-small {
  max-width: 896px;
}

.container-default {
  max-width: 1366px;
}

.container-large {
  max-width: 1650px;
}

// Gaps
.gap-1 {
  --gap: var(--size-20);
}
