h1,
.heading-1 {
  font-size: var(--size-32);
}

h2,
.heading-2 {
  font-size: var(--size-24);
}

h3,
.heading-3 {
  font-size: var(--size-18);
}

h4,
.heading-4 {}

h5,
.heading-5 {}

h6,
.heading-6 {}

@media screen and (min-width: 40rem) {}

@media screen and (min-width: 48rem) {

  h1,
  .heading-1 {
    font-size: var(--size-48);
  }
}

@media screen and (min-width: 64rem) {}

@media screen and (min-width: 85.375rem) {

  h1,
  .heading-1 {
    font-size: var(--size-88);
  }

  h2,
  .heading-2 {
    font-size: var(--size-32);
  }

  h3,
  .heading-3 {
    font-size: var(--size-20);
  }
}
