h1,
.heading-1 {
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-32);
}

h2,
.heading-2 {
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-24);
}

h3,
.heading-3 {
  font-family: var(--dcdw-2022-brand-recursive);
  font-size: var(--size-16);
}

h4,
.heading-4 {}

h5,
.heading-5 {}

h6,
.heading-6 {}

@media screen and (min-width: 40rem) {}

@media screen and (min-width: 48rem) {

  h1,
  .heading-1 {
    font-size: var(--size-48);
  }
}

@media screen and (min-width: 64rem) {

  h1,
  .heading-1 {
    font-size: var(--size-88);
  }

  .layout-home-internal h1 {
    font-size: var(--size-96);
    font-weight: 900;
    text-align: center;
    margin: auto;
    max-width: 16ch;
  }

  h2,
  .heading-2 {
    font-size: var(--size-32);
  }

  h3,
  .heading-3 {
    font-size: var(--size-18);
  }
}

@media screen and (min-width: 85.375rem) {}
