{% for event in collections.event | reverse %}
  <li class="[ mambo-card event ][ {{ event.data.type | safe }} ][ flow ][ mix {% include '2-layout-blocks/page/events/filterLogic.njk' %} ]">
    <div class="[ media ]">
      <figure class="[ image ]">
        <img alt="{{ event.data.hero.featuredImage.imageALT }}" loading=lazy src="{{ event.data.hero.featuredImage.image }}">
      </figure>
      <div class="[ statuses ]">
        {% for status in event.data.status %}
          {% if status.statusType == "Featured on Home" %}
            <p class="[ status featured-on-home ]">{{status.statusLabel}}</p>
          {% elseif status.statusType == "Featured on Events" %}
            <p class="[ status featured-on-events ]">{{status.statusLabel}}</p>
          {% elseif status.statusType == "Sold Out" %}
            <p class="[ status sold-out ]">{{status.statusLabel}}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="[ details ]">
      <a href="{{ event.url }}">
        <h3 class="[ title ]">
          {{ event.data.title | safe }}
        </h3>
      </a>
    </div>
    <div class="[ meta ]">
      <div class="[ day-date ]">
        <p class="[ day ]">
          {{ event.data.eventDetails.startDate | dayShort }}
        </p>
        <div>
          <datetime class="[ date ]">
            {{ event.data.eventDetails.startDate | monthShort }}
          </datetime>
          <span style="color: currentColor;">.</span>
          <datetime class="[ date ]">
            {{ event.data.eventDetails.startDate | date }}
          </datetime>
        </div>
        <span>
          {% include "static/images/blob-date.svg" %}
        </span>
      </div>
      <div class="[ time-location ]">
        <datetime class="[ time ]">
          {{ event.data.eventDetails.startDate | time }} - {{ event.data.eventDetails.endDate | time }}
        </datetime>
        <p class="[ location ]">
          {{ event.data.eventDetails.location }}
        </p>
      </div>
    </div>
  </li>
{% endfor %}
